<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-8">

<h2>Daily Checks</h2><br>
<h4><%= link_to "History", daily_checks_history_path, style: 'color:#484848;' %>
Yesterday
 <%= link_to "Today", daily_checks_today_path, style: 'color:#484848;' %> 
 </h4>

 <table class="table table-condensed">
 <tr>
 <td rowspan="2" style="width: 20%"><h4>Safe</h4></td>
 <td style="width: 15%"><b>Morning:</b></td>
 <% if @safe_morning.any? %>
   <% if !@safe_morning[0].completed.blank? %>
 <td><i class="fa fa-check-circle fa-2x" style='color: #9ACD32;'></td><td>Float Gap<br>£<%= @safe_morning[0].float_gap %></td><td><%= @safe_morning[0].completed %><br>By: <%= @safe_morning[0].completed_by %><br><small><%= @safe_morning[0].float_comment %></td><td><%= link_to "View Details", cashfloat_path(@safe_morning[0].id) %></td>
 <% elsif @safe_morning[0].completed.blank? %>
 <td><i class="fa fa-gear fa-2x" style='color: #F7FE2E;'></td><td></td><td>Started By: <%= @safe_morning[0].completed_by %></td><td><%= link_to "Complete Check", edit_cashfloat_path(@safe_morning[0].id) %></td>
 <% end %>
   <% else %>
 <td><i class="fa fa-times-circle fa-2x" style='color: #FF0000;'></td><td colspan="3"></td></td> 
    <% end %>  
 </tr>
 <tr>
<td style="width: 15%"><b>Evening:</b></td>
<% if @safe_evening.any? %>
<td><i class="fa fa-check-circle fa-2x" style='color: #9ACD32;'></td><td>Float Gap<br>£<%= @safe_evening[0].float_gap %></td><td><%= @safe_evening[0].completed %><br>By: <%= @safe_evening[0].completed_by %><br><small><%= @safe_evening[0].float_comment %></td><td><%= link_to "View Details", cashfloat_path(@safe_evening[0].id) %></td>
  <% else %>
<td><i class="fa fa-times-circle fa-2x" style='color: #FF0000;'></td><td colspan="3"></td></td> 
   <% end %>  
 </tr>
 </table>
 
 <br>
 <table class="table table-condensed">
 <tr>
 <td rowspan="2" style="width: 20%"><h4>Main Till</h4></td>
 <td style="width: 15%"><b>Morning:</b></td>
 <% if @main_till_morning.any? %>
 <td><i class="fa fa-check-circle fa-2x" style='color: #9ACD32;'></td><td>Float Gap<br>£<%= @main_till_morning[0].float_gap %></td><td><%= @main_till_morning[0].completed %><br>By: <%= @main_till_morning[0].completed_by %><br><small><%= @main_till_morning[0].float_comment %></td><td><%= link_to "View Details", cashfloat_path(@main_till_morning[0].id) %></td>
   <% else %>
 <td><i class="fa fa-times-circle fa-2x" style='color: #FF0000;'></td><td colspan="3"></td> 
    <% end %>  
 </tr>
 <tr>
<td style="width: 15%"><b>Evening:</b></td>
<% if @main_till_evening.any? %>
<td><i class="fa fa-check-circle fa-2x" style='color: #9ACD32;'></td><td>Float Gap<br>£<%= @main_till_evening[0].float_gap %></td><td><%= @main_till_evening[0].completed %><br>By: <%= @main_till_evening[0].completed_by %><br><small><%= @main_till_evening[0].float_comment %></td><td><%= link_to "View Details", cashfloat_path(@main_till_evening[0].id) %></td>
  <% else %>
<td><i class="fa fa-times-circle fa-2x" style='color: #FF0000;'></td><td colspan="3"> </td>
<% end %>
 </tr>
 </table>


