<br>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
  
   <div class="well well-small">
   <center><%= image_tag "HF-Logo-Lndscape.jpg", size: "600x160" %></center>
   	  <br>
   
    <h3  class="text-center">When do you want your table?</h3>
    <br><br>
    
    <%= form_tag booking_confirmation_bookings_path, multipart: true, :class => "form-inline" do %>  
  
     <p  class="text-center">
     Restaurant
          <select name="booking[restaurant]">
        <option value="<%= Restaurant.first.name %>"><%= Restaurant.first.name %></option>
      </select>
      </p>
      <br>
  
 <p  class="text-center">
    Book day
    <%= date_select('booking', 'booking_date', :order => [ :month, :day, :year], default: 1.day.from_now)  %>
    </p>
    
   <br>  
   <p  class="text-center">
   Book Time
   <select name="booking[booking_time_hour]">
     <option value="-">Select Hour</option>
     <option value="11">11</option>
     <option value="12">12</option>
     <option value="13">13</option>
     <option value="14">14</option>
     <option value="15">15</option>
     <option value="16">16</option>
     <option value="17">17</option>
     <option value="18">18</option>
     <option value="19">19</option>
     <option value="20">20</option>
     <option value="21">21</option>     
   </select>
    <select name="booking[booking_time_min]">
      <option value="-">Select Min</option>
      <option value="00">00</option>
      <option value="30">30</option>
    </select>
 </p> 
   
      <br>      
   <p  class="text-center">
   Number of Diners
      <select name="booking[number_of_diners]">
        <option value="0">Select Number</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </select>
   </p> 
         <br>  
        <center>
          <%= submit_tag "CHECK FOR TABLE", name: nil, class: "btn btn-success" %>   
             <% end %>
         </center>
</div></div>
</div>