<%= render 'layouts/external_header' %>
   
<%= render 'static_pages/side_welcome_open_hours'%>

<!-- Instructions: This is the menu section. -->  

   <div class="col-md-3" style="padding-top:50px;">
    <h6><b><font color=#9ACD32>PLEASE NOTE</font></b></h6>
    <h6>We only book tables for half of our restaurant
    to make sure we have plenty of room for walk in customers. 
    <br><br>We'd recommend booking if you're a larger number (over 6 people), have access needs or have children. 
     </div></h6>


   <!-- Instructions: This is the table booking section. -->  

    <div class="col-md-4">
    <br>
    <table class="table">
    <tr><td><center>Online bookings for Today <br>must be confirmed before 17:15.</td></tr>
    <tr><td>
    <%= form_tag booking_confirmation_bookings_path, multipart: true, :class => "form-inline" do %>  
  
      <table class="table-condensed" style="border: 0; text-align:left; background-color: transparent">
      <tr><td style="width: 5%"></td><td style="width: 20%"></td><td style="width: 70%"></td><td style="width: 5%"></td></tr>
      
      <tr>
      <td></td>
      <td>Date</td>
      <td><input style='color:black;' class="datepicker" data-provide='datepicker' id="booking_date" name="booking[booking_date]" data-date-start-date=[09-03-2016] type="text" data-date-days-of-week-disabled=[1,2] data-date-week-start=[1] data-date-end-date=[30-11-2016] data-date-autoclose=[true] data-date-format=dd-mm-yyyy  data-date-today-highlight=true data-date-orientation="bottom" >   
       </td>
      <td></td>
      </tr>
      
      <% grouped_options = [
            ['Select', ['hour']],
     ['Wed, Thurs',[['5PM','17'],['6PM','18'],['7PM','19'],['8PM','20'],['9PM','21']]],
     ['Fri, Sat',[['12 NOON','12'],['1PM','13'],['2PM','14'],['3PM','15'],['4PM','16'],['5PM','17'],['6PM','18'],['7PM','19'],['8PM','20'],['9PM','21']]],['Sun',[['12 NOON','12'],['1PM','13'],['2PM','14'],['3PM','15'],['4PM','16']]]] %>
    <% diner_options = ["people",1,2,3,4,5,6,7,8,9,10] %>
     <% min_options = ["min",00,30] %>
      
      <tr>
      <td></td>
      <td>Time</td>
      <td> <%= select_tag 'booking[booking_time_hour]', grouped_options_for_select(grouped_options), class:"form-control input-sm" %>
      <%= select_tag 'booking[booking_time_min]', options_for_select(min_options), class:"form-control input-sm" %>
      </td>
      <td></td>
      </tr>
      
      <tr>
      <td></td>
      <td>People</td>
      <td>
      <%= select_tag 'booking[number_of_diners]', options_for_select(diner_options), class:"form-control input-sm" %>
      </td>
      <td></td>
      </tr>
      <input id="restaurant_id" name="booking[restaurant]" type="hidden" value="Hang Fire Southern Kitchen">
      
      <tr>
      <td></td>
      <td></td>
      <td>  <%= submit_tag "CHECK FOR AVAILABLITY", name: nil, class: "btn btn-success btn-sm" %>   
             <% end %></td>
      <td></td>
      </tr>
      </table>
     
      </td></tr></table>
         
      <!-- Instructions: This is the function room booking section. -->  
      <br>
       <h4><i class="fa fa-user-secret fa-fw"></i><strong>  BOOK OUR PRIVATE ROOM</strong> </h4>
  
       <table class="table"><tr><td>
      <h4>COMING SOON...</h4>
     
         </td></tr></table>
      

</div>




 
 
   
   