<%= render 'layouts/external_header' %>
   
<%= render 'static_pages/side_welcome_function_room'%>

<!-- Instructions: This is the menu section. -->  

   <div class="col-md-7" style="padding-top:10px;">

    <h5><b><font color=#9ACD32>Planning an event for 16+ people?</font></b></h5>
    <h6>
    The <i>Engine Room</i> is our dedicated space for private functions, available for hire on Wednesday and Thursday evenings.
     <br><br>
    
    - <%= link_to 'Click here ', download_engine_tandc_pdf_url, style: 'color:#9ACD32;' %>to download our terms and conditions
    <br><br>
    
     
    - <%= link_to 'Click here ', download_function_pdf_url, style: 'color:#9ACD32;' %>to download the Engine Room set menus
    <br><br>
    For questions or bookings email us at <b>hangfirebarry@gmail.com</b>
    <br><br>
 </h6>

   <!-- Instructions: This is the photo section. -->  
    
      
     <%= image_tag "engine_room_1.JPG", :class => "photo_img3" %>

  </div>

 
 
   
   