<div class="hfsk-location-background">

<%= render 'layouts/external_header' %>
<div class="row">
 <div class="col-md-10 col-md-offset-1  "> 
 <div class="row">
  <div class="col-md-4">
   <h6>OPENING HOURS</h6>
   <br>

   <!-- Instructions: This is the opening hours section. -->  

   <h6>Weds / Thurs - 5pm -11pm
   <br>[last food orders 9pm]
   </h6>
   <br>
   <h6>Fri / Sat Lunch - 12pm -3pm
   <br>[last food orders 2pm]
   </h6>
    <br>
   <h6>Fri / Sat Dinner - 5pm -11pm
   <br>[last food orders 9pm]
   </h6>
    <br>
   <h6>Sun Lunch - 12pm - 5pm
   <br>[last food orders 3pm]
   </h6> 
   <br>
   <h6>Mon / Tues - Closed
   </h6>
    <br>
    <%= link_to "BOOK A TABLE", static_pages_new_booking_enquiry_path, :class => "btn button_book_table_orange", :style=>'color:#000000;'  %>
  <br>
 </div>
 
<!-- Instructions: This is the intro section. -->  

  <div class="col-md-8">
  <h5>PAY YOUR DEPOSIT</h5>
  <br>
    <h6>Thanks for booking your table at Hang Fire Southern Kitchen.<br><br> 
    You can now pay your deposit securely via credit/debit card, by following these steps:</h6>
    
   
    <% if @error.present? %>
      <!-- Instructions: This is the error section. -->    
      <h4>
      <ol>
      <li>Search for your booking.</li>
        <li>Review details and confirm deposit amount.</li>
        <li>Pay your deposit using Stripe secure card payment.</li>
        <li>Receive your payment confirmation details and email.</li>
        or
        <font color="#FFFF00">  <li>Receive error messages and instructions.</li></font>
      </ol>
      </h4>
      <br><hr>
      
      <% if @error %>
      <h6><small>Stripe System Error: <%= @error %></h6>
      <% end %>
      
      <h6>We're sorry, there has been a problem with your card<br> 
      and Stripe has not accepted payment at this time.<br>
      <br><b>
      Your card has not been charged.
      <br><br></b>
      Please contact us by email at contacthangfirebbq@gmail.com to pay your deposit.</h6>
    
   <!-- Instructions: This is the processing section. -->  
   <% elsif @bookings==0 || !@bookings.any? %>
 
     <h4>
     <ol>
      <font color="#FFFF00"> <li>Search for your booking.</li></font>
       <li>Review details and confirm deposit amount.</li>
       <li>Pay your deposit using Stripe secure card payment.</li>
       <li>Receive your payment confirmation details and email.</li>
     </ol>
     </h4>
     <br>
     
  <!-- Instructions: This is the search section. -->     
    
     <%= form_tag hfsk_pay_deposit_path, method: :get, :class => "form-inline" do %>

         <h6>Please enter:<br>
         <%= hidden_field(:booking, :name, :placeholder => "Name", :class=>"form-control input-sm") %>
         <%= hidden_field(:booking, :booking_date_time, :placeholder => "DateTime", :class=>"form-control input-sm") %>
 
         <%= text_field(:booking, :phone, :placeholder => "Phone", :class=>"form-control input-sm") %>
         or
         <%= text_field(:booking, :email, :placeholder => "Email", :class=>"form-control input-sm") %>
    
       <br><br>
       <button type="submit" class="btn btn-primary btn-sm">Search</button>
     <% end %>
     <br><br><br><br>
     
     <% else @bookings.any? %>
<!-- Instructions: This is the review and pay section. -->  
     
      <h4>
      <ol>
       <li>Search for your booking.</li>
        <font color="#FFFF00">  <li>Review details and confirm deposit amount.</li> </font>
         <font color="#FFFF00"><li>Pay your deposit using Stripe secure card payment.</li> </font>
        <li>Receive your payment confirmation details and email.</li>
      </ol>
      </h4>
      <br>
     
     <TABLE class="table table-bordered table-condensed ">
       <thead>
         <tr>
           <th colspan="1"><center><small>Action</th>
           <th><center><small>When</center></th>
           <th><small>Status</th>
           <th><small>Customer</th>
           <th><center><small>Diners</center></th>
           <th><center><small>Deposit Due</center></th>
           <th><center><small>Deposit Paid</center></th>
           <th><small>Date Booked</th>
           </tr>
         </thead>
         <tbody>

         <% @bookings.each do |booking| %>
    <% if booking.status == "Cancelled" %>
      <tr class="danger">
         <% elsif Booking.deposit_amount(booking).first == "Paid in Full" %>
      <tr class="success">
         <% else %>
      <tr class="default">
    <% end %>
         
         <td width="20%">  <% unless booking.status == "Cancelled" %>
         <small><center><%= Booking.deposit_amount(booking).first %>
             
                 <% if Booking.deposit_amount(booking).second.to_i> 0 %>
                     : £<%= Booking.deposit_amount(booking).second.to_i %>
                   
                   <%= form_tag pay_deposit_path(booking) do %>
                     <script src="https://checkout.stripe.com/v2/checkout.js"
                       class="stripe-button"
                       data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                       data-name="Hang Fire Southern Kitchen"
                       data-description="Deposit"
                       data-email=<%= booking.email%>
                       data-amount="<%= (Booking.deposit_amount(booking).second*100) %>"
                       data-currency="GBP"
                       data-allow-remember-me=false
                       data-locale="auto">
                       </script>
                   <% end %>
                   <% else %>
                  
             <% end %>
          <% end %>
         </td>
         <td><small><center><%= booking.booking_date_time.strftime('%A') %>, <%= booking.booking_date_time.strftime('%H:%M') %><br>
         <%= booking.booking_date_time.strftime('%d %b %y') %></center></td>
         <td> <small><%= booking.status %></td>
         <td><strong><%= booking.name %></strong><br>
         <small><i><%= booking.phone %>, <%= booking.email %></small></td>
         <td><small><center><%= booking.number_of_diners %></center></td>
         <td><small><center>£<%= number_with_precision((booking.number_of_diners*10), :precision => 2) %></center></td>
         <td><small><center><% if booking.deposit_amount? %>£<%= number_with_precision(booking.deposit_amount, :precision => 2) %></center><% end %></td>
         <td><small><i><%= booking.created_at.strftime('%d %b %Y') %></small></td>
       </tr>
    <% end %>  
   
  </tbody>
</table>
<br>

<% end %>
     <br><br><br><br><br>
  </div> 
   </div> 
    </div>

   
 
 