<div class="hfsk-location-background">

<%= render 'layouts/external_header' %>
<div class="row">
 <div class="col-md-10 col-md-offset-1  "> 
 <div class="row">
   <div class="col-md-4">
   </div>
 
<!-- Instructions: This is the intro section. -->  

  <div class="col-md-8">
   <br>
   <!-- Instructions: This is the confirmation section. -->  
  
     <h4>Thank you.<h4> <br>
     <h6>Your payment for £<%= @booking.stripe_amount/100 %> has been successfully processed and 
     your booking is secured:</h6><br>
    <div class="row">
      <div class="col-md-8">
         <div class="well well-sm">
           <h6><b> <font color="#D3D3D3">Hang Fire Southern Kitchen, Barry</b><br><br>
           <%= @booking.booking_date_time.strftime('%A, %d %b %Y') %><br>
           <small> <font color="#D3D3D3">Table for <%= @booking.number_of_diners %> people at <%= @booking.booking_date_time.strftime('%H:%M') %>
         </div>  
      </div>  
      <div class="col-md-4">
      </div> 
    </div>   
    <br><br><br>
   <h6>Pay another deposit?  <a href="/hfsk_pay_deposit"><i class="fa fa-arrow-circle-o-right" style='color: #ffffff;'></i></a>
    - / - Make a new booking?  <a href="/new_booking_enquiry"><i class="fa fa-arrow-circle-o-right" style='color: #ffffff;'></i></a>
  <br><br><br><br><br><br><br><br><br><br><br><br>
   </div>   
   </div> 
    </div>

   
 
 