<%= render 'layouts/external_header' %>
   
<%= render 'static_pages/side_welcome_open_hours'%>
   
<!-- Instructions: This is the menu section. -->  
<h6><center>
Because all our food is bought fresh, prices may vary to reflect changing market costs.
</h6>

   <div class="col-md-4">
   <h5><center>Sample<b> Lunch Menu</h5>
      <%= image_tag "HF_LUNCH_SAMPLE.jpg", :class => "menu_img" %>
     </div>

     <div class="col-md-4">
      <h5><center>Sample<b> Evening Menu</h5>
        <%= image_tag "HF_SAMPLE_MENU_EVENING_appetisers.jpg", :class => "menu_img" %> <br>
         <%= image_tag "HF_SAMPLE_MENU_EVENING_mains.jpg", :class => "menu_img" %>      
       </div>


 
 
   
   