 <%= render 'layouts/external_header' %>

<%= render 'static_pages/side_welcome_news'%>

 
<!-- Instructions: This is the contact us section.: uses non-table model message and emails out content -->  

  <div class="col-md-5">
	
	<p>Please fill in your details here and we'll get back to you quicker than it takes to smoke a brisket. Please note, we do not take table bookings from this contact page, use <b> <%= link_to "Book a Table", static_pages_booking_enquiry_path, :class => "link", :style => "color:white" %>.</b>
   </p>
	
	 <%= render 'messages/new' %>
	 
<br>

<!-- Instructions: This is the mailing list section. -->  

  
  <h6>JOIN OUR MAILING LIST</h6>
  <p>Be the first to know about Hang Fire news including our specials, offers and news. We promise not to spam!</p>
 
   <%= render 'customers/new'%>
   
  </div>
  </div>

   
 
 