<%= render 'layouts/external_header' %>

<%= render 'static_pages/side_welcome_news'%>

<!-- Instructions: This is the restraunt welcome section. -->  
       <div class="col-md-7">
    
    <h4><b><center>Howdy partners!<br>The Hang Fire Southern Kitchen will be CLOSED on 16th/17th/18th September. <br>Business as usual from Wednesday 21st September.
    </b></center></h4>
     
     <h5><small>Hang Fire Southern Kitchen is our first, permanent restaurant, and we hope to finally showcase all the things we love about the American South. It’s a far cry from our kitchen takeovers and street food stalls!
    
     <br><br>
     From New Orleans soul food classics, to our award winning barbecue, to wood fired grilled goodies on our custom built Argentinian Parilla grill. Not forgetting authentic southern puddings and plenty in between - all washed down with our own brewed beers and NOLA inspired cocktails. We can’t wait to welcome you to our new home and hope you love it as much as we do!
       <br><center>
     <%= image_tag "home_page.jpg", :class => "photo_img3" %>
     
     <br>
     <b><%= link_to "* * See Opening Hours * * ", static_pages_hfsk_location_path, :class => "link", :style => "color:yellow" %>
    </b>
    <b><%= link_to "* * Book a Table * *", static_pages_booking_enquiry_path, :class => "link", :style => "color:orange" %>
    </b></small></h6>
     <br>
     <center>
     <a href="/home"><i class="fa fa-stop-circle-o" style='color: #600000;'></i></a>
     </center>
  </div>
    </div>
 
   
 