<%= render 'layouts/external_header' %>
   
<%= render 'static_pages/side_welcome_open_hours'%>
   
<!-- Instructions: This is the menu section. -->  
<h6><center>
All our food is bought fresh, prices may vary to reflect changing market costs.
</h6>

   <div class="col-md-4">
   <h5><center>Sample<b> Lunch Menu</h5>
   <h6><center><small><i>Served Friday and Saturday</i></small></h6>
     <h6><center> <i class="fa fa-file-pdf-o"></i>
      <%= link_to 'Download lunch menu', download_lunch_pdf_url, style: 'color:#90EE90;' %>
        </center></h6>
      <%= image_tag "HF_LUNCH_SAMPLE_0118a.jpg", :class => "menu_img" %><br>
       <%= image_tag "HF_LUNCH_SAMPLE_0118b.jpg", :class => "menu_img" %><br>
        <%= image_tag "HF_LUNCH_SAMPLE_0118c.jpg", :class => "menu_img" %><br>
     </div>

     <div class="col-md-4">
      <h5><center>Sample<b> Evening Menu</h5>
       <h6><center><small><i>Served Wed - Sat and on <b>Sundays</b></i></small></h6>
      <h6><center> <i class="fa fa-file-pdf-o"></i>
       <%= link_to 'Download evening menu', download_evening_pdf_url, style: 'color:#90EE90;' %>
         </center></h6>
        <%= image_tag "HF_SAMPLE_MENU_EVENING_0118a.jpg", :class => "menu_img" %> <br>
         <%= image_tag "HF_SAMPLE_MENU_EVENING_0118b.jpg", :class => "menu_img" %> <br>     
         <%= image_tag "HF_SAMPLE_MENU_EVENING_0118c.jpg", :class => "menu_img" %> <br>
          <%= image_tag "HF_SAMPLE_MENU_EVENING_0118d.jpg", :class => "menu_img" %> <br>     
          <%= image_tag "HF_SAMPLE_MENU_EVENING_0118e.jpg", :class => "menu_img" %> <br>
       </div>


 
 
   
   