<%= render 'layouts/external_header' %>
   
<%= render 'static_pages/side_welcome_open_hours'%>

<!-- Instructions: This is the menu section. -->  

   <div class="col-md-3" style="padding-top:10px;">
   
    <h5><b><font color=#9ACD32>PLEASE NOTE</font></b></h5>
   
    <h6><small>
    <br>It is unlikely we will be able to accommodate walk-in groups of 6 or more.
    <br><br>
    The largest group booking is no more than 10 people. Tables of 8 or more will require a deposit of £10 per head 
    to secure your booking. 
    <br><br>
    If you have a group of 15 - 20 people, please inquire about booking our 'Engine Room' - our private dining room.
    <br><br>
    We don't hire out the Engine Room from May to September due to our Street food and food festival commitments.
    <br><br>
    In order to feed as many of you as possible, we will usually need your table back after 2 hours.
    <br><br></small>
    
    <%= link_to "SEE BOOKING CALENDAR", availability_path, :class => "btn btn-warning", :style=>'color:#FFFFFF;'  %>
    
      </div></h6>
      
   <!-- Instructions: This is the table booking section. -->  

    <div class="col-md-4">
    <br><br><h5><b><u>Restaurant Tables</u></b></h5>
    <table class="table">
    <tr><td><center>Please select date from calendar, dulled out dates are <b>not</b> available for online booking.
   </center>
   </td></tr>
    
    <tr><td> <%= render 'layouts/messages' %></td></tr>
    <tr><td>
    <%= form_tag booking_get_times_bookings_path, multipart: true, :class => "form-inline" do %>  
  
      <table class="table-condensed" style="border: 0; text-align:left; background-color: transparent">
      <tr><td style="width: 5%"></td><td style="width: 20%"></td><td style="width: 70%"></td><td style="width: 5%"></td></tr>
      
      <tr>
      <td></td>
      <td>Date</td>
      <% start_date_tomorrow = Date.tomorrow.strftime('%d-%m-%Y')%>
       <% last_booking_day = Date.new(2017,10,31).strftime('%d-%m-%Y') %>
       <% end_date_6_months_away = ((Date.today.end_of_month)+5.months).strftime('%d-%m-%Y')%>
      <td>
      <input style='color:black;' class="datepicker" data-provide='datepicker' id="booking_date" name="booking[booking_date]"  type="text"  data-date-format=D,dd-M-yyyy data-date-start-date=[<%= start_date_tomorrow %>] data-date-days-of-week-disabled=[1,2] data-date-week-start=[1] data-dates-disabled=["24-12-2017","25-12-2017","26-12-2017","27-12-2017","28-12-2017","29-12-2017","30-12-2017","31-12-2017","01-01-2018","02-01-2018"] data-date-end-date=[<%= end_date_6_months_away %>] data-date-autoclose=[true]  data-date-today-highlight=true data-date-orientation="bottom" >   
       </td>
      <td></td>
      </tr>
     
    <% diner_options = [0,1,2,3,4,5,6,7,8,9,10] %>
      <tr>
      <td></td>
      <td>People</td>
      <td>
      <%= select_tag 'booking[number_of_diners]', options_for_select(diner_options), class:"form-control input-sm" %>
      </td>
      <td></td>
      </tr>
      
      <input id="restaurant_id" name="booking[restaurant]" type="hidden" value="Hang Fire Southern Kitchen">
      
      <tr>
      <td></td>
      <td></td>
      <td>  <%= submit_tag "CHECK FOR AVAILABLE TIMES", name: nil, class: "btn btn-success btn-sm" %>   
             <% end %></td>
      <td></td>
      </tr>
      </table>
     
      </td></tr></table>
     
</div>




 
 
   
   