
<table class="table">
<tr><td>
    <%= form_for(@message, url: messages_create_url) do |f| %>
    
  <% if @message.errors.any? %>
    <div class="error_messages">
      <h6>You have <%= pluralize(@message.errors.count, "error") %>:</h6>
      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><p><%= msg %></p></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table class="table-condensed" style="border: 0; text-align:left; background-color: transparent">
  <tr><td style="width: 5%"></td><td style="width: 25%"></td><td style="width: 65%"></td><td style="width: 5%"></td></tr>
 <tr><td></td><td>Name</td><td><%= f.text_field :name, :style => "width: 220px;", :placeholder => " full name please!"  %></td><td></td></tr>
 <tr><td></td><td>Phone</td><td><%= f.text_field :phone, :style => "width: 220px;", :placeholder => " (optional)"  %></td><td></td></tr>
 <tr><td></td><td>Email</td><td> <%= f.text_field :email, :style => "width: 220px;" %></td><td></td></tr>
 <tr><td></td><td>Subject</td><td><%= f.select :subject, options_for_select([["select subject", ""], "Amend My Booking", "Accessibility Query", "Dietary Query", "Press Query", "General Question"]), {}, class:"form-control input-sm" %></td><td></td></tr>
 <tr><td></td><td>Message</td><td><%= f.text_field :message, :style => "width: 220px; height: 40px"  %></td><td></td></tr>
 <tr><td></td><td></td><td>
     <div class="actions">
      <%= f.submit "Send Message", class: "btn btn-success btn-sm" %>
     </div>
  <% end %>
  </td><td></td></tr>
  </table>
</td>
  </tr>
  </table>
  
  
  