
<table class="table">
    <%= render 'layouts/messages' %>
<tr><td>
    <%= form_for(@message, url: messages_create_url) do |f| %>
    
  <% if @message.errors.any? %>
    <div class="error_messages">
      <h6>You have <%= pluralize(@message.errors.count, "error") %>:</h6>
      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><p><h6><%= msg %></p></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table class="table-condensed" style="border: 0; text-align:left; background-color: transparent">
 
  <tr><td style="width: 3%"></td><td style="width: 34%"></td><td style="width: 60%"></td><td style="width: 3%"></td></tr>
 <tr><td></td><td><h6>*Name</td><td><%= f.text_field :name, :style => "width: 220px;", :placeholder => " full name"  %></td><td></td></tr>
 <tr><td></td><td><h6> Phone</td><td><%= f.text_field :phone, :style => "width: 220px;", :placeholder => " (optional, but it really helps!)"  %></td><td></td></tr>
 <tr><td></td><td><h6>*Email</td><td> <%= f.text_field :email, :style => "width: 220px;", :placeholder => " your email address"  %></td><td></td></tr>
 <tr><td></td><td><h6>*Email Confirmation</td><td> <%= f.text_field :email_confirmation, :style => "width: 220px;", :placeholder => " confirm your email address"  %></td><td></td></tr>
 <tr><td></td><td><h6>*Subject</td><td><%= f.select :subject, options_for_select([["select subject", ""], "Table booking enquiry", "Dietary/Menu enquiry", "Contact Restaurant"]), {}, class:"form-control input-sm" %></td><td></td></tr>
 <tr><td></td><td><h6>*Message</td><td> <font color=#000000><%= f.text_area :message, :style => "width: 220px; height: 80px"  %></font></td><td></td></tr>

 <tr><td></td><td></td><td>
     <div class="actions">
      <%= f.submit "SEND", class: "btn button_book_table_blue btn-sm" %>
     </div>
  <% end %>
  </td><td></td></tr>
  </table>
</td>
  </tr>
  </table>
  
  
  