
  <%= form_for(@message, url: messages_create_url) do |f| %>
  <% if @message.errors.any? %>
    <div class="error_messages">
      <h6>You have <%= pluralize(@message.errors.count, "error") %>:</h6>
      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><p><%= msg %></p></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
    <%= f.text_field :name, :style => "width: 280px;", :placeholder => " full name"  %>
   </div>
  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
    <%= f.text_field :phone, :style => "width: 280px;", :placeholder => " phone number (optional)"  %>
   </div>
  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
    <%= f.text_field :email, :style => "width: 280px;", :placeholder => " email address"  %>
   </div>
   <div class="input-group margin-bottom-sm">
     <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
     <%= f.select :subject, options_for_select([["select subject", ""], "Amend My Booking", "Accessibility Query", "Dietary Query", "Press Query", "General Question"]), {}, class:"form-control input-sm" %>
    </div>
   <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-quote-right fa-fw"></i></span>
    <%= f.text_area :message, :style => "width: 280px; height: 60px", :placeholder => " message"  %>
   </div>

     <div class="actions pull-right">
      <%= f.submit "Send Message", class: "btn btn-primary btn-sm" %>
     </div>
  <% end %>
  
  
  