<%= bootstrap_form_for(@staffhour) do |f| %>
  <% if @staffhour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staffhour.errors.count, "error") %> prohibited this staffhour from being saved:</h2>

      <ul>
      <% @staffhour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.date_select :week_end_date %>
    <%= f.collection_select :staff_id, Staff.where(payment_terms: "Hourly Rate"), :id, :name, {:prompt => 'Please select staff member'}  %>
    <%= f.text_field :hours %>
    <%= f.collection_select :accruel_rate_id, Accruel_rate.all, :id, :rate, {:selected => Accruel_rate.last} %>
    <%= f.hidden_field :wk_accrued_hours %>

  <div class="actions">

     <%= f.submit "Save Hours", class: "btn btn-primary btn-success" %>
  </div>
<% end %>
