<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-10">

<h3> Function Room Enquiry</h3>

 
 
  <% if logged_in? %> 
<p>
<%= @function.status %>, received:  <%= @function.created_at %>
</p>
<table class="table">
<tr>
<th><h4><center><%= @function.customer_name %></th>
<th><h4><center>Phone: <%= @function.phone %></th>
<th><h4><center>Email: <%= @function.email %></h4></th>
</tr>
<tr><td colspan= "3"></td>
</tr>
<tr>
<td>Date: <%= @function.event_date %></td>
<td>Start: <%= @function.event_start_time %></td>
<td>Finish: <%= @function.event_end_time %></td>
</tr>
<tr><td colspan= "3"></td>
</tr>
<tr>
<td>Estimated Party Size: <%= @function.est_party_size %></td>
<td>Type: <%= @function.event_type %></td>
<td>Menu Choice: <%= @function.menu_choice %></td>
</tr>
<tr><td colspan= "3"></td>
</tr>
<tr>
<td>Deposit Amount: <%= @function.deposit_amount %></td>
<td>Paid?: <%= @function.deposit_paid %></td>
<td>Ts & Cs Signed?: <%= @function.t_and_c_signed %></td>
</tr>
<tr><td colspan= "3"></td>
</tr>
<tr><td colspan= "3">Comments: <%= @function.message %></td>
</tr>
</table>

<%= link_to 'Edit this enquiry', edit_function_path(@function), :style => "color:white" %> |
<%= link_to 'See all function room enquiries', functions_path, :style => "color:white" %>
<% end %>