<html>
  <body>
    <p>Subject: RESTAU Table Counts</p>

    customer = Customer.all.count
    confirmed = Booking.where(status: "Confirmed").count
    cancelled = Booking.where(status: "Cancelled").count
    cashfloats = Cashfloat.count
    dailybanks = Dailybank.count
    dailystats = Dailystat.count
    expenses = Expense.count
    <p>----------------------</p>
    <p>Total - <%= (Customer.all.count)+(Booking.where(status: "Cancelled").count)+(Booking.where(status: "Confirmed").count)+(Cashfloats.all.count)+(Dailybanks.all.count)+(Dailystats.all.count)+(Expenses.all.count) %></p>
    <p>----------------------</p>

    <p>Customer: <%= Customer.all.count %></p>
    <p>Bookings - Confirmed: <%= Booking.where(status: "Confirmed").count %></p>
    <p>Bookings - Cancelled: <%= Booking.where(status: "Cancelled").count %></p>
    <p>Cashfloats <%= Cashfloats.all.count %></p>
    <p>Dailybanks <%= Dailybanks.all.count %></p>
    <p>Dailystats <%= Dailystats.all.count %></p>
    <p>Expenses <%= Exmpenses.all.count %></p>
   
  </body>
</html>