<%= bootstrap_form_for(@rdetail, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-5") do |f| %>
  <% if @rdetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rdetail.errors.count, "error") %> prohibited this rdetail from being saved:</h2>

      <ul>
      <% @rdetail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name %>
    <%= f.text_field :booking_duration %>
    <%= f.number_field :min_booking %>
    <%= f.number_field :max_booking %>
    <%= f.time_select :last_booking_time %>
    <%= f.number_field :max_diners_at_current_time, :label => "Maximum Number of Diners Seated at Same Time"  %>
     <%= f.number_field :wed_thurs_eve_max_diners, :label => "Wed/Thurs Eve Max Diners Seated at Same Time" %>
     <%= f.number_field :max_fri_lunch_diners, :label => "Fri Lunch Max Diners Seated at Same Time" %>
    <%= f.number_field :max_current_diners, :label => "Maximum Number of Concurrent Diners"  %>
    <%= f.number_field :current_diners_window_start, :label => "Number of minutes, before booking, included in Current Diners calc" %>
    <%= f.number_field :current_diners_window_end, :label => "Number of minutes, after booking, included in Current Diners calc" %>
    <%= f.number_field :big_table_count, :label => "How many tables of 9 or 10" %>
    <%= f.number_field :large_table_count, :label => "How many tables of 7 or 8" %>
    <%= f.number_field :safe_float, :label => "Value of safe float" %>
    <%= f.number_field :till_float_main, :label => "Value of main restaurant float" %>
    <%= f.number_field :till_float_bar, :label => "Value of downstairs bar float" %>
    <%= f.number_field :eve_full_diners, :label => "Evening Full Diners Marker" %>
    <%= f.number_field :day_full_diners, :label => "Lunch Full Diners Marker" %>
    <%= f.number_field :afternoon_full_diners, :label => "Sunday Full Diners Marker" %>
    <%= f.number_field :confirmation_email_diners_max, :label => "Booking Confirmation Email(Max Diners)" %>
    <%= f.number_field :deposit_max, :label => "Deposit Required for tables over?" %>
    
   
  <div class="col-sm-offset-2 col-sm-10">
   <div class="actions">
      <%= f.submit class: "btn btn-primary" %>
   </div></div>
 
<% end %>
