<div class="col-md-6">
     <table class="table">
     <tbody>
        <tr>
        <td><b><%= Restaurant.where(:id => @rdetail.restaurant_id).first.name %></b></td>
        <td><%= link_to edit_rdetail_path(@rdetail), class: 'btn btn-success btn-xs' do %>
             <span class="fa fa-pencil-square-o""></span>
             <% end %> 
             |
            <%= link_to @rdetail, method: :delete, data: { confirm: 'Are you sure you want to delete this record?' }, class: 'btn btn-warning btn-xs' do %>
              <span class="fa fa-trash""></span>
             <% end %> </td>
      </tr>
        <tr><td>Booking duration:</td><td><%= @rdetail.booking_duration %></td></tr>
        <tr><td>Min booking:</td><td><%= @rdetail.min_booking %></td></tr>
        <tr><td>Max booking:</td><td><%= @rdetail.max_booking %></td></tr>
        <tr><td>Last booking time:</td><td><%= @rdetail.last_booking_time %></td></tr>
      </tr>
      <br>
  </tbody>
</table>
</div>
