
<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-10">
<h2>Restaurant Details</h2>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Booking duration</th>
      <th>Min booking</th>
      <th>Max booking</th>
      <th>Last booking time</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rdetails.each do |rdetail| %>
      <tr>
        <td><%= rdetail.restaurant_id %></td>
        <td><%= rdetail.booking_duration %></td>
        <td><%= rdetail.min_booking %></td>
        <td><%= rdetail.max_booking %></td>
        <td><%= rdetail.last_booking_time %></td>
        <td><%= link_to edit_rdetail_path(rdetail), class: 'btn btn-success btn-xs' do %>
             <span class="fa fa-pencil-square-o""></span>
             <% end %> 
             |
            <%= link_to rdetail, method: :delete, data: { confirm: 'Are you sure you want to delete this record?' }, class: 'btn btn-warning btn-xs' do %>
              <span class="fa fa-trash""></span>
             <% end %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rdetail', new_rdetail_path %>
