
<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-6">
<h2>Restaurant Details</h2>


   <% @rdetails.each do |rdetail| %>
     <table class="table">
     <tbody>
        <tr>
        <td><b><%= Restaurant.where(:id => rdetail.restaurant_id).first.name %></b></td>
        
         <% if current_user.admin?  %>
        
        <td><%= link_to edit_rdetail_path(rdetail), class: 'btn btn-success btn-xs' do %>
             <span class="fa fa-pencil-square-o""></span>
             <% end %> 
             |
            <%= link_to rdetail, method: :delete, data: { confirm: 'Are you sure you want to delete this record?' }, class: 'btn btn-warning btn-xs' do %>
              <span class="fa fa-trash""></span>
             <% end %> </td>
             
             <% else %>
             <td></td>
             <% end %>
             
      </tr>
        <tr><td>Maximum Diners Seated at Same Time:</td><td><%= rdetail.max_diners_at_current_time %></td></tr>
        <tr><td>Maximum Concurrent Diners:</td><td><%= rdetail.max_current_diners %></td></tr>
        <tr><td>Current Diners Window Before (mins):</td><td><%= rdetail.current_diners_window_start %></td></tr>
        <tr><td>Current Diners Window After (mins):</td><td><%= rdetail.current_diners_window_end %></td></tr>
        <tr><td>How many tables of 9 or 10:</td><td><%= rdetail.big_table_count %></td></tr>
        <tr><td>How many tables of 7 or 8:</td><td><%= rdetail.large_table_count %></td></tr>
     </tr>
      <br>
  </tbody>
</table>
<% end %>
<br>
 <% if current_user.admin?  %>
<%= link_to 'New Rdetail', new_rdetail_path %>
<% end %>
