 <TABLE class="table table-bordered table-condensed table-hover">
 <tr>
 <th ></th>
 <th colspan="4" style="text-align:center">17pm</th>
 <th colspan="4" style="text-align:center">18pm</th>
 <th colspan="4" style="text-align:center">19pm</th>
 <th colspan="4" style="text-align:center">20pm</th>
 <th colspan="4" style="text-align:center">21pm</th>
 <th colspan="4" style="text-align:center">22pm</th>
 </tr>
 <tr>
 <td></td>
 <td><small>00</td>
 <td><small>15</td>
 <td><small>30</td>
 <td><small>45</td>
 <td><small>00</td>
 <td><small>15</td>
 <td><small>30</td>
 <td><small>45</td>
 <td><small>00</td>
 <td><small>15</td>
 <td><small>30</td>
 <td><small>45</td>
 <td><small>00</td>
 <td><small>15</td>
 <td><small>30</td>
 <td><small>45</td>
 <td><small>00</td>
 <td><small>15</td>
 <td><small>30</td>
 <td><small>45</td>
 <td><small>00</td>
 <td><small>15</td>
 <td><small>30</td>
 <td><small>45</td>
 </tr>

   <% @bookings.each do |booking| %>
     
     <% unless booking.booking_date_time.hour < 16 %>
 
  <tbody>
  <tr>
  <td style=white-space:nowrap;><small><%= link_to booking.name, edit_booking_path(booking.id) %></small>
  <% if booking.child_friendly == true %>
    <i class="fa fa-child fa-fw"></i>
    <% else %>
    <% end %>
    <% if booking.source == "Management" %>
    <i class="fa fa-briefcase fa-fw"></i>
      <% else %>
      <% end %>  
  </td>  
 
  <% a= has_booking(booking.booking_date_time, 17, 0, booking.number_of_diners) %>
  <% if a == false  %>
   <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
  <% a = has_booking(booking.booking_date_time, 17, 15, booking.number_of_diners) %>
  <% if a == false  %>
   <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
   <% a= has_booking(booking.booking_date_time, 17, 30, booking.number_of_diners) %>
   <% if a == false  %>
    <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
   <% a = has_booking(booking.booking_date_time, 17, 45, booking.number_of_diners) %>
   <% if a == false  %>
    <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
    <% a= has_booking(booking.booking_date_time, 18, 0, booking.number_of_diners) %>
    <% if a == false  %>
     <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
    <% a = has_booking(booking.booking_date_time, 18, 15, booking.number_of_diners) %>
    <% if a == false  %>
     <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
     <% a= has_booking(booking.booking_date_time, 18, 30, booking.number_of_diners) %>
     <% if a == false  %>
      <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
     <% a = has_booking(booking.booking_date_time, 18, 45, booking.number_of_diners) %>
     <% if a == false  %>
      <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
      
      <% a= has_booking(booking.booking_date_time, 19, 0, booking.number_of_diners) %>
      <% if a == false  %>
       <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
      <% a = has_booking(booking.booking_date_time, 19, 15, booking.number_of_diners) %>
      <% if a == false  %>
       <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
       <% a= has_booking(booking.booking_date_time, 19, 30, booking.number_of_diners) %>
       <% if a == false  %>
        <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
       <% a = has_booking(booking.booking_date_time, 19, 45, booking.number_of_diners) %>
       <% if a == false  %>
        <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
        <% a= has_booking(booking.booking_date_time, 20, 0, booking.number_of_diners) %>
        <% if a == false  %>
         <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
        <% a = has_booking(booking.booking_date_time, 20, 15, booking.number_of_diners) %>
        <% if a == false  %>
         <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
         <% a= has_booking(booking.booking_date_time, 20, 30, booking.number_of_diners) %>
         <% if a == false  %>
          <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
         <% a = has_booking(booking.booking_date_time, 20, 45, booking.number_of_diners) %>
         <% if a == false  %>
          <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
          
          <% a= has_booking(booking.booking_date_time, 21, 0, booking.number_of_diners) %>
          <% if a == false  %>
           <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
          <% a = has_booking(booking.booking_date_time, 21, 15, booking.number_of_diners) %>
          <% if a == false  %>
           <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
           <% a= has_booking(booking.booking_date_time, 21, 30, booking.number_of_diners) %>
           <% if a == false  %>
            <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
           <% a = has_booking(booking.booking_date_time, 21, 45, booking.number_of_diners) %>
           <% if a == false  %>
            <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
          
            <% a= has_booking(booking.booking_date_time, 22, 0, booking.number_of_diners) %>
            <% if a == false  %>
             <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
            <% a = has_booking(booking.booking_date_time, 22, 15, booking.number_of_diners) %>
            <% if a == false  %>
             <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
             <% a= has_booking(booking.booking_date_time, 22, 30, booking.number_of_diners) %>
             <% if a == false  %>
              <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
             <% a = has_booking(booking.booking_date_time, 22, 45, booking.number_of_diners) %>
             <% if a == false  %>
              <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
   
    </tr>
    <% end %>
    <% end %>
     <tr><td>Bookings Count: <b><%= @bookings.count %></b><td></tr>
    <tbody>
  </table> 
