<%= bootstrap_form_for(@booking, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6") do |f| %>

  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

     <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name %>
    <%= f.datetime_select :booking_date_time, :minute_step => 15 %>
    <%= f.select :number_of_diners, options_for_select(1..12) %>
    <%= f.text_field :name, placeholder: "Customer Name" %>
    <%= f.text_field :phone, placeholder: "Customer Phone (OPTIONAL)" %>
    <%= f.text_field :email, value: "adminhangfirebbq@gmail.com" %>
    <%= f.hidden_field :status, value: "Confirmed" %>
    <%= f.hidden_field :source, value: "Management" %>
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          
           <%= f.check_box :child_friendly, label: "Child seat required?" %>
         
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-offset-2 col-sm-10">
      <div class="actions">
         <%= f.submit class:"btn btn-primary" %>
      </div></div>
  
<% end %>