<%= bootstrap_form_for(@booking, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6") do |f| %>

  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

     <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name %>
  
     <%= f.datetime_select :booking_date_time, :minute_step => 15, :start_year => Date.today.year, :end_year => Date.today.year + 1, selected: Date.today, :start_hour => 12, :end_hour=> 22  %>
    <%= f.select :number_of_diners, options_for_select(1..21, f.object.number_of_diners ) %>
    <%= f.text_field :name, placeholder: "Customer Name" %>
    <%= f.text_field :phone, placeholder: "Customer Phone (if unknown enter 0000)" %>
    <%= f.text_field :email, value: "hangfirebarry@gmail.com" %>
    <%= f.hidden_field :status, value: "Confirmed" %>
    <%= f.hidden_field :source, value: "Management" %>
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          
           <%= f.check_box :child_friendly, label: "Child seat required?" %>
         
        </div>
      </div>
    </div>
    <%= f.text_area :notes %>
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
      <p><b>DEPOSIT TAKEN:</b></p>
        <%= f.number_field :deposit_amount, label: "Amount" %>
        <%= f.text_field :deposit_code, placeholder: "<Obtain code from til>", label: "Code" %>
        <%= f.select :deposit_pay_method, [['Cash','Cash'],['Credit Card','Credit Card']], label: "Method", :include_blank => true  %>
    </div>
    </div>
 
  <div class="col-sm-offset-2 col-sm-10">
      <div class="actions">
         <%= f.submit "Complete Booking", class: "btn btn-primary" %>
      </div></div>
  
<% end %>