 <TABLE class="table table-bordered table-condensed table-hover">
 <tr>
 <th ></th>
 <th colspan="2" style="text-align:center">11am</th>
 <th colspan="4" style="text-align:center">Noon</th>
 <th colspan="4" style="text-align:center">13pm</th>
 <th colspan="4" style="text-align:center">14pm</th>
 <th colspan="4" style="text-align:center">15pm</th>
 <th colspan="4" style="text-align:center">16pm</th>
 </tr>
 <tr>
 <td></td>
 <td><small>30</td>
 <td><small>45</td>
 <td><small>00</td>
 <td><small>15</td>
 <td><small>30</td>
 <td><small>45</td>
 <td><small>00</td>
 <td><small>15</td>
 <td><small>30</td>
 <td><small>45</td>
 <td><small>00</td>
 <td><small>15</td>
 <td><small>30</td>
 <td><small>45</td>
 <td><small>00</td>
 <td><small>15</td>
 <td><small>30</td>
 <td><small>45</td>
 <td><small>00</td>
 <td><small>15</td>
 <td><small>30</td>
 <td><small>45</td>
 </tr>
   <% @bookings.each do |booking| %>
 
     <% unless booking.booking_date_time.hour >= 17 %>
 
  <tbody>
  <tr>
  <td style=white-space:nowrap;><small><%= link_to booking.name, edit_booking_path(booking.id) %></small>
  <% if booking.child_friendly == true %>
    <i class="fa fa-child fa-fw"></i>
    <% else %>
    <% end %>
    <% if booking.source == "Management" %>
    <i class="fa fa-briefcase fa-fw"></i>
      <% else %>
      <% end %> 
  </td>  
   
     <% a= has_booking(booking.booking_date_time, 11, 30, booking.number_of_diners) %>
     <% if a == false  %>
      <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
     <% a = has_booking(booking.booking_date_time, 11, 45, booking.number_of_diners) %>
     <% if a == false  %>
      <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
      
      <% a= has_booking(booking.booking_date_time, 12, 0, booking.number_of_diners) %>
      <% if a == false  %>
       <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
      <% a = has_booking(booking.booking_date_time, 12, 15, booking.number_of_diners) %>
      <% if a == false  %>
       <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
       <% a= has_booking(booking.booking_date_time, 12, 30, booking.number_of_diners) %>
       <% if a == false  %>
        <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
       <% a = has_booking(booking.booking_date_time, 12, 45, booking.number_of_diners) %>
       <% if a == false  %>
        <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
        <% a= has_booking(booking.booking_date_time, 13, 0, booking.number_of_diners) %>
        <% if a == false  %>
         <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
        <% a = has_booking(booking.booking_date_time, 13, 15, booking.number_of_diners) %>
        <% if a == false  %>
         <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
         <% a= has_booking(booking.booking_date_time, 13, 30, booking.number_of_diners) %>
         <% if a == false  %>
          <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
         <% a = has_booking(booking.booking_date_time, 13, 45, booking.number_of_diners) %>
         <% if a == false  %>
          <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
          
          <% a= has_booking(booking.booking_date_time, 14, 0, booking.number_of_diners) %>
          <% if a == false  %>
           <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
          <% a = has_booking(booking.booking_date_time, 14, 15, booking.number_of_diners) %>
          <% if a == false  %>
           <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
           <% a= has_booking(booking.booking_date_time, 14, 30, booking.number_of_diners) %>
           <% if a == false  %>
            <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
           <% a = has_booking(booking.booking_date_time, 14, 45, booking.number_of_diners) %>
           <% if a == false  %>
            <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
          
            <% a= has_booking(booking.booking_date_time, 15, 0, booking.number_of_diners) %>
            <% if a == false  %>
             <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
            <% a = has_booking(booking.booking_date_time, 15, 15, booking.number_of_diners) %>
            <% if a == false  %>
             <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
             <% a= has_booking(booking.booking_date_time, 15, 30, booking.number_of_diners) %>
             <% if a == false  %>
              <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
             <% a = has_booking(booking.booking_date_time, 15, 45, booking.number_of_diners) %>
             <% if a == false  %>
              <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
   
              <% a= has_booking(booking.booking_date_time, 16, 0, booking.number_of_diners) %>
              <% if a == false  %>
               <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
  
              <% a = has_booking(booking.booking_date_time, 16, 15, booking.number_of_diners) %>
              <% if a == false  %>
               <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
   
               <% a = has_booking(booking.booking_date_time, 16, 30, booking.number_of_diners) %>
               <% if a == false  %>
                <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
   
                <% a = has_booking(booking.booking_date_time, 16, 45, booking.number_of_diners) %>
                <% if a == false  %>
                 <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
   
    </tr>
    
      <% end %>
    <% end %>
    <tr><td><i>New diners per half hour</i></td>
     <td colspan="2" class="warning"><small><center><%= get_total_diners_for_current_time( @bookings.first.booking_date_time.change({ hour: 11, min: 30 })) %></td>
     <td colspan="2" class="active"><small><center><%= get_total_diners_for_current_time( @bookings.first.booking_date_time.change({ hour: 12, min: 00 })) %></td>
     <td colspan="2" class="warning"><small><center><%= get_total_diners_for_current_time( @bookings.first.booking_date_time.change({ hour: 12, min: 30 })) %></td>
     <td colspan="2" class="active"><small><center><%= get_total_diners_for_current_time( @bookings.first.booking_date_time.change({ hour: 13, min: 00 })) %></td>
     <td colspan="2" class="warning"><small><center><%= get_total_diners_for_current_time( @bookings.first.booking_date_time.change({ hour: 13, min: 30 })) %></td>
     <td colspan="2" class="active"><small><center><%= get_total_diners_for_current_time( @bookings.first.booking_date_time.change({ hour: 14, min: 00 })) %></td>
     <td colspan="2" class="warning"><small><center><%= get_total_diners_for_current_time( @bookings.first.booking_date_time.change({ hour: 14, min: 30 })) %></td>
     <td colspan="2" class="active"><small><center><%= get_total_diners_for_current_time( @bookings.first.booking_date_time.change({ hour: 15, min: 00 })) %></td>
     <td colspan="2" class="warning"><small><center><%= get_total_diners_for_current_time( @bookings.first.booking_date_time.change({ hour: 15, min: 30 })) %></td>
     <td colspan="2" class="active"><small><center><%= get_total_diners_for_current_time( @bookings.first.booking_date_time.change({ hour: 16, min: 00 })) %></td>
     <td colspan="2" class="warning"><small><center><%= get_total_diners_for_current_time( @bookings.first.booking_date_time.change({ hour: 16, min: 30 })) %></td>
     </tr>
    
    <tbody>
  </table> 
