<TABLE class="table table-bordered table-condensed table-hover">
<tr>
<th >Lunch Headcount: <%= get_sum_from_array_for_field(@bookings) %></th>
<th colspan="4" style="text-align:center">12</th>
<th colspan="4" style="text-align:center">1pm</th>
<th colspan="4" style="text-align:center">2pm</th>
<th colspan="4" style="text-align:center">3pm</th>
<th colspan="4" style="text-align:center">4pm</th>
<th colspan="4" style="text-align:center">5pm</th>
<th colspan="4" style="text-align:center">6pm</th>
</tr>
<tr>
<td></td>
<td><small>00</td>
<td><small>15</td>
<td><small>30</td>
<td><small>45</td>
<td><small>00</td>
<td><small>15</td>
<td><small>30</td>
<td><small>45</td>
<td><small>00</td>
<td><small>15</td>
<td><small>30</td>
<td><small>45</td>
<td><small>00</td>
<td><small>15</td>
<td><small>30</td>
<td><small>45</td>
<td><small>00</td>
<td><small>15</td>
<td><small>30</td>
<td><small>45</td>
<td><small>00</td>
<td><small>15</td>
<td><small>30</td>
<td><small>45</td>
<td><small>00</td>
<td><small>15</td>
<td><small>30</td>
<td><small>45</td>
</tr>
<tr><td><i>New diners per half hour</i></td>

<% hash_of_times=[[12,00],[12,30],[13,00],[13,30],[14,00],[14,30],[15,00],[15,30],[16,00],[16,30],[17,00],[17,30],[18,00],[18,30]] %> 
 <% hash_of_times.each do |time| %>

   <% booking = @bookings.first.booking_date_time.change({ hour: time.first, min: time.second })%>
   <% if get_total_diners_for_current_time(booking) >= max_diners_at_current_time(@bookings.first[:restaurant_id]) %>
     <td colspan="2" class="danger" ><small><center><%= get_total_diners_for_current_time(booking) %></td>
   <% else %>
     <td colspan="2" class="warning" ><small><center><%= get_total_diners_for_current_time(booking) %></td>
  <% end %>
 <% end %>
 </tr>

  <% @bookings.each do |booking| %>
   
 <tbody>
 <tr>
 <td style=white-space:nowrap;><small><%= link_to booking.name, mgmt_edit_booking_path(:method => "get", id: booking.id) %></small>
 <% if booking.child_friendly == true %>
   <i class="fa fa-child fa-fw"></i>
   <% else %>
   <% end %>
   <% if booking.source == "Management" %>
   <i class="fa fa-briefcase fa-fw"></i>
     <% else %>
     <% end %> 
 </td>  

 <% a= has_booking(booking.booking_date_time, 12, 0, booking.number_of_diners) %>
 <% if a == false  %>
  <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
 
 <% a = has_booking(booking.booking_date_time, 12, 15, booking.number_of_diners) %>
 <% if a == false  %>
  <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
 
  <% a= has_booking(booking.booking_date_time, 12, 30, booking.number_of_diners) %>
  <% if a == false  %>
   <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
 
  <% a = has_booking(booking.booking_date_time, 12, 45, booking.number_of_diners) %>
  <% if a == false  %>
   <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
 
   <% a= has_booking(booking.booking_date_time, 13, 0, booking.number_of_diners) %>
   <% if a == false  %>
    <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
 
   <% a = has_booking(booking.booking_date_time, 13, 15, booking.number_of_diners) %>
   <% if a == false  %>
    <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
 
    <% a= has_booking(booking.booking_date_time, 13, 30, booking.number_of_diners) %>
    <% if a == false  %>
     <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
 
    <% a = has_booking(booking.booking_date_time, 13, 45, booking.number_of_diners) %>
    <% if a == false  %>
     <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>

     <% a= has_booking(booking.booking_date_time, 14, 0, booking.number_of_diners) %>
     <% if a == false  %>
      <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
 
     <% a = has_booking(booking.booking_date_time, 14, 15, booking.number_of_diners) %>
     <% if a == false  %>
      <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
 
      <% a= has_booking(booking.booking_date_time, 14, 30, booking.number_of_diners) %>
      <% if a == false  %>
       <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
 
      <% a = has_booking(booking.booking_date_time, 14, 45, booking.number_of_diners) %>
      <% if a == false  %>
       <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
       <% a= has_booking(booking.booking_date_time, 15, 0, booking.number_of_diners) %>
       <% if a == false  %>
        <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
 
       <% a = has_booking(booking.booking_date_time, 15, 15, booking.number_of_diners) %>
       <% if a == false  %>
        <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
 
        <% a= has_booking(booking.booking_date_time, 15, 30, booking.number_of_diners) %>
        <% if a == false  %>
         <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
 
        <% a = has_booking(booking.booking_date_time, 15, 45, booking.number_of_diners) %>
        <% if a == false  %>
         <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
         <% a= has_booking(booking.booking_date_time, 16, 0, booking.number_of_diners) %>
         <% if a == false  %>
          <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
 
         <% a = has_booking(booking.booking_date_time, 16, 15, booking.number_of_diners) %>
         <% if a == false  %>
          <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
 
          <% a= has_booking(booking.booking_date_time, 16, 30, booking.number_of_diners) %>
          <% if a == false  %>
           <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
 
          <% a = has_booking(booking.booking_date_time, 16, 45, booking.number_of_diners) %>
          <% if a == false  %>
           <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
           <% a= has_booking(booking.booking_date_time, 17, 0, booking.number_of_diners) %>
           <% if a == false  %>
            <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
 
           <% a = has_booking(booking.booking_date_time, 17, 15, booking.number_of_diners) %>
           <% if a == false  %>
            <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
 
            <% a= has_booking(booking.booking_date_time, 17, 30, booking.number_of_diners) %>
            <% if a == false  %>
             <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
 
            <% a = has_booking(booking.booking_date_time, 17, 45, booking.number_of_diners) %>
            <% if a == false  %>
             <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
             <% a= has_booking(booking.booking_date_time, 18, 0, booking.number_of_diners) %>
             <% if a == false  %>
              <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
 
             <% a = has_booking(booking.booking_date_time, 18, 15, booking.number_of_diners) %>
             <% if a == false  %>
              <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
 
              <% a= has_booking(booking.booking_date_time, 18, 30, booking.number_of_diners) %>
              <% if a == false  %>
               <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
 
              <% a = has_booking(booking.booking_date_time, 18, 45, booking.number_of_diners) %>
              <% if a == false  %>
               <td></td><% else %><td class="success"><small><%= a.second %></td><% end %>
   </tr>
  
   <% end %>
   
   <tbody>
 </table> 
 