<br>

<TABLE class="table table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th>When Booked?</th>
      <th>Last Updated?</th>
      <th>Status</th>
      <th>Booking Date</th>
      <th><center>Booking Time</center></th>
      <th>Days Bkd Prior to Eating</th>
      <th>Customer</th>
      <th>Contact</th>
      <th><center>Diners</center></th>
      <th><center>Child Seat?</center></th>
      <th><center>Booking Source</th>
      <th><center>Edit</th>
    </tr>
  </thead>
  <tbody>
     
            <% @bookings.each do |booking| %>
             
        <tr>
        <td><small><font color=#8c99a6><%= booking.created_at.strftime('%H:%M %d/%b') %></small></td>
        <td><small><font color=#8c99a6><%= booking.updated_at.strftime('%H:%M %d/%b') %></small></td>
       
       <% if booking.status == "Cancelled" %>
       <td class="danger"><%= booking.status %><br><small>[<%= booking.cancelled_at.strftime('%d %b %y') %>]</td>
       <% elsif booking.status == "Confirmed" %>
        <td class="success"><%= booking.status %></td>
        <% else %>
        <td><%= booking.status %></td>
        <% end %>
        <td><%= booking.booking_date_time.strftime('%a, %d %b %Y') %></td>
        <td><center><%= booking.booking_date_time.strftime('%H:%M') %></center></td>
        <td><center><font color=#8c99a6><%= ((booking.booking_date_time.to_date)-(booking.created_at.to_date)).to_i %></center></font></td>
        <td><strong><%= booking.name %></strong></td>
        <td><%= booking.phone %></td>
        <td><center><%= booking.number_of_diners %></center></td>
        <td><center>
           <% if booking.child_friendly  %>
              <b><font color=#9ACD32>YES</font></b>
              <% else %>
              No
            <% end %></center></td>
            <td><center><%= booking.source %></td>
            <td><center>
            
            <%= form_tag(mgmt_edit_booking_path, :method => "get", id: "mgmt_edit") do %>
              <input id="booking" name="id" type="hidden" value=<%= booking.id %> >
    
              <%= button_tag( :class => "btn btn-success btn-sm") do %>
                 <i class="fa fa-pencil-square-o"></i>
              <% end %>
             <% end %>
            </td>
      </tr>
    <% end %>  
    </tbody>
</table>

 