<%= render 'layouts/external_header' %>
   
<%= render 'static_pages/side_welcome_open_hours'%>

<div class="col-md-8">
<h5><%= link_to "<< Return to Book a Table", static_pages_new_booking_enquiry_path, :class => "link", :style => "color:orange" %>
 </h5>
 
<div id="bookings">

<h2 id="month">
<% if @date.month == DateTime.now.month && @date.year == DateTime.now.year %>
  <% else %>
  <small><i>Click arrow to see previous month</i></small><%= link_to "<", date: @date.prev_month %>
  <% end %>
  
 <b> <%= @date.strftime("%B %Y") %>  </b> 
  <%= link_to ">", date: @date.next_month %><small><i>Click arrow to see next month</i></small>
</h2>
  
  <% if @date.month == 12 %>
  <h6>Looking for a December booking?  
    <%= link_to "Click here for details.", static_pages_hfsk_holiday_season_path, :class => "link", :style => "color:#9ACD32" %>
  </h6>
   <% else %>
  <% end %>
  
 <%= calendar @date do |date| %>
   <small><b><%= date.day %></b></small><br>
    <% last_booking_day = Date.new(2017,5,31) %>
    <% xmas_close_start = Date.new(2016,12,23) %>
    <% xmas_close_end = Date.new(2017,1,6) %>
     <% full_1 = Date.new(2016,12,3) %>
      <% full_2 = Date.new(2016,12,10) %>
       <% full_3 = Date.new(2016,12,17) %>
   
   <% if date < DateTime.now %>
     
     <% elsif @date.month != date.month  %>
     
      <% elsif ([1,2].include? date.wday)  %>
               <br><small><font color=#000000>Closed</font></small>
              
       <% elsif date > last_booking_day  %> 
              <small><i>Not yet taking bookings</i></small>
    
          <% elsif (date > xmas_close_start) && (date < xmas_close_end)  %>     
                 <br><small><font color=#000000>Closed</font></small>
         
              <% elsif (date.month == 12) && ([5,6].include? date.wday) %>
               <% if @bookings_by_date.key?(date) %>
                 <% if get_sum_from_array_for_field_lunch(@bookings_by_date[date]) > 40 %>
                       <small>Lunch:</small><br><small> <font color=#ff0000>Full</font></small>
                 <% elsif get_sum_from_array_for_field_lunch(@bookings_by_date[date]) > 20 %> 
                       <small>Lunch:</small><br><small> <font color=#FFA500>Filling up</font></small>
                 <% else %>
                       <small>Lunch:</small><br><small><font color=#33CC33>Availability</font></small>
                 <% end %>

                 <% if get_sum_from_array_for_field_evening(@bookings_by_date[date]) > 90 %>
                   <small>Evening: </small><br><small><font color=#ff0000> Full  </font> </small>
                   <% elsif get_sum_from_array_for_field_evening(@bookings_by_date[date]) > 45 %> 
                   <small>Evening: </small><br><small><font color=#FFA500>Filling up</font></small>
                   <% else %>
                   <small>Evening: </small><br><small><font color=#33CC33>Availability</font></small>
                   <% end %> 
                   <% else %>     
                     <br><small><font color=#33CC33>Availability</font></small>
                    <% end %>
            
                 <% elsif (date.month == 12) && ([3,4].include? date.wday) %>     
                      <% if @bookings_by_date.key?(date) %>
                         <% if get_sum_from_array_for_field(@bookings_by_date[date]) > 90 %>
                               <br><small><font color=#ff0000>Full</font></small>
                             <% elsif get_sum_from_array_for_field(@bookings_by_date[date]) > (45) %> 
                               <br><small><font color=#FFA500>Filling up</font></small>
                             <% else %>
                               <br><small><font color=#33CC33>Availability</font></small>
                             <% end %> 
                             <% else %>     
                               <br><small><font color=#33CC33>Availability</font></small>
                               <% end %> 
                  
                     <% elsif (date.month == 12) && (date.wday == 0) %>
                     <% if @bookings_by_date.key?(date) %>
                         <% if get_sum_from_array_for_field(@bookings_by_date[date]) > 80 %>
                             <br><small><font color=#ff0000>Full</font></small>   
                           <% elsif get_sum_from_array_for_field(@bookings_by_date[date]) > 40 %> 
                             <br><small><font color=#FFA500>Filling up </font></small>
                           <% else %>
                             <br><small><font color=#33CC33>Availability</font></small>
                             <% end %> 
                             <% else %>     
                               <br><small><font color=#33CC33>Availability</font></small>
                              <% end %> 
                   
                  
         <% elsif [3,4].include? date.wday %>
         <% if @bookings_by_date.key?(date) %>
           <% @eve_full_diners = Rdetail.get_value(1, "eve_full_diners") %> 
               <% if get_sum_from_array_for_field(@bookings_by_date[date]) > @eve_full_diners %>
                 <br><small><font color=#ff0000>Full</font></small>
               <% elsif get_sum_from_array_for_field(@bookings_by_date[date]) > (@eve_full_diners/2) %> 
                 <br><small><font color=#FFA500>Filling up</font></small>
               <% else %>
                 <br><small><font color=#33CC33>Availability</font></small>
               <% end %> 
               <% else %>     
                 <br><small><font color=#33CC33>Availability</font></small>
                 <% end %> 

        <% elsif [5,6].include? date.wday %>
         <% if @bookings_by_date.key?(date) %>
          <% @day_full_diners = Rdetail.get_value(1, "day_full_diners") %>
          <% @eve_full_diners = Rdetail.get_value(1, "eve_full_diners") %> 
           <% if get_sum_from_array_for_field_lunch(@bookings_by_date[date]) > @day_full_diners %>
                 <small>Lunch:</small><br><small> <font color=#ff0000>Full</font></small>
           <% elsif get_sum_from_array_for_field_lunch(@bookings_by_date[date]) > (@day_full_diners/2) %> 
                 <small>Lunch:</small><br><small> <font color=#FFA500>Filling up</font></small>
           <% else %>
                 <small>Lunch:</small><br><small><font color=#33CC33>Availability</font></small>
           <% end %>

           <% if get_sum_from_array_for_field_evening(@bookings_by_date[date]) > @eve_full_diners %>
             <small>Evening: </small><br><small><font color=#ff0000> Full  </font> </small>
             <% elsif get_sum_from_array_for_field_evening(@bookings_by_date[date]) > (@eve_full_diners/2) %> 
             <small>Evening: </small><br><small><font color=#FFA500>Filling up</font></small>
             <% else %>
             <small>Evening: </small><br><small><font color=#33CC33>Availability</font></small>
             <% end %> 
             <% else %>     
               <br><small><font color=#33CC33>Availability</font></small>
              <% end %>

       <% elsif date.wday == 0 %>
        <% if @bookings_by_date.key?(date) %>
         <% @afternoon_full_diners = Rdetail.get_value(1, "afternoon_full_diners") %> 
           <% if get_sum_from_array_for_field(@bookings_by_date[date]) > @afternoon_full_diners %>
               <br><small><font color=#ff0000>Full</font></small>   
             <% elsif get_sum_from_array_for_field(@bookings_by_date[date]) > (@afternoon_full_diners/2) %> 
               <br><small><font color=#FFA500>Filling up </font></small>
             <% else %>
               <br><small><font color=#33CC33>Availability</font></small>
               <% end %> 
               <% else %>     
                 <br><small><font color=#33CC33>Availability</font></small>
                <% end %> 
                
        <% else %>     
         <br> <small><font color=#33CC33>Availability</font></small>
           <% end %>
  
 </center>   
 <% end %>
</div>

<h6><center>
<% unless @date.month == 12 %>If you are struggling to book a table at a time that is showing availability please email us at <b>hangfirebarry@gmail.com</b> and we'll try to help you find a table.</p></h6>
<% end %>
</div>