<%= render 'layouts/external_header' %>
   
<%= render 'static_pages/side_welcome_open_hours'%>

<div class="col-md-8">
<h5><%= link_to "<< Return to Book a Table", static_pages_booking_enquiry_path, :class => "link", :style => "color:orange" %>
 </h5>
<br>

<div id="bookings">

<h2 id="month">
<% if @date.month == 3 %>
  <% else %>
  <small><i>Click arrow to see previous month</i></small><%= link_to "<", date: @date.prev_month %>
  <% end %>
  
 <b> <%= @date.strftime("%B %Y") %>  </b> 
  <%= link_to ">", date: @date.next_month %><small><i>Click arrow to see next month</i></small>
</h2>

 <%= calendar @date do |date| %>
   <%= date.day %><br><center>
   <% opening = Date.new(2016,3,9)%>
   
  <% if date < opening %>
     <% else %> 
     
     <% if @date.month != date.month %>
       <% elsif date < Date.today %>
       
          <% else %> 
         
         <% if [1,2].include? date.wday %>
           <b>Closed</b>
           <% else %> 
           
           <% if @bookings_by_date[date] %>
     

    <% if [3,4].include? date.wday %>
      <% @eve_full_diners = Rdetail.get_value(1, "eve_full_diners") %> 
        <% if get_sum_from_array_for_field(@bookings_by_date[date]) > @eve_full_diners %>
            <font color=#ff0000>Full   
          <% elsif get_sum_from_array_for_field(@bookings_by_date[date]) > (@eve_full_diners/2) %> 
           <font color=#FFA500>Filling up fast
          <% else %>
            <font color=#33CC33>Availability</font>
          <% end %> 
    <% end %> 
    
    <% if [5,6].include? date.wday %>
      <% @day_full_diners = Rdetail.get_value(1, "day_full_diners") %> 
        <% if get_sum_from_array_for_field(@bookings_by_date[date]) > @day_full_diners %>
            <font color=#ff0000>Full   
          <% elsif get_sum_from_array_for_field(@bookings_by_date[date]) > (@day_full_diners/2) %> 
           <font color=#FFA500>Filling up fast
          <% else %>
            <font color=#33CC33>Availability</font>
          <% end %> 
    <% end %> 
    
    
      <% if date.wday == 0 %>
        <% @afternoon_full_diners = Rdetail.get_value(1, "afternoon_full_diners") %> 
          <% if get_sum_from_array_for_field(@bookings_by_date[date]) > @afternoon_full_diners %>
              <font color=#ff0000>Full   
            <% elsif get_sum_from_array_for_field(@bookings_by_date[date]) > (@afternoon_full_diners/2) %> 
             <font color=#FFA500>Filling up fast
            <% else %>
              <font color=#33CC33>Availability</font>
            <% end %> 
      <% end %>     

      <% else %>
        <font color=#33CC33>Availability</font>
      <% end %>
   <% end %>
   <% end %>
      <% end %>
   </center>
 <% end %>
</div>
</div>