<div class="row">
  <div class="col-md-2">
  <%= render 'layouts/sidebar' %>
  </div>

 
  <div class="col-md-10">
  <br>

  <table class="table">
  <tr>
    <th></th>
    <th style="text-align:center" colspan=2>Total Bookings</th>
    <th style="text-align:center" colspan=2>Completed Bookings</th>
    <th style="text-align:center" colspan=2>Outstanding Bookings</th>
  </tr>
  
  <tr style="text-align:center">
    <td></td>
    <td colspan=2><h5><%= booking_all_confirmed %></td>
    <td colspan=2><h5><%= booking_completed_raw.count %></td>
    <td colspan=2><h5><%= booking_outstanding_raw.count %></td>
    
  </tr>  
  
  <tr style="text-align:center">
    <td></td>
    <td colspan=2><%= get_sum_from_array_for_field(booking_all_confirmed_raw) %> people</td>
    <td colspan=2><%= get_sum_from_array_for_field(booking_completed_raw) %> people</td>
    <td colspan=2><%= get_sum_from_array_for_field(booking_outstanding_raw) %> people</td>
  </tr>  
  
  </table>
  <br>
  <table class="table">
  <tr>
    <th style="text-align:center"></th>
    <th style="text-align:center"><font color=#ffff66>Today</th>
    <th style="text-align:center"><font color=#ffff66>Yesterday</th>
    <th style="text-align:center"><font color=#ffcc00>This Week</th>
    <th style="text-align:center"><font color=#ffcc00>Last Week</th>
    <th style="text-align:center"><font color=#ff9933>This Month</th>
    <th style="text-align:center"><font color=#ff9933>Previous Month</th>
  </tr>
  
  <tr style="text-align:center">
    <td><b>Confirmed</td>
    <td><font color=#ffff66><%= booking_made_on_this_day(Date.today) %></td>
    <td><font color=#ffff66><%= booking_made_on_this_day(Date.yesterday) %></td>
    <td><font color=#ffcc00><%= booking_made_in_this_week(Date.today) %></td>
    <td><font color=#ffcc00><%= booking_made_in_this_week(Date.today-7.days) %></td>
    <td><font color=#ff9933><%= booking_made_in_this_month(Date.today) %></td>
    <td><font color=#ff9933><%= booking_made_in_this_month(Date.today.last_month) %></td>
  </tr>  
  
  <tr style="text-align:center">
    <td><b>Cancelled</td>
    <td><font color=#ffff66><%= booking_cancelled_on_this_day(Date.today) %></td>
    <td><font color=#ffff66><%= booking_cancelled_on_this_day(Date.yesterday) %></td>
    <td><font color=#ffcc00><%= booking_cancelled_in_this_week(Date.today) %></td>
    <td><font color=#ffcc00><%= booking_cancelled_in_this_week(Date.today-7.days) %></td>
    <td><font color=#ff9933><%= booking_cancelled_in_this_month(Date.today) %></td>
    <td><font color=#ff9933><%= booking_cancelled_in_this_month(Date.today.last_month) %></td>
  </tr>  
  
  </table>
  
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= line_chart [
    {name: "Confirmed", data: Booking.where(status: "Confirmed").group_by_day(:created_at).count},
    {name: "Cancelled", data: Booking.where(status: "Cancelled").group_by_day(:created_at).count}
  ], label: "Bookings made by day", max: 240 %>
  
  </div>
  </div>