<div class="row">
  <div class="col-md-2">
  <%= render 'layouts/sidebar' %>
  </div>

  <div class="col-md-10">
  <br><br><br>

  <table class="table">
  <tr>
    <th></th>
    <th style="text-align:center" colspan=2><h5>Completed</h5>(Number of People Fed <br> from opening day to yesterday)</th>
    <th style="text-align:center" colspan=2><h5>Outstanding</h5>(Number of People To Be Fed <br> booked in customers)</th>
    <th style="text-align:center" colspan=2><h5>Total</h5>(Completed and Outstanding)</th>
  </tr>
  
  <tr style="text-align:center">
    <td></td>
    
    <td colspan=2><%= booking_completed_raw.count %> bookings</td>
    <td colspan=2><%= booking_outstanding_raw.count %> bookings</td>
    <td colspan=2><%= booking_all_confirmed %> bookings</td>
    
  </tr>  
  
  <tr style="text-align:center">
    <td></td>
   
    <td colspan=2><%= get_sum_from_array_for_field(booking_completed_raw) %> people</td>
    <td colspan=2><%= get_sum_from_array_for_field(booking_outstanding_raw) %> people</td>
     <td colspan=2><%= get_sum_from_array_for_field(booking_all_confirmed_raw) %> people</td>
  </tr>  
  
  </table>
  <br>
  <table class="table">
  <tr>
    <th style="text-align:center"></th>
    <th style="text-align:center"><font color=#ffff66>Today</th>
    <th style="text-align:center"><font color=#ffff66>Yesterday</th>
    <th style="text-align:center"><font color=#ffcc00>This Week</th>
    <th style="text-align:center"><font color=#ffcc00>Last Week</th>
    <th style="text-align:center"><font color=#ff9933>This Month</th>
    <th style="text-align:center"><font color=#ff9933>Previous Month</th>
  </tr>
  
  <tr style="text-align:center">
    <td><b>Confirmed</td>
    <td><font color=#ffff66><%= booking_made_on_this_day(Date.today) %></td>
    <td><font color=#ffff66><%= booking_made_on_this_day(Date.yesterday) %></td>
    <td><font color=#ffcc00><%= booking_made_in_this_week(Date.today) %></td>
    <td><font color=#ffcc00><%= booking_made_in_this_week(Date.today-7.days) %></td>
    <td><font color=#ff9933><%= booking_made_in_this_month(Date.today) %></td>
    <td><font color=#ff9933><%= booking_made_in_this_month(Date.today.last_month) %></td>
  </tr>  
  
  <tr style="text-align:center">
    <td><b>Cancelled</td>
    <td><font color=#ffff66><%= booking_cancelled_on_this_day(Date.today) %></td>
    <td><font color=#ffff66><%= booking_cancelled_on_this_day(Date.yesterday) %></td>
    <td><font color=#ffcc00><%= booking_cancelled_in_this_week(Date.today) %></td>
    <td><font color=#ffcc00><%= booking_cancelled_in_this_week(Date.today-7.days) %></td>
    <td><font color=#ff9933><%= booking_cancelled_in_this_month(Date.today) %></td>
    <td><font color=#ff9933><%= booking_cancelled_in_this_month(Date.today.last_month) %></td>
  </tr>  
  
  </table>
  
  <h6>Table below shows last 15 bookings made as of:</h6>
  <%= render 'bookings/very_simple_index' %>
  
  </div>
  </div>