<div class="row">
  <div class="col-md-2">
  <%= render 'layouts/sidebar' %>
  </div>

<div class="col-md-10">
<h4>Booking Calendar</h4>
<br>

<div id="bookings">

<h2 id="month">
  <%= link_to "<", date: @date.prev_month %>
  <%= @date.strftime("%B %Y") %>   
  <%= link_to ">", date: @date.next_month %>
</h2>

 <%= calendar @date do |date| %>

   <%= form_tag(bookings_path, :method => "get", id: "search-form", :value => date) do %>
     <input id="search" name="search" type="hidden" value=<%= date %> >
     <small><%= submit_tag date.day %></small>
     <% end %>
   <% if @bookings_by_date[date] %>
     
     <% if @date.month != date.month %>
       
      <% elsif date < Date.today %>
       <center>
       <h6><small><font color=#A0A0A0>Diners: 
       <b><%= get_sum_from_array_for_field(@bookings_by_date[date]) %></b>
       <br>
       <%= get_bookings_over_seven(@bookings_by_date[date]) %></font><br>
         </small></h6>
     
       <% elsif  [5,6].include? date.wday %>
       <center>
      <h6><small>
      <font color=#33CC33>Lunch: 
      <b><%= get_sum_from_array_for_field_lunch(@bookings_by_date[date]) %></b>
      <br><font color=#3333CC> <%= get_lunch_bookings_over_seven(@bookings_by_date[date]) %></font>
      <br>Eve: <b><%= get_sum_from_array_for_field_evening(@bookings_by_date[date]) %></b></font> 
      <br><font color=#3333CC>
      <%= get_eve_bookings_over_seven(@bookings_by_date[date]) %></font><br>
       <font color=#999999>(<%= get_sum_from_array_for_field(@bookings_by_date[date]) %>)</b>
       </small></h6>
       
       <% else %>
        <center>
       <h6><small><font color=#33CC33>Diners: 
       <b><%= get_sum_from_array_for_field(@bookings_by_date[date]) %></b>
       </font>
       <br><font color=#3333CC>
       <%= get_bookings_over_seven(@bookings_by_date[date]) %></font>
       </small></h6>
       
       <% end %>
      
       <% else %>
         <% if  [1,2].include? date.wday%>
           
             <% elsif @date.month != date.month %>
           
             <% elsif date < Date.today %>
             <br>
             <small><font color=#B0B0B0>Bookings:
             <b>0</font></b>
             <br><font color=#A0A0A0>Diners: <b>0</font></small></b>
             
             <% else %>
     
             <br>
             <small><font color=#FFA500>Bookings:
             <b>0</font></b>
             <br><font color=#FFD700>Diners: <b>0</font></small></b>
       
             <% end %>
      
   <% end %>
 <% end %>
</div>