<div class="hfsk-booking-background"> 
<%= render 'layouts/external_header' %>

   <!-- Instructions: This is the booking collect contact information section. -->  
<div class="row">
 <div class="col-md-6 col-md-offset-3 ">
   <h5><i class="fa fa-check-square-o fa-fw"></i> BOOK A TABLE</h5><br>

   <% if @booking.status == "Held" %>

     <table class="table">
     <tr>
     <td style="width: 10%"></td>
     <td style="width: 80%">

    <h6>A table is available for  <%= @booking.number_of_diners %> people at 
          <br><%= @booking.booking_date_time.strftime('%H:%M') %>
          on <%= @booking.booking_date_time.strftime('%A, %d %B %Y') %>.
    </h6>
    <br>
    <%= form_for (@booking) do |builder| %>
 
        <% if @booking.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
            <ul>
            <% @booking.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
      <% end %>
<%= render 'layouts/messages' %>
 <div><h6>Please enter details to confirm your booking.</h6></div>
  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
    <%= builder.text_field :name, :style => "width: 250px;", :placeholder => "full name please!"  %>
   </div>
  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
    <%= builder.text_field :phone, :style => "width: 250px;", :placeholder => "phone number"  %>
   </div>
  <div class="input-group margin-bottom-sm">
   <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
   <%= builder.text_field :email, :style => "width: 250px; text-color: #ffffff", :placeholder => "email address"  %>
  </div>
  <br>
  <div><h6>Do you need a high chair?</h6></div>

    <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><i class="fa fa-child fa-fw"></i></span>
      <div style="display:inline">
     
         <%= builder.label :child_friendly, "Yes", :value => "true"  %>
         <%= builder.radio_button :child_friendly, true %>
         
         <%= builder.label :child_friendly, "No", :value => "false" %>
         <%= builder.radio_button :child_friendly, false, :checked => true %>
          
      </div>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
        </div>
    <br>

   <%= builder.hidden_field :status, :value => "Confirmed" %>  

  <div class="actions">
   <%= submit_tag "Confirm booking", name: nil, class: "btn btn-success button_custom_width" %> 
      
     <button type="button" class="btn btn-warning button_custom_width">
        <%= link_to "I don't want this", @booking, method: :delete, data: { confirm: 'Are you sure?' } %>
     </button>
      </div>

  <% end %>
  

     <!-- Instructions: This is the booking confirmation section. -->  
    
       <% elsif  @booking.status == "Confirmed" %>

    
       <table class="table">
       <tr>
       <td style="width: 5%"></td>
       <td style="width: 90%">
   
       <h5>Hello 
         <%= @booking.name%>,</h5>
         <h6>You have a booking for  <%= @booking.number_of_diners %> people,<br> at 
         <%= @booking.booking_date_time.strftime('%H:%M') %>
         on <%= @booking.booking_date_time.strftime('%A, %d %B %Y') %>.<br>
          
         
       <br><br>
         
       <h6><i>Made a mistake?</i><br><br>
       To cancel your booking, please enter the 
       <font color=#9ACD32>phone number</font>
       <b> OR </b>
        <font color=#9ACD32>email address</font> given at time of booking to validate your identify, then click button:<br><br></h6>
        <%= render 'layouts/messages' %>
           <%= form_tag booking_cancellation_bookings_path, multipart: true, :class => "form-inline" do %> 
           <%= hidden_field_tag(:booking, @booking.id) %>
           <%= text_field_tag 'validation_text', nil, placeholder: 'phone or email...', class:"form-control input-lg"%>
           <br> <hr>
           <%= submit_tag "CANCEL MY BOOKING", name: nil, class: "btn btn-warning btn-lg", data: { confirm: "Are you sure you want to cancel this booking?" } %>   
          <% end%>  
      
      <% elsif  @booking.status == "Cancelled" %>
        
      <table class="table">
      <tr>
      <td style="width: 5%"></td>
      <td style="width: 90%">
           <br>
           <h6>Hello <%= @booking.name%>, <br><br>
           <b>Booking Cancelled:</b><br><br>
           We have sent you an email to confirm your booking was cancelled on <strong><%= @booking.cancelled_at.strftime('%A, %d %B %Y at %H:%M') %></strong>.<br>
           <br> <br> <br>
           Why not book again?<h4>  <%= link_to "Book a Table", static_pages_new_booking_enquiry_path %></h5</td>
           </h6>
           <% if logged_in? %> 
             <h6><%= link_to "Go back to Bookings", bookings_path %></h6>
             <% end %>
           <br><br><br><br><br>
      <% end %>

      </td>
      <td style="width: 5%"></td>
      </tr>
     <table>
     </div>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
       </div>



