<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-10">

<!-- Instructions: This is the welcome section. -->  

  <div class="row">
  <div class="col-md-4">
    <%= image_tag "HF-Logo-Lndscape.jpg", size: "250x180" %>
      <br>
       <h5><strong><i> BBC FOOD AWARD WINNING BBQ </i></strong></h5>
      <br>

<!-- Instructions: This is the opening hours section. -->  

      <h3><i class="fa fa-clock-o fa-fw"></i> OPENING HOURS</h3>
      <table class="table-condensed" style="border: 1; text-align:left;">
      <tr><td style="width: 13%"></td><td style="width: 25%">Wed:</td><td style="width: 40%">5pm - 11pm</td><td style="width: 22%"></td></tr>
      <tr><td></td><td>Thurs:</td><td>5pm - 11pm</td><td></td></tr>
      <tr><td></td><td>Fri:</td><td>5pm - 11pm</td><td></td></tr>
      <tr><td></td><td>Sat:</td><td>10am - 12pm</td><td></td></tr>
      <tr><td></td><td>Sun:</td><td>10am - 6pm</td><td></td></tr>
      <tr><td></td><td>Mon:</td><td>Closed</td><td></td></tr>
       <tr><td></td><td>Tues:</td><td>Closed</td><td></td></tr>
      </table>

   </div>

   <!-- Instructions: This is the booking collect contact information section. -->  

   <div class="col-md-5">
   <h3><i class="fa fa-check-square-o fa-fw"></i> BOOK A TABLE</h3><br>


   <% if @booking.status == "Held" %>

    <div class="well">

    <h5>A table is available for  <%= @booking.number_of_diners %> people at 
          <br><%= @booking.booking_time.strftime('%H:%M') %>
          on <%= @booking.booking_date.strftime('%A, %d %B %Y') %>.
    </h5><br>

    <%= form_for (@booking) do |builder| %>
 
        <% if @booking.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
            <ul>
            <% @booking.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

  <h6>Please enter details to confirm your booking.</h6>

  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
    <%= builder.text_field :name, :style => "width: 250px;", :placeholder => "contact name"  %>
   </div>
  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
    <%= builder.text_field :phone, :style => "width: 250px;", :placeholder => "phone number"  %>
   </div>
   <div class="input-group margin-bottom-sm">
     <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
     <%= builder.text_field :email, :style => "width: 250px;", :placeholder => "email address"  %>
    </div><br>

   <%= builder.hidden_field :status, :value => "Confirmed" %>  

  <div class="actions">
   <%= submit_tag "Confirm my booking", name: nil, class: "btn btn-success" %>    
  
     <button type="button" class="btn btn-warning button_custom_width">
        <%= link_to "I don't want this", @booking, method: :delete, data: { confirm: 'Are you sure?' } %>
     </button>

  <% end %>
  </div>
  

  </div></div></div>

     <!-- Instructions: This is the booking confirmation section. -->  
    
       <% elsif  @booking.status == "Confirmed" %>
    
       <div class="well well-sm">
   
       <h5><strong>Hello 
         <%= @booking.name%></strong>,</h5><br>
         <h6>You have a booking
         for  <%= @booking.number_of_diners %> people, at 
          <%= @booking.booking_time.strftime('%H:%M') %> on <%= @booking.booking_date.strftime('%A, %d %B %Y') %>.<br>
          <br>Your table can accomodate <%= table_min_max(@booking)[0][0] %> to <%= table_min_max(@booking)[0][1] %> diners, so no need to contact us if your party size changes, but still fits the table.
          <br>
          <br>We look forward to welcoming you.<br>
          <i>Regards, </i></h6><br>
          <h5><i><strong>Hang Fire Southern Kitchen</strong></i><h5>
       <br>
         
       <% if (@booking.booking_date - DateTime.now) > 1 %> 
          <h5>Made a mistake?</h5>
              <%= form_tag booking_cancellation_bookings_path, multipart: true, :class => "form-inline" do %> 
              <%= hidden_field_tag(:booking, @booking.id) %>
              <%= submit_tag "CANCEL MY BOOKING", name: nil, class: "btn btn-warning" %>   
             <% end%> 
             </div></div></div>
   
 
         <% else %> 
      
         <p>Bookings cannot be cancelled online within 1 day of the booking. Please call the restaurant on 02920 666777. </p>
         <% end%> 
 
         <% elsif  @booking.status == "Cancelled" %>
        
            <div class="well well-sm">
           <br>
           <h5>Hello <%= @booking.name%>, <br><br>
           Your booking was cancelled on<br><strong><%= @booking.cancelled_at.strftime('%A, %d %B %Y at %H:%M') %></strong>.<br><br>
           If you want to rebook, please use this link:<h4>  <%= link_to "Reserve a Table", static_pages_booking_enquiry_path %></h4</td>
           </h5>
             </div>
           </div>
      <% end %>

      </div>
    </div> 


