<%= render 'layouts/external_header' %>
   
<%= render 'static_pages/side_welcome_open_hours'%>

   <!-- Instructions: This is the booking collect contact information section. -->  

  <div class="col-md-5">
   <h3><i class="fa fa-check-square-o fa-fw"></i> BOOK A TABLE</h3><br>

   <% if @booking.status == "Held" %>

     <table class="table">
     <tr>
     <td style="width: 10%"></td>
     <td style="width: 80%">

    <h6>A table is available for  <%= @booking.number_of_diners %> people at 
          <br><%= @booking.booking_date_time.strftime('%H:%M') %>
          on <%= @booking.booking_date_time.strftime('%A, %d %B %Y') %>.
    </h6>
    <br>
    <%= form_for (@booking) do |builder| %>
 
        <% if @booking.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
            <ul>
            <% @booking.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
      <% end %>

 <div>Please enter details to confirm your booking.</div>
  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
    <%= builder.text_field :name, :style => "width: 250px;", :placeholder => "full name please!"  %>
   </div>
  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
    <%= builder.text_field :phone, :style => "width: 250px;", :placeholder => "phone number"  %>
   </div>
  <div class="input-group margin-bottom-sm">
   <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
   <%= builder.text_field :email, :style => "width: 250px; text-color: #ffffff", :placeholder => "email address"  %>
  </div>
  <br>
  <div>Do you need a child seat?</div>

    <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><i class="fa fa-child fa-fw"></i></span>
      <div style="display:inline">
     
         <%= builder.label :child_friendly, "Yes", :value => "true"  %>
         <%= builder.radio_button :child_friendly, true %>
         
         <%= builder.label :child_friendly, "No", :value => "false" %>
         <%= builder.radio_button :child_friendly, false, :checked => true %>
          
      </div>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
        </div>
    <br>

   <%= builder.hidden_field :status, :value => "Confirmed" %>  

  <div class="actions">
   <%= submit_tag "Confirm booking", name: nil, class: "btn btn-success button_custom_width" %> 
      
     <button type="button" class="btn btn-warning button_custom_width">
        <%= link_to "I don't want this", @booking, method: :delete, data: { confirm: 'Are you sure?' } %>
     </button>
      </div>

  <% end %>
  
    
 

     <!-- Instructions: This is the booking confirmation section. -->  
    
       <% elsif  @booking.status == "Confirmed" %>
    
       <table class="table">
       <tr>
       <td style="width: 5%"></td>
       <td style="width: 90%">
   
       <h5>Hello 
         <%= @booking.name%>,</h5><br>
         <h6>You have a booking for  <%= @booking.number_of_diners %> people, at 
         <%= @booking.booking_date_time.strftime('%H:%M') %><br>
         on <%= @booking.booking_date_time.strftime('%A, %d %B %Y') %>.<br>
          <br>
          <br>See you soon.<br>
         
       <br><br><br>
         
       <% if (@booking.booking_date_time - DateTime.now) > 1 %> 
          <h6><i>Made a mistake?</i></h6>
              <%= form_tag booking_cancellation_bookings_path, multipart: true, :class => "form-inline" do %> 
              <%= hidden_field_tag(:booking, @booking.id) %>
              <%= submit_tag "CANCEL MY BOOKING", name: nil, class: "btn btn-warning btn-sm" %>   
             <% end%> 
             </div></div></div>
   
 
         <% else %> 
      
         <p>Bookings cannot be cancelled online within 1 day of the booking. Please call the restaurant on 02920 666777. </p>
         <% end%> 
 
      <% elsif  @booking.status == "Cancelled" %>
        
      <table class="table">
      <tr>
      <td style="width: 5%"></td>
      <td style="width: 90%">
           <br>
           <h6>Hello <%= @booking.name%>, <br><br>
           <b>Booking Cancelled:</b><br><br>
           We have sent you an email to confirm your booking was cancelled on <strong><%= @booking.cancelled_at.strftime('%A, %d %B %Y at %H:%M') %></strong>.<br>
           <br> <br>
           Why not book again?<h4>  <%= link_to "Book a Table", static_pages_booking_enquiry_path %></h5</td>
           </h6>
             </div>
           </div>
      <% end %>

      </td>
      <td style="width: 5%"></td>
      </tr>
     <table>



