  <% if @booking.status == "Held" %>
    <div class="row">
    <div class="col-md-8 col-md-offset-2  ">

    <h3  class="text-center">A table is available for  <%= @booking.number_of_diners %> people
   at <br><%= @booking.booking_time.strftime('%H:%M') %>
    on <%= @booking.booking_date.strftime('%A, %d %B %Y') %>.<br>
  </h3>
  </div></div> 
  
  <div class="row">
    <div class="col-md-4 col-md-offset-4  ">
    <br>

<%= form_for (@booking) do |builder| %>
    
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><center>Please enter details to confirm your booking.</center></p>
 
  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
    <%= builder.text_field :phone, :style => "width: 250px;", :placeholder => "contact name"  %>
   </div>
  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
    <%= builder.text_field :phone, :style => "width: 250px;", :placeholder => "phone number"  %>
   </div>
   <div class="input-group margin-bottom-sm">
     <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
     <%= builder.text_field :email, :style => "width: 250px;", :placeholder => "email address"  %>
    </div>
    <br>
  
   <%= builder.hidden_field :status, :value => "Confirmed" %>  
  
  <div class="actions">
  <center>
     <%= button_tag(type: 'submit', class: "btn btn-success") do %>
       Confirm My Booking
     <% end %>  
     
     <button type="button" class="btn btn-warning button_custom_width">
        <%= link_to "I don't want this", @booking, method: :delete, data: { confirm: 'Are you sure?' } %>
     </button></center>
     
     <% end %>
   
     <br><br><br>MGMT:Table Assignment:
       <%= Table.where(:id => @booking.table_id).first.reference %><br>
       </div></div>

       
       <% elsif  @booking.status == "Confirmed" %>
       
       <div class="row">
       <div class="col-md-4 col-md-offset-4">
       <br>
       <h3><%= @booking.name%></h3>
       Your Booking:<br><br>
        <%= @booking.booking_time.strftime('%H:%M') %>
       on <%= @booking.booking_date.strftime('%A, %d %B %Y') %><br>
       for  <%= @booking.number_of_diners %> people.</h3>
       <br><br>  
     
       <% if (@booking.booking_date - DateTime.now) > 1 %> 
                 
        <%= form_tag booking_cancellation_bookings_path, multipart: true, :class => "form-inline" do %> 
        <%= hidden_field_tag(:booking, @booking.id) %>
        <%= submit_tag "CANCEL MY BOOKING", name: nil, class: "btn btn-warning" %>   
       <% end%> 
    
         <% else %> 
         <p>Bookings cannot be cancelled online within 1 day of the booking. Please call the restaurant on 02920 666777. </p>
         <% end%> 
    
           <% elsif  @booking.status == "Cancelled" %>
           <div class="row">
           <div class="col-md-4 col-md-offset-4">
           <br>
           <h3><%= @booking.name%></h3> <br>
           Your booking was cancelled on<br><strong><%= @booking.cancelled_at.strftime('%A, %d %B %Y at %H:%M') %></strong>.<br><br>
           If you want to rebook please use the link below<br>  <%= link_to "Reserve a Table", static_pages_booking_enquiry_path %></button></td>
    
       </div></div>
      <% end %>

 


