<p id="notice"><%= notice %></p>


<br>
<%= form_tag(bookings_path, :method => "get", id: "search-form") do %>
    <%= date_select :search, params[:search], placeholder: "Search by booking date" %>
    <%= submit_tag "Search" %>
<% end %>

<h3>Showing bookings for : <%= @bookings.first.booking_date.strftime('%A, %d %B %Y') %></h3>
<br>
 <% @results = reformat_bookings_into_single_line(@bookings_by_table) %>

 <TABLE class="table table-bordered">
 <tr>
 <th></th>
 <th colspan="2" style="text-align:center">11.00</th>
 <th colspan="2" style="text-align:center">12.00</th>
 <th colspan="2" style="text-align:center">13.00</th>
 <th colspan="2" style="text-align:center">14.00</th>
 <th colspan="2" style="text-align:center">15.00</th>
 <th colspan="2" style="text-align:center">16.00</th>
 <th colspan="2" style="text-align:center">17.00</th>
 <th colspan="2" style="text-align:center">18.00</th>
 <th colspan="2" style="text-align:center">19.00</th>
 <th colspan="2" style="text-align:center">20.00</th>
 <th colspan="2" style="text-align:center">21.00</th>
 <th colspan="2" style="text-align:center">22.00</th>
 <th colspan="2" style="text-align:center">23.00</th>
 </tr>
 <tr>
 <td></td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 </tr>
 
 <% @results.each do |key, array| %>
   <tr>
      <td><%= Table.where(:id => key).first.reference %>:
      <%= Table.where(:id => key).first.desc %></td>
 <% array.each do |entry| %>
   
   <% case entry[1] %>
     <% when 1 %>
      <td class="success"></td>
   <% when 2 %>
     <td class="danger">...</td>
    <% when 0 %>
    <td></td>
    <% end %>
   <% end %>
</tr>
<% end %>
</table> 


 