<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-10">

<script type="text/javascript">
        $(function () { $("[data-toggle='tooltip']").tooltip(); });
        </script>
        
<%= form_tag(bookings_path, :method => "get", id: "search-form") do %>
 
    <input class="datepicker" data-provide='datepicker' id="search" name=[search] type="text" data-date-days-of-week-disabled=[1,2] data-date-week-start=[1]  data-date-autoclose=[true] data-date-format=dd-mm-yyyy data-date-today-highlight=true >   
    
    <%= submit_tag "Search" %>
<% end %>
<br>
<table class="table table-bordered table-condensed"><tr>
<% array = booking_count_by_day(Date.today)%>
<% array.each do |d| %>
<td><center><small>
 <%= d[0].strftime("%a, %d") %><br>
  <%= d[1] %><small>
  </center>
 </td>
 <% end %>
</tr></table>
<br>



<% if @bookings == 0 %>
    <br>
  <h5>No bookings for this date</h5>

  <% else %>
  
<h3><%= @bookings.count %> bookings for : <%= @bookings.first.booking_date.strftime('%A, %d %B %Y') %></h3>

<br>
 <% @results = reformat_bookings_into_single_line(@bookings_by_table) %>

 <TABLE class="table table-bordered">
 <tr>
 <th></th>
 <th colspan="2" style="text-align:center">10am</th>
 <th colspan="2" style="text-align:center">11am</th>
 <th colspan="2" style="text-align:center">12am</th>
 <th colspan="2" style="text-align:center">13pm</th>
 <th colspan="2" style="text-align:center">14pm</th>
 <th colspan="2" style="text-align:center">15pm</th>
 <th colspan="2" style="text-align:center">16pm</th>
 <th colspan="2" style="text-align:center">17pm</th>
 <th colspan="2" style="text-align:center">18pm</th>
 <th colspan="2" style="text-align:center">19pm</th>
 <th colspan="2" style="text-align:center">20pm</th>
 <th colspan="2" style="text-align:center">21pm</th>
 <th colspan="2" style="text-align:center">22pm</th>
 <th colspan="2" style="text-align:center">23pm</th>
 </tr>
 <tr>
 <td></td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 <td>0</td>
 <td>30</td>
 </tr>

 <% @results.each do |key, array| %>
   <tr>
      <td>
      <%= Table.where(:id => key).first.reference %>
           </td>
      
 <% array.each do |entry| %>
   
   <% case entry[1][0] %>
     <% when 1 %>
      <td class="success">
        <div data-toggle="tooltip" title="tooltip" data-placement="top" container='body' >
        ..
        </div>
     </td>
   <% when 2 %>
     <td class="danger"><%= entry[1][1]%></td>
    <% when 0 %>
    <td></td>
    <% end %>
   <% end %>
</tr>
<% end %>
</table> 

<br><br>
<h6>Booking details for : <%= @bookings.first.booking_date.strftime('%A, %d %B %Y') %></h6>
<br>

<table class="table ">
  <thead>
    <tr>
      <th>Table</th>
      <th>Customer</th>
      <th>Number</th>
      <th>Booking time</th>
      <th>Number of diners</th>
      <th>Accessible</th>
      <th>Child friendly</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings_by_table.sort_by(&:first).each do |table, bookings| %>
     
      <tr>
        <td colspan="5" ><% unless table.nil? %>
         <u> <%= Table.where(:id => table).first.reference %> - <%= Table.where(:id => table).first.desc %><% end %>  </u></td>
      </tr>
          <% bookings = bookings.sort_by { |hsh| hsh[:booking_time] }%>
            <% bookings.each do |booking| %>
             
        <tr>
        <td>[<%= booking.id %>]</td>
        <td><strong><%= booking.name %></strong></td>
        <td><%= booking.phone %></td>
       
        <td><%= booking.booking_time.strftime('%H:%M')   %></td>
        <td><%= booking.number_of_diners %></td>
        <td><%= booking.accessible %></td>
        <td><%= booking.child_friendly %></td>
      </tr>
    <% end %>    <% end %>
  </tbody>
</table>

<% end %>
<br><br>
<br><br>
<br><br>
<br><br>
 