<div class="row">
  <div class="col-md-2">
  <%= render 'layouts/sidebar' %>
  </div>

<div class="col-md-10">

<!-- Instructions: The search form. -->  

<div class="row">
<div class="col-md-4">

  <%= form_tag(bookings_path, :method => "get", id: "search-form") do %>
      <input class="datepicker" data-provide='datepicker' id="search" name=[search] type="text" data-date-days-of-week-disabled=[1,2] data-date-week-start=[1]  data-date-autoclose=[true] data-date-format=dd-mm-yyyy data-date-today-highlight=true >   
      <%= submit_tag "Search" %>
  <% end %>
  </div>
  <div class="col-md-4">
  <button type="button" class="btn btn-warning btn-sm"><%= link_to "Management: Create Booking", new_booking_path %></button>
  </div>
  <br>

<!-- Instructions: The bookings summary table, for next 14 days. -->  

  <%= render 'bookings/coming_bookings_summary' %>

<!-- Instructions: If no bookings handle. -->  

  <% if @bookings == 0 %>
      <br>
    <h5>No bookings for this date</h5>
  <% else %>

<!-- Instructions: If day is Wed, Thurs or Fri. -->  
  
  <% if [3,4].include? @bookings.first.booking_date_time.wday %>
    <h3><%= @bookings.count %> bookings for : <%= @bookings.first.booking_date_time.strftime('%A, %d %B %Y') %></h3>

    <%= render 'bookings/evening_index_grid' %>
 
  <% elsif [5,6].include? @bookings.first.booking_date_time.wday %>
  
<!-- Instructions: If day is Sat. -->  
 
  <h3><%= @bookings.count %> bookings for : <%= @bookings.first.booking_date_time.strftime('%A, %d %B %Y') %></h3>

  <%= render 'bookings/morning_index_grid' %>
  
  <%= render 'bookings/evening_index_grid' %>

  <% else %>
  
<!-- Instructions: If day is Sun. -->  
 
  <h3><%= @bookings.count %> bookings for : <%= @bookings.first.booking_date_time.strftime('%A, %d %B %Y') %></h3>

  
  <%= render 'bookings/sun_evening_index_grid' %>

  <% end %>
  
<!-- Instructions: Bookings simple details list. -->  
<br>
  <%= render 'bookings/simple_index' %>

<% end %>
<br>
</div></div>
 