<div class="row">
  <div class="col-md-2">
  <%= render 'layouts/sidebar' %>
  </div>

<div class="col-md-10">
<h3>Management Edit Booking</h3>

<%= bootstrap_form_for(@booking, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6") do |f| %>

  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

     <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name %>
    <%= f.datetime_select :booking_date_time, :minute_step => 15 %>
    <%= f.select :number_of_diners, options_for_select(1..21, f.object.number_of_diners ) %>
    <%= f.text_field :name, placeholder: "Customer Name" %>
    <%= f.text_field :phone, placeholder: "Customer Phone (if unknown enter 0000)" %>
    <%= f.text_field :email %>
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          
           <%= f.check_box :child_friendly, label: "Child seat required?" %>
         
        </div>
      </div>
    </div>
 
 <% if f.object.source == "Online" %>
   <h4>
   Any updates to this booking will be emailed to the customer.<br>
   PLEASE ENSURE YOU HAVE AGREEMENT TO MAKE THIS CHANGE</h4>
   <% end %>
 
  <div class="col-sm-offset-2 col-sm-10">
      <div class="actions">
         <%= f.submit "Update This Booking", class: "btn btn-primary" %>
      <%= link_to "Return to Search Bookings", search_bookings_path, class: "btn btn-success" %></div>
  </div>
<% end %>

<%= link_to 'Show', @booking %> |
<%= link_to 'Back', bookings_path %>
