<div class="row">
  <div class="col-md-2">
  <%= render 'layouts/sidebar' %>
  </div>

<div class="col-md-10">
<h4>Search Bookings</h4>
<%= form_tag search_bookings_path, method: :get, :class => "form-inline" do %>

    <h6>Search by:<br>
    <%= text_field(:booking, :name, :placeholder => "Name", :class=>"form-control input-sm") %>
    or
    <%= text_field(:booking, :phone, :placeholder => "Phone", :class=>"form-control input-sm") %>
    or
    <%= text_field(:booking, :email, :placeholder => "Email", :class=>"form-control input-sm") %>
    or
    <input class="datepicker" data-provide='datepicker' id="search" name=booking[booking_date_time] type="text" data-date-days-of-week-disabled=[1,2] data-date-week-start=[1]  data-date-autoclose=[true] data-date-format=dd-mm-yyyy data-date-today-highlight=true class="form-control input-sm" placeholder="Booking Date">   
 
  <br><br>
  <p>Search is no longer case  sensitive. Use any case.<br>
	 For speed, search by a unique part of name, number or email, you do not need to type the whole thing. <p>
  <br>
  <button type="submit" class="btn btn-primary btn-lg">Search for Booking</button>
<% end %>
<br>
  
  <% if @bookings == 0 %>
    <br>
    No records found for search criteria
   <br>
    <% else %>
    
<!-- Instructions: Bookings simple details list. -->  
<br>
<TABLE class="table table-bordered table-condensed ">
  <thead>
    <tr>
      <th><small>When Booked? </th>
      <th><small>Status</th>
      <th><small>Customer</th>
      <th><center><small>Booking Date</center></th>
      <th><center><small>Booking time</center></th>
      <th><center><small>Diners</center></th>
      <th><center><small>Child Seat?</center></th>
      <th><center><small>Source</center></th>
      <th><small>Edit</th>
      <th><small>Cancel</th>
        <% if current_user.admin?  %>
      <th><small>Delete</th>
      <% end%>
    </tr>
  </thead>
  <tbody>
     
            <% @bookings.each do |booking| %>
             
        <tr>
         <td><small><font color=#8c99a6><%= booking.created_at.strftime('%Y %b %d %H:%M') %></small></td>
        <% if booking.status == "Cancelled" %>
        <td class="danger"><%= booking.status %><br><small>[<%= booking.cancelled_at.strftime('%d %b %y') %>]<br>[<%= booking.cancelled_at.strftime('%H:%M') %>]</td>
        <% elsif booking.status == "Confirmed" %>
         <td class="success"><%= booking.status %></td>
         <% else %>
         <td><%= booking.status %></td>
         <% end %>
        
        <td><strong><%= booking.name %></strong><br>
        <small><font color=#8c99a6><%= booking.phone %><br>
        <%= booking.email %></small></td>
         <td><center><%= booking.booking_date_time.strftime('%d %b %Y') %></center></td>
        <td><center><%= booking.booking_date_time.strftime('%H:%M') %></center></td>
        <td><center><%= booking.number_of_diners %></center></td>
        <td><center>
           <% if booking.child_friendly  %>
              <b><font color=#9ACD32>YES</font></b>
              <% else %>
              No
            <% end %></center></td>
             <td><center><small><%= booking.source %></td>
             <td><center>
             
             <%= form_tag(mgmt_edit_booking_path, :method => "get", id: "mgmt_edit") do %>
               <input id="booking" name="id" type="hidden" value=<%= booking.id %> >
     
               <%= button_tag( :class => "btn btn-success btn-xs") do %>
                  <i class="fa fa-pencil-square-o"></i>
               <% end %>
              <% end %>
             </td>
             <td><center>
             <%= form_tag booking_cancellation_bookings_path, multipart: true, :class => "form-inline" do %> 
             <%= hidden_field_tag(:booking, booking.id) %>
             <%= button_tag( :class => "btn btn-warning btn-xs", data: { confirm: "Are you sure you want to cancel this booking?" }) do %>
                <i class="fa fa-undo"></i>
             <% end %>
           <% end%> 
             </td>
             <% if current_user.admin?  %>
              <td><center> <%= link_to booking, method: :delete, data: { confirm: 'Are you sure you want to delete this booking?' }, class: 'btn btn-danger btn-xs' do %>
                <span class="fa fa-trash""></span>
              <% end %> </td>
           <% end%>
      </tr>
    <% end %>  
   
  </tbody>
</table>
<% end %>
<br>
</div>
 