<%= render 'layouts/external_header' %>
   
<%= render 'static_pages/side_welcome_open_hours'%>

   <!-- Instructions: This is the booking collect contact information section. -->  

   <div class="col-md-5">
   <h3><i class="fa fa-check-square-o fa-fw"></i> BOOK A TABLE</h3><br>

  <table>
  <tr>
  <td style="width: 5%"></td>
  <td style="width: 90%">
  <h6><%= @booking.name%> you're booked. 
   <br><br>
   We have sent you an email confirming your booking for
   <%= @booking.number_of_diners %> people at 
   <%= @booking.booking_time.strftime('%H:%M') %>  on
   <%= @booking.booking_date.strftime('%A %d %B %Y') %>.<br><br>
   If you have not receive your confirmation email, please get in touch via the website.<br><br>
   See you soon.</h6>
   <br>
   <h6><i>Made a mistake?</i><br>
   <%= link_to "Click here to cancel a booking", edit_booking_path(@booking) %></h6>
 </td><td style="width: 5%"></td></tr>
    <table>
</div></div>
