<div class="row">
  <div class="col-md-4 col-md-offset-4"><br>
  <h3  class="text-center">It's done!</h3>
  <br>
  
   <h4  class="text-center">
   Hi <strong><%= @booking.name%></strong>,<br>
   thanks for your booking.<br><br>
   We have sent an email to 
   <%= @booking.email %> to confirm your table for 
   <%= @booking.number_of_diners %> people at 
   <%= @booking.booking_time.strftime('%H:%M') %> on
   <%= @booking.booking_date.strftime('%A, %d %B %Y') %>.<br><br>
   We look forward to welcoming you.
   <br><br>
   <i><strong>Hang Fire Southern Kitchen</strong></i>
   
   </h4>
   <br><br>



<p>
  <strong>Accessible:</strong>
  <%= @booking.accessible %>
</p>

<p>
  <strong>Child friendly:</strong>
  <%= @booking.child_friendly %>
</p>



<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
</div></div>
