<%= render 'layouts/external_header' %>
   
<%= render 'static_pages/side_welcome_open_hours'%>

<!-- Instructions: This is the confirmed booking show section. -->  

  <div class="col-md-5">
   
  <% if (@booking.status == "Confirmed") && (@booking.source == "Online") %>
  <table>
  <tr>
  <td style="width: 5%"></td>
  <td style="width: 90%">
  <h6><b><%= @booking.name%> you're booked.</b> 
   <br><br>
   We have sent you an email confirming your booking for
   <%= @booking.number_of_diners %> people at 
   <%= @booking.booking_date_time.strftime('%H:%M') %>  on
   <%= @booking.booking_date_time.strftime('%A %d %B %Y') %>.<br><br>
   <font color=#FFA500>If you don't receive the email, please check your email junk folder.</font>
   </h6>
   <br>
   <% if logged_in? %> 
     <h6><%= link_to "Go back to Calendar", calendar_path %></h6>
     <% end %>
     
   <h6><i>Made a mistake?</i></h6>
   <b><%= link_to "Click Here", edit_booking_path(@booking.id)%> to cancel your booking.</b>
   <br>  <br>
  </td><td style="width: 5%"></td>
  </tr>
  <table>
 
  <!-- Instructions: This is the mgmt booking show section. -->  
  
    <% elsif (@booking.status == "Confirmed") && (@booking.source == "Management") %>
    <table>
    <tr>
    <td style="width: 5%"></td>
    <td style="width: 90%">
    <h6>Booking successful for: </h6>
     <br>
     <table class="table">
     <tr><td>Name</td><td><b><%= @booking.name%>  </b></td>
     </tr>
     <tr><td>Date</td><td><%= @booking.booking_date_time.strftime('%A %d %B %Y') %></td>
     </tr>
     <tr><td>Time</td><td><%= @booking.booking_date_time.strftime('%H:%M') %></td>
     </tr>
     <tr><td>Diners</td><td><%= @booking.number_of_diners %></td>
     </tr>
     </table>
   
    <br>
    <% if logged_in? %> 
      <h6><%= link_to "Go back to Calendar", calendar_path %></h6>
      <% end %>
     
    <br>
     <h6><i>Made a mistake?</i></h6>
         <%= form_tag booking_cancellation_bookings_path, multipart: true, :class => "form-inline" do %> 
         <%= hidden_field_tag(:booking, @booking.id) %>
         
         <%= submit_tag "CANCEL THIS BOOKING", name: nil, class: "btn btn-warning btn-sm", data: { confirm: "Are you sure you want to cancel this booking?" } %>   
        <% end%> 
     <br>
    </td><td style="width: 5%"></td>
    </tr>
    <table>
  
<!-- Instructions: This is the cancelled booking show section. -->  
  
  <% elsif (@booking.status == "Cancelled") && (@booking.source == "Online") %>
  
  <table class="table">
  <tr>
  <td style="width: 5%"></td>
  <td style="width: 90%">
       <br>
       <h6>Hello <%= @booking.name%>, <br><br>
       <b>This booking was cancelled</b> on <strong><%= @booking.cancelled_at.strftime('%A, %d %B %Y at %H:%M') %></strong>.<br>
       <br> <br>
       Why not book again?<h4>  <%= link_to "Book a Table", static_pages_new_booking_enquiry_path %></h5</td>
       </h6>
       <% if logged_in? %> 
      <h6><%= link_to "Go back to Calendar", calendar_path %></h6>
      <% end %>
  
  </td>
  <td style="width: 5%"></td>
  </tr>
 <table>
 
 <!-- Instructions: This is the unconfirmed/abandonned booking show section. -->  
 
  <% else %>
  
  <table class="table">
  <tr>
  <td style="width: 5%"></td>
  <td style="width: 90%">
       <br>
       <h6>Booking Incomplete, <br><br>
      <br>
       This booking was not confirmed at time of booking and is void.</strong><br>
       <br> <br>
       Why not book again?<h4>  <%= link_to "Book a Table", static_pages_new_booking_enquiry_path %></h4></td>
       </h6>
  
  </td>
  <td style="width: 5%"></td>
  </tr>
 <table>
        
 <% end %>
  
  </div></div>
  
  
