<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-10">

<h2>Staff</h2>
 <% if current_user.admin?  %>
<b><%= link_to '+ add new User', new_user_path %></b>
<% end %>

<table class="table table-condensed">
  <thead>
    <tr>
      <th style="width: 20%">Name</th>
      <th style="width: 20%">Position</th>
      <th style="width: 20%">Email</th>
      <th style="width: 10%">Phone</th>
      <th style="width: 5%">Admin?</th>
      <th style="width: 5%">SuperUser?</th>
      <th style="width: 5%" colspan="2"><center>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.position %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
       
         <% if current_user.admin?  %>
            <% unless user.admin == false %>
              <td><%= user.admin %></td>
            <% else %> <td>- </td><% end %>
            <% end %>
            
        <% if current_user.admin? || current_user.super_user? %>
            <% unless user.super_user == false %>
              <td><%= user.super_user %></td>
              <% else %> <td>-</td><% end %>
              <% end %>
            
          <% if current_user.admin?  %>
            <td><%= link_to edit_user_path(user), class: 'btn btn-success btn-xs' do %>
                      <span class="fa fa-pencil-square-o""></span>
                   <% end %> </td>
            
              <td> 
             <%= link_to user, method: :delete, data: { confirm: 'Are you sure you want to delete this person?' }, class: 'btn btn-danger btn-xs' do %>
              <span class="fa fa-trash""></span>
               <% end %> </td>
                
           
            <% elsif logged_in? && current_user?(user)  %>
            <td><%= link_to edit_user_path(user), class: 'btn btn-success btn-xs' do %>
                       <span class="fa fa-pencil-square-o""></span>
                    <% end %></td>
                    <% else %>
            
           
           
            <% end %>   
             
      </tr>
    <% end %>
  </tbody>
</table>
</div></div>
<br>