<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-5">

<h2>System Users</h2>
<table class="table">
<tr>
  <td>Name:</td>
  <td><h4><strong><%= @user.name %></strong></h4></td>
</tr>
<tr>
  <td>Position:</td>
  <td> <strong><%= @user.position %></strong></td>
</tr>
<tr>
  <td>Email:</td>
  <td><strong><%= @user.email %></strong></td>
</tr>
<tr>
  <td>Phone:</td>
  <td><strong><%= @user.phone %></strong></td>
</tr>
 <% if current_user.admin? && current_user.super_user? %>
<tr>
  <td>Admin:</td>
  <td> <strong> <%= @user.admin %></strong></td>
</tr>
<tr>
  <td>Super User:</td>
  <td> <strong> <%= @user.super_user %></strong></td>
</tr>
<% elsif current_user.super_user? %>
<tr>
  <td>Super User:</td>
  <td> <strong> <%= @user.super_user %></strong></td>
</tr>
<% end %>
</table>
  <% if current_user.admin?  || current_user.super_user? %>
<%= link_to 'Edit this User Profile', edit_user_path(@user) %> |
<% end %>
<%= link_to 'See All Users', users_path %>
