<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-5">

<h2>Staff</h2>
<table class="table">
<tr>
  <td>Name:</td>
  <td><h4><strong><%= @user.name %></strong></h4></td>
</tr>
<tr>
  <td>Position:</td>
  <td> <strong><%= @user.position %></strong></td>
</tr>
<tr>
  <td>Email:</td>
  <td><strong><%= @user.email %></strong></td>
</tr>
<tr>
  <td>Phone:</td>
  <td><strong><%= @user.phone %></strong></td>
</tr>
<tr>
  <td>Admin:</td>
  <td> <strong> <%= @user.admin %></strong></td>
</tr>
</table>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
