<%= form_for(@dailybank) do |f| %>
  <% if @dailybank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dailybank.errors.count, "error") %> prohibited this dailybank from being saved:</h2>

      <ul>
      <% @dailybank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <h3><%= @dailybank.status %></h3> 
  <h6><small>1.Enter card machine totals and use CHECK CARDS button to validate entries.<br>
  2. Click NEXT >> to continue.
  </small></h6>
     
<br>
   
   <div class="row"> 
      <div class="col-md-2"><font color=#D3D3D3><%= f.label :card_1, "Card 1" %></font></div>
      <div class="col-md-2"><%= f.text_field :card_1, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.card_1, :precision => 2)) %></div> 
      <div class="col-md-2"><font color=#D3D3D3><%= f.label :gratuity_1, "Gratuity 1" %></font></div>
      <div class="col-md-2"><%= f.text_field :gratuity_1, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.gratuity_1, :precision => 2)) %></div> 
    </div>
<br>
<br>
   <div class="row">  
      <div class="col-md-2"><font color=#D3D3D3><%= f.label :card_2, "Card 2" %></font><br></div>
      <div class="col-md-2"><%= f.text_field :card_2, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.card_2, :precision => 2)) %></div> 
      <div class="col-md-2"><font color=#D3D3D3><%= f.label :gratuity_2, "Gratuity 2" %></font></div>
      <div class="col-md-2"><%= f.text_field :gratuity_2, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.gratuity_2, :precision => 2)) %></div> 
    </div>
<br>      
  <div class="row"> 
     <div class="col-md-2"><font color=#D3D3D3><i>Card Sub Total</i></font><br></div>
     <div class="col-md-2"><%= f.text_field :card_1, :disabled=>true, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.card_1+f.object.card_2, :precision => 2)) %></div>
     <div class="col-md-2"><font color=#D3D3D3><i>Gratuity Sub Total</i></font><br></div>
     <div class="col-md-2"><%= f.text_field :gratuity_total, :disabled=>true, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.gratuity_total, :precision => 2)) %></div>
     
      </div>
 <br><br>
 <div class="row"> 
      <div class="col-md-2 col-md-offset-5"><b><font color=#D3D3D3>Total Cards<br><i><font color=#FFFF33>(less gratuity)</i></font></b></div>
      <div class="col-md-2"><p class="text-right"><%= number_to_currency(@dailybank.card_payments, :locale => :en) %></p><hr></div>
  </div>
  
  
  <div class="row">
  <div class="col-md-2 col-md-offset-2">
    <%= f.submit "Check Cards", class: "btn btn-primary" %>
    <% end %>
  </div>
  <% if @dailybank.card_payments.present? %>
   <div class="col-md-3 col-md-offset-2">
   <%= form_for @dailybank, :url => { :action => "lock_event", params: {id: @dailybank.id} }, :html => { :method => "post" } do |f| %>
     <%= f.hidden_field :status, :value => "Enter Till Totals" %>
      <%= f.hidden_field :card_1 %>
       <%= f.hidden_field :card_2 %>

    <%= f.submit "Next >>", class: "btn btn-primary btn-success" %>
    <% end %>
  <% end %>
   
    
  </div>
</div>
 