<h6>1. Morning float completed, LOCK FLOAT to continue.</h6><br>

<%= form_for @dailybank, :url => { :action => "lock_float", params: {id: @dailybank.id} }, :html => { :method => "post" } do |f| %>
  <% if @dailybank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dailybank.errors.count, "error") %> prohibited this dailybank from being saved:</h2>

      <ul>
      <% @dailybank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
<% @dailybank.cashfloats.each do |cashfloat| %>

  <div class="row">
   <div class="col-md-1">
    <font color=#D3D3D3>Notes <br><br><br><br><br> 
   Coins</font>
   </div>
   
    <div class="col-md-2" align="right">
     <b><font color=#D3D3D3>
     £50<br> 
     £20 <br>
     £10 <br>
     £5 <br><br>
     £2 <br>
     £1 <br>
     50p <br>
     20p <br>
     10p <br>
     5p <br>
     2p <br>
     1p <br><br></b>
     <p>Target:<b><%= number_to_currency(cashfloat.float_target, :locale => :en) %></b></p>
     </div>
     
     <div class="col-md-2" align="right">
      <font color=#D3D3D3 class="text-right">
      <%= sprintf "%.2f", cashfloat.fifties %><br>
     <%= sprintf "%.2f", cashfloat.twenties%><br>
     <%= sprintf "%.2f", cashfloat.tens %><br>
     <%= sprintf "%.2f", cashfloat.fives %><br><br>
     <%= sprintf "%.2f", cashfloat.two_pound_single %><br>
     <%= sprintf "%.2f", cashfloat.pound_single %><br>
     <%= sprintf "%.2f", cashfloat.fifty_single %><br>
     <%= sprintf "%.2f", cashfloat.twenty_single %><br>
     <%= sprintf "%.2f", cashfloat.ten_single %><br>
     <%= sprintf "%.2f", cashfloat.five_single %><br>
     <%= sprintf "%.2f", cashfloat.two_single %><br>
     <%= sprintf "%.2f", cashfloat.one_single %><br><br>
     <p>Total: <b><%= number_to_currency(cashfloat.float_actual, :locale => :en) %></b></p>
     </div>
  
   <div class="col-md-2" :style="text:align-right">
   <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p><font color=#FFDC00>Gap:<br><%= number_to_currency(cashfloat.float_gap, :locale => :en) %></font></b>
 </p>
 </div>
 </div>
 <% if cashfloat.float_comment.present? %>
 <div class="row">
  <div class="col-md-2"><p>Reason<br>for gap:</p>
  </div>
  <div class="col-md-5">
   <p><%= cashfloat.float_comment %></p>
  </div>
  </div>
  <% end%>
   <div class="row">
    <div class="col-md-2 col-md-offset-5">
   <%= f.hidden_field :status, :value => "Count Evening Till" %>
    <%= f.hidden_field :till_float, :value => @dailybank.cashfloats.first.float_target %>
    
   <%= f.fields_for :cashfloats do |builder| %>
     
     <fieldset>
    <%= builder.hidden_field :completed, :value => "Completed" %>
       </fieldset>
        <% end %>
         <% end %>
 <%= f.submit "Lock Float", class: "btn btn-success" %>
  <% end %>
 
  </div> 
 </div>
 </div>

 