<%= form_for(@dailybank) do |f| %>

  <% if @dailybank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dailybank.errors.count, "error") %> prohibited this dailybank from being saved:</h2>

      <ul>
      <% @dailybank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<% if @dailybank.status == "Locked" %>
  <h6> Record is locked and can no longer be edited.</h6>
  <% else %>
  
  <table class= "table">
  <tr>
  <td colspan="1"><b>Date: </b><%= @dailybank.effective_date.strftime('%a, %d %b %Y') %>
 </td>
  <td>
     <%= @dailybank.status %>
   </td>
  <td>
  <b>User: </b>
   <%= User.where(id: @dailybank.user_id).first.name %>
  </td>
  <td>
  <b>Created </b><%= @dailybank.created_at.strftime('%H:%M')  %>
   </td>
  </tr>   <tr>
   <td> <%= f.label :banking %><br>
    <%= f.text_field :banking, :style => "text-align: Right", :value => (number_with_precision(f.object.banking, :precision => 2)) %>
    </td>
   <td> <%= f.label :card_payments, "Total Card" %><br>
    <%= f.text_field :card_payments, :style => "text-align: Right", :value => (number_with_precision(f.object.card_payments, :precision => 2)) %>
    </td>
    <td> <%= f.label :expenses %><br>
     <%= f.text_field :expenses, :style => "text-align: Right", :value => (number_with_precision(f.object.expenses, :precision => 2)) %>
     </td>
   <td><font color=#FFA500> <%= f.label :actual_cash_total, "Takings" %><br>
   <%=  number_with_precision(@dailybank.actual_cash_total, :delimiter => ',', precision: 2) %></td>
    </tr>
   <tr>
    <td><%= f.label :till_takings, "Total Sales" %><br>
    <%= f.text_field :till_takings, :style => "text-align: Right", :value => (number_with_precision(f.object.till_takings, :precision => 2)) %>
     </td>
    <td>  <%= f.label :vouchers_sold, "Vouchers Sold" %><br>
    <%= f.text_field :vouchers_sold, :style => "text-align: Right", :value => (number_with_precision(f.object.vouchers_sold, :precision => 2)) %>
    <br>
    <%= f.label :vouchers_used, "Vouchers Used" %><br>
      <%= f.text_field :vouchers_used, :style => "text-align: Right", :value => (number_with_precision(f.object.vouchers_used, :precision => 2)) %>
     </td>
    <td><%= f.label :deposit_sold, "Deposits Sold" %><br>
    <%= f.text_field :deposit_sold, :style => "text-align: Right", :value => (number_with_precision(f.object.deposit_sold, :precision => 2)) %>
    <br>
    <%= f.label :deposit_used, "Deposits Used" %><br>
         <%= f.text_field :deposit_used, :style => "text-align: Right", :value => (number_with_precision(f.object.deposit_used, :precision => 2)) %>
     </td>
    <td><font color=#FFA500><%= f.label :actual_till_takings, "Expected Takings" %><br>
     <%=  number_with_precision(@dailybank.actual_till_takings, :delimiter => ',', precision: 2) %></td>
       </tr>
   <tr>
   <td> </td> 
   
   <% if f.object.status == "Created" %>
     <td> <%= f.label :user_variance, "User Variance" %><br>
      <%= f.text_field :user_variance, :style => "text-align: Right", :value => (number_with_precision(f.object.user_variance, :precision => 2)) %>
      </td>
    <% else %>
    <td> <%= f.label :user_variance, "User Variance" %><br>
       <%= number_with_precision(@dailybank.user_variance, :delimiter => ',', precision: 2)%></td>
    <% end %>  
    <td><b><font color=#FFDC00>< < Variance Gap > > </b><br>
     <%=  number_with_precision(@dailybank.variance_gap, :delimiter => ',', precision: 2) %></td>
    
     <td><font color=#FFA500> <%= f.label :calculated_variance, "Calculated Variance" %><br>
      <%=  number_with_precision(@dailybank.calculated_variance, :delimiter => ',', precision: 2) %></td>
      
      </tr>
      <% if @dailybank.status == "Draft" %>
       <% if current_user.admin?  || current_user.super_user? %>
         <tr>
         <td colspan="4">
         <%= f.label :variance_comment, "Variance Comment Given" %><br>
         <font=black> <%= f.text_area :variance_comment, rows: "2", class:"form-control input-sm" %>
         </font>
         </td>
        </tr>
        <% else %>
       <% end %>
        <% end %>
   </table>

  <div class="row">
  <div class="col-md-1  ">
  <%= f.submit "Calculate", class: "btn btn-primary btn-sm" %>
    <% end %>
    </div>
    
    
   
</div>
<% end %>
</div>   


    
 
