<div class="col-md-10">
 <h6><small><b><%= @dailybank.effective_date.strftime('%A, %d %b %Y') %></b></small></h6> 
 <h3><%= @dailybank.status %></h3>
 
 <% case @dailybank.status %>
 <% when "Count Evening Till" %>
   <%= render 'dailybanks/cashfloat_new_pm' %>
        
 <% when "Enter Expenses"  %>
   <%= render 'dailybanks/expenses' %>
   
 <% when "Enter Cards"  %>
    <%= render 'dailybanks/cards_and_totals' %>   
       
 <% when "Enter Till Totals" %>
   <%= render 'dailybanks/till_totals' %>

 <% when "Validate and Lock" %>
   <%= render 'dailybanks/validate_lock' %>  
        
 <% when "Mgmt Review" %>
   <%= render 'dailybanks/mgmt_review' %>    
   
 <% else  %>
  <h6> Unknown status please contact IT depart with ref: DB_<%= @dailybank.id %>.</h6>
      
 <% end %>
 
 </div>
   
 
