<%= form_for(@dailybank) do |f| %>
  <% if @dailybank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dailybank.errors.count, "error") %> prohibited this dailybank from being saved:</h2>

      <ul>
      <% @dailybank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
   <% unless current_user.admin?  || current_user.super_user? %>
     <br>
     <p>Thank you for completing this End of Night record.</p>
     
     <% else %> 
   
  <h6><small>1. If any changes made or comments added click RE-CALCULATE.<br>
  2. Click LOCK and COMPLETE to finalise record.</small></h6>
<br>
<div class="row">
  <div class="col-md-2"> 
  <font color=#D3D3D3><%= f.label :till_float %></font><br>
  <font color=#D3D3D3><%= f.label :till_cash %></font><br>
  </div>
  <div class="col-md-2">
  <%= f.text_field :till_float, :style => "width:74px; text-align:right" %> <br>
  <%= f.text_field :till_cash, :style => "width:74px; text-align:right" %> <br>
  </div>
  <div class="col-md-2"> 
  <font color=#D3D3D3><%= f.label :banking, "Banking Total" %></font><br>
  </div>       
  <div class="col-md-2">
  <%= f.text_field :banking, :disabled=>true, :style => "width:74px; text-align:right" %> <br>
  </div>  
  <div class="col-md-3"> 
   <%= f.text_field :total_expected_cash, :disabled=>true, :style => "width:74px; text-align:right" %><br>
   <font color=#D3D3D3>Till Report Cash</font> 
  </div>      
</div>

<div class="row">
  <div class="col-md-2"> 
  <font color=#D3D3D3><%= f.label :card_1 %></font><br>
  <font color=#D3D3D3><%= f.label :card_2 %></font><br>
  </div>
  <div class="col-md-2">
  <%= f.text_field :card_1, :style => "width:74px; text-align:right" %> <br>
  <%= f.text_field :card_2, :style => "width:74px; text-align:right" %> <br>
  </div>
  <div class="col-md-2"> 
  <font color=#D3D3D3><%= f.label :banking, "Cards Total" %></font><br>
  </div>       
  <div class="col-md-2">
  <%= f.text_field :card_payments, :disabled=>true, :style => "width:74px; text-align:right" %> <br>
  </div> 
  <div class="col-md-3"> 
   <%= f.text_field :total_eft_taken, :disabled=>true, :style => "width:74px; text-align:right" %><br>
   <font color=#D3D3D3>Till Report Cards</font> 
  </div>        
</div>  

<div class="row">
  <div class="col-md-2"> 
  <font color=#D3D3D3><%= f.label :expenses, "No. of Expenses" %></font><br>
  </div>
  <div class="col-md-2">
 <% if @dailybank.expenses.any? %>
  <font color=#D3D3D3><%= @dailybank.expenses.count  %></font><%= link_to "See Expenses", show_many_expenses_path(:id => @dailybank.expenses.first.id), :class => "btn btn-xs btn-success", :style => "color:black" %> <br>
  <% end %>
  </div>
  <div class="col-md-2"> 
  <font color=#D3D3D3><%= f.label :expenses, "Expenses Total" %></font><br>
  </div>       
  <div class="col-md-2">
  <%= f.text_field :expenses_total, :disabled=>true, :style => "width:74px; text-align:right" %> <br>
  
  </div> 
  <div class="col-md-3"> 
   <%= f.text_field :actual_cash_total, :disabled=>true, :style => "width:74px; text-align:right" %> <br>
   <b><font color=#FFDC00>Actual Takings</font></b>
  </div>       
</div>   

 <br>  <br>   

 <div class="row">
   <div class="col-md-2"> 
   <font color=#D3D3D3><%= f.label :wet_takings, "Wet Sales" %></font><br>
   <font color=#D3D3D3><%= f.label :dry_takings, "Dry Sales" %></font><br>
   <font color=#D3D3D3><%= f.label :merch_takings, "Misc Sales" %></font><br>
   </div>
   <div class="col-md-2">
   <%= f.text_field :wet_takings, :style => "width:74px; text-align:right" %><br>
   <%= f.text_field :dry_takings, :style => "width:74px; text-align:right" %><br>
   <%= f.text_field :merch_takings, :style => "width:74px; text-align:right" %>
   </div>
   <div class="col-md-2"> 
   <font color=#D3D3D3><%= f.label :till_takings, "Total Sales" %></font><br>
   </div>       
   <div class="col-md-2">
   <%= f.text_field :till_takings, :disabled=>true, :style => "width:74px; text-align:right" %><br>
   </div>       
 </div> 

 <div class="row">
   <div class="col-md-2"> 
   <font color=#D3D3D3><%= f.label :vouchers_sold, "V's Sold" %></font><br>
   <font color=#D3D3D3><%= f.label :vouchers_used, "V's Used" %></font><br>
   <font color=#D3D3D3><%= f.label :deposit_sold, "D's Sold" %></font><br>
   </div>
   <div class="col-md-2">
   <%= f.text_field :vouchers_sold, :style => "width:74px; text-align:right" %> <br>
   <%= f.text_field :vouchers_used, :style => "width:74px; text-align:right" %> <br>
   <%= f.text_field :deposit_sold, :style => "width:74px; text-align:right" %> <br>
   </div>
   <div class="col-md-2"> 
   <font color=#D3D3D3><%= f.label :v_d_adjustments, "D/V Adjustment" %></font><br>
   </div>       
   <div class="col-md-2">
   <%= f.text_field :v_d_adjustments, :disabled=>true, :style => "width:74px; text-align:right" %> <br>
   </div>       
 </div> 
 
 <div class="row">
   <div class="col-md-2"> 
   <font color=#D3D3D3><%= f.label :deposit_used, "D's Used"%></font>
   </div>
   <div class="col-md-2">
   <%= f.text_field :deposit_used, :style => "width:74px; text-align:right" %> <br>
   </div>
   <div class="col-md-2"> 
    <font color=#FFDC00><%= f.label :calculated_variance, "Variance" %> </font>
    </div>       
    <div class="col-md-2">
    <%= f.text_field :calculated_variance, :disabled=>true, :style => "width:74px; text-align:right" %><br>
    </div>    
     
   <div class="col-md-3"> 
    <%= f.text_field :actual_till_takings, :disabled=>true, :style => "width:74px; text-align:right" %><br>
    <b><font color=#FFDC00>Expected Takings</font></b>
   </div>           
 </div> 
 
<div class="row">
 <div class="col-md-2"> 
  <font color=#D3D3D3><%= f.label :variance_comment, "Variance Reason" %></font>
  </div>       
  <div class="col-md-6">
  <font color=#000000>
  <%= f.text_area :variance_comment, :cols => 48, :rows => 2 %></font>
  </div>       
</div> 

<br>
<div class="row">
 <div class="col-md-2"> 
   <%= f.submit "Re-Calculate", class: "btn btn-sm btn-primary" %>
     <% end %>
  </div>

     <% end %>
   
   <div class="col-md-2 col-md-offset-2">
    <% if current_user.admin?  || current_user.super_user? %>
      <%= form_for @dailybank, :url => { :action => "mgmt_lock", params: {id: @dailybank.id} }, :html => { :method => "post" } do |f| %>
        <%= f.hidden_field :status, :value => "Locked" %>
        <%= f.submit "Lock & Complete", class: "btn-sm btn-success" %>
        <% end %>
     <% end %>
           </div> 
   </div>
 </div>


 