<%= form_for(@dailybank) do |f| %>
  <% if @dailybank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dailybank.errors.count, "error") %> prohibited this dailybank from being saved:</h2>

      <ul>
      <% @dailybank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <h3><%= @dailybank.status %></h3> 
  <h6><small>1. Check all values, if changes are made use RE-CALCULATE button.<br>
  2. If variance more than +/- £1, reason must be given.<br>
  3. Click FINISH END OF NIGHT to submit for mgmt review.</small></h6>
<br>
<div class="row">
  <div class="col-md-2"> 
  <font color=#D3D3D3><%= f.label :till_float %></font>
  
  <% float = @dailybank.cashfloats.where(:period => "Morning") %>
 <% if float.any? %>
    <% if float[0].float_actual == float[0].float_target %><font color=#00ff00> <i class='glyphicon glyphicon-ok aria-hidden="true"'></font></i>
      <% else %> <font color=#ff0000> <i class='glyphicon glyphicon-remove'></i><% end %><% end %>
  
  <br>
  <font color=#D3D3D3><%= f.label :till_cash %></font><br>
  </div>
  <div class="col-md-2">
  <%= f.text_field :till_float, :disabled=>true, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.till_float, :precision => 2)) %> <br>
  <%= f.text_field :till_cash, :disabled=>true, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.till_cash, :precision => 2)) %> <br>
  </div>
  <div class="col-md-2"> 
  <font color=#D3D3D3><%= f.label :banking, "Banking Total" %></font><br>
  </div>       
  <div class="col-md-2">
  <%= f.text_field :banking, :disabled=>true, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.banking, :precision => 2)) %> <br>
  </div>  
  <div class="col-md-2" style="vertical-align: middle">
  <%= link_to "See AM Float", show_float_cashfloats_path(:id => @dailybank.cashfloats.first.id), :class => "btn btn-xs btn-success", :style => "color:black" %><br> 
  <%= link_to "See PM Banking", show_float_cashfloats_path(:id => @dailybank.cashfloats.second.id), :class => "btn btn-xs btn-success", :style => "color:black" %> 
  </div>     
</div>

<div class="row">
  <div class="col-md-2"> 
  <font color=#D3D3D3><%= f.label :card_1 %></font><br>
  <font color=#D3D3D3><%= f.label :card_2 %></font><br>
  </div>
  <div class="col-md-2">
  <%= f.text_field :card_1, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.card_1, :precision => 2)) %> <br>
  <%= f.text_field :card_2, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.card_2, :precision => 2)) %> <br>
  </div>
  <div class="col-md-2"> 
  <font color=#D3D3D3><%= f.label :card_payments, "Cards Total" %></font><br>
  </div>       
  <div class="col-md-2">
  <%= f.text_field :card_payments, :disabled=>true, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.card_payments, :precision => 2)) %> <br>
  </div> 
  <div class="col-md-3"> 
   
  </div>        
</div>  

<div class="row">
<% if @dailybank.expenses.any? %>
  <div class="col-md-2"> 
  <font color=#D3D3D3><b>No. of Expenses (<%= @dailybank.expenses.count %>)</b></font>
  </div> 
  <div class="col-md-2" style="vertical-align: middle"><br>
 <%= link_to "See Expenses", show_many_expenses_path(:id => @dailybank.expenses.first.id), :class => "btn btn-xs btn-success", :style => "color:black" %> 
  </div>
  <div class="col-md-2"> 
  <font color=#D3D3D3><%= f.label :expenses, "Expenses Total" %></font><br>
  </div>       
  <div class="col-md-2">
  <%= f.text_field :expenses_total, :disabled=>true, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.expenses_total, :precision => 2)) %> <br>
  </div> 
   <% else %>
   <div class="col-md-8">
   <%= link_to "Add Expense", add_new_expenses_path(:id => @dailybank.id), :class => "btn btn-xs btn-success", :style => "color:black" %>
   
   </div>
    <% end %>
  <div class="col-md-3"> 
   <%= f.text_field :actual_cash_total, :disabled=>true, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.actual_cash_total, :precision => 2)) %> <br>
   <b><font color=#FFDC00>Actual Takings</font></b>
  </div>       
</div>   

 <br> 

 <div class="row">
   <div class="col-md-2"> 
   <font color=#D3D3D3><%= f.label :wet_takings, "Wet Sales" %></font><br>
   <font color=#D3D3D3><%= f.label :dry_takings, "Dry Sales" %></font><br>
   <font color=#D3D3D3><%= f.label :merch_takings, "Misc Sales" %></font><br>
   </div>
   <div class="col-md-2">
   <%= f.text_field :wet_takings, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.wet_takings, :precision => 2)) %><br>
   <%= f.text_field :dry_takings,  :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.dry_takings, :precision => 2)) %><br>
   <%= f.text_field :merch_takings,  :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.merch_takings, :precision => 2)) %>
   </div>
   <div class="col-md-2"> 
   <font color=#D3D3D3><%= f.label :till_takings, "Total Sales" %></font><br>
   </div>       
   <div class="col-md-2">
   <%= f.text_field :till_takings, :disabled=>true, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.till_takings, :precision => 2)) %><br>
   </div>       
 </div> 

 <div class="row">
   <div class="col-md-2"> 
   <font color=#D3D3D3><%= f.label :vouchers_sold, "V's Sold" %></font><br>
   <font color=#D3D3D3><%= f.label :vouchers_used, "V's Used" %></font><br>
   <font color=#D3D3D3><%= f.label :deposit_sold, "D's Sold" %></font><br>
   </div>
   <div class="col-md-2">
   <%= f.text_field :vouchers_sold, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.vouchers_sold, :precision => 2)) %> <br>
   <%= f.text_field :vouchers_used, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.vouchers_used, :precision => 2)) %> <br>
   <%= f.text_field :deposit_sold, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.deposit_sold, :precision => 2)) %> <br>
   </div>
   <div class="col-md-2"> 
   <font color=#D3D3D3><%= f.label :v_d_adjustments, "D/V Adjustment" %></font><br>
   </div>       
   <div class="col-md-2">
   <%= f.text_field :v_d_adjustments, :disabled=>true, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.v_d_adjustments, :precision => 2)) %> <br>
   </div>       
 </div> 
 
 <div class="row">
   <div class="col-md-2"> 
   <font color=#D3D3D3><%= f.label :deposit_used, "D's Used"%></font>
   </div>
   <div class="col-md-2">
   <%= f.text_field :deposit_used, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.deposit_used, :precision => 2)) %> <br>
   </div>
   <div class="col-md-2">
   <font color=#D3D3D3><%= f.label :calculated_variance, "Variance" %> </font> <br>
   </div>
   <div class="col-md-2">
   <%= f.text_field :calculated_variance, :disabled=>true, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.calculated_variance, :precision => 2)) %>
   </div>   
   <div class="col-md-3"> 
    <%= f.text_field :actual_till_takings, :disabled=>true, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.actual_till_takings, :precision => 2)) %><br>
    <b><font color=#FFDC00>Expected Takings</font></b>
   </div>           
 </div> 
 
 <div class="row">
   <div class="col-md-6"><b><u><font color=#D3D3D3>Expected Cash </b> (enter zero if no totals)</font></div>
   </div>
 <div class="row">
   <div class="col-md-2" style="text-align:right"><font color=#D3D3D3>Terminal 1</font></div>
   <div class="col-md-2"><%= f.text_field :terminal_1, :style => "width:74px; text-align:right", :tabindex =>8, :value => (number_with_precision(f.object.terminal_1, :precision => 2)) %></div>
    <div class="col-md-1"></div>
   <div class="col-md-3"><b><font color=#D3D3D3>Total EFT Taken</font></b></div>
    <div class="col-md-2"><%= f.text_field :total_eft_taken, :style => "width:74px; text-align:right", :tabindex =>12, :value => (number_with_precision(f.object.total_eft_taken, :precision => 2)) %></div>
 </div>
 <div class="row">
   <div class="col-md-2" style="text-align:right"><font color=#D3D3D3>Terminal 2</font></div>
   <div class="col-md-2"><%= f.text_field :terminal_2, :style => "width:74px; text-align:right", :tabindex =>9, :value => (number_with_precision(f.object.terminal_2, :precision => 2)) %></div>
    </div>
 <div class="row">
   <div class="col-md-2" style="text-align:right"><font color=#D3D3D3>Tablet 2</font></div>
   <div class="col-md-2"><%= f.text_field :tablet_1, :style => "width:74px; text-align:right", :tabindex =>10, :value => (number_with_precision(f.object.tablet_1, :precision => 2)) %></div>
    </div>
 <div class="row">
   <div class="col-md-2" style="text-align:right"><font color=#D3D3D3>Tablet 2</font></div>
   <div class="col-md-2"><%= f.text_field :tablet_2, :style => "width:74px; text-align:right", :tabindex =>11, :value => (number_with_precision(f.object.tablet_2, :precision => 2)) %></div>
      </div>
 <div class="row">
   <div class="col-md-2"><b><font color=#D3D3D3>Total Cash</font></b></div>
   <div class="col-md-2"><b><%= f.text_field :total_expected_cash, :style => "width:74px; text-align:right", :disabled => true, :value => (number_with_precision(f.object.total_expected_cash, :precision => 2)) %></b></div>
      </div>
 
 
<br>
<div class="row">
  <div class="col-md-2 col-md-offset-4"> 
   
   </div>       
    
   <div class="col-md-4">
   
   </div>    
</div>  
 
  <% if @dailybank.calculated_variance.present?&& (@dailybank.calculated_variance < -1 || @dailybank.calculated_variance > 1) %>
    <p><font color=#FF0000>Variance exceeds limit of +/- £1, given reason, then click RE-CALCULATE.</font></p>
<div class="row">
 <div class="col-md-2"> 
  <font color=#D3D3D3><%= f.label :variance_comment, "Variance Reason" %></font>
  </div>       
  <div class="col-md-6">
  <font color=#000000>
  <%= f.text_area :variance_comment, :cols => 48, :rows => 2 %></font>
  </div>       
</div> 
<% end %>

<br>
<div class="row">
 <div class="col-md-2 col-md-offset-2">
   <div class="actions"> 
   <%= f.submit "Re-calculate", class: "btn btn-primary" %>
     <% end %>
      </div>
  </div>
  
   <div class="col-md-2 col-md-offset-1">
    <div class="actions"> 
   <% if (@dailybank.calculated_variance.present? && (@dailybank.calculated_variance > -1.01 && @dailybank.calculated_variance < 1.01)) ||( @dailybank.calculated_variance.present? && @dailybank.variance_comment.present?) %>
    
     <%= form_for @dailybank, :url => { :action => "lock_event", params: {id: @dailybank.id} }, :html => { :method => "post" } do |f| %>
        <%= f.hidden_field :status, :value => "Mgmt Review" %>
        <%= f.submit "Finish End of Night", class: "btn btn-primary btn-success" %>
      <% end %>
    <% end %>
  </div>
 </div>
 <div class="col-md-3 col-md-offset-1">
 <h6><%= link_to "Print End of Night report", download_end_of_night_pdf_path(:value => @dailybank.id, :format => 'pdf'), :style => "color:orange" %></h6>
 </div> 
 </div>
 