
<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-10">
<h4>End of Night - Monthly History</h4><br>

<ul class="nav nav-tabs">
<li role="presentation"><%= link_to "Latest", latest_path %></li>
<li role="presentation"><%= link_to "By Day", history_path %></li>
<li role="presentation"><%= link_to "By Week", history_week_path %></li>
<li role="presentation" class="active"><%= link_to "By Month", history_month_path %></li>
<li role="presentation"><%= link_to "Tax Quarter", tax_quarter_path %></li>
<li role="presentation"><%= link_to "All Records", index_full_path %></li>
<li role="presentation"><%= link_to "All On-going", index_ongoing_path %></li>
<li role="presentation"><%= link_to "TRONC Monthly", card_tips_report_path %></li>
</ul>
<br>
<%= form_tag history_month_path, method: :get, :class => "form-inline" do %>

    <h6><small>Search by:
    
     <input class="datepicker" data-provide='datepicker' id="search" name=[month] type="text" data-date-week-start=[1]  data-date-autoclose=[true] data-date-format=dd-mm-yyyy data-date-today-highlight=true class="form-control input-sm" placeholder="Select any day in month" >
   
  <button type="submit" class="btn btn-primary btn-sm">Search</button>
<% end %>
<br><br>

<% if @dailybanks == 0 %>
  
  <% elsif @dailybanks == 1 %>
  <p>No records found matching date criteria.</p>
 
  <% else %>
  
  <table class="table">
  
 <tr class="active">
  <td style="text-align:right"><h4><%= @dailybanks.first[:effective_date].strftime('%B') %></h4></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
  <td  style="text-align:right">Week: <%= week %><br>
  <%= dailybanks.first.effective_date.strftime('%d') %> - 
  <%= dailybanks.last.effective_date.strftime('%d') %></td>
   <% end %>
   <td style="text-align:right"><b>Total</b></td>
  </tr>
 
  <tr>
  <td><b>Banking</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= dailybanks.map { |h| h[:banking] }.compact.sum %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%=  number_to_currency(@dailybanks.map { |h| h[:banking] }.compact.sum, :locale => :en) %></b></td>
  </tr>
  
  <tr>
  <td><b>Total Card</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= dailybanks.map { |h| h[:card_payments] }.compact.sum %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= number_to_currency(@dailybanks.map { |h| h[:card_payments] }.compact.sum, :locale => :en) %></b></td>
  </tr>
  
  <tr>
  <td><b>Expenses</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= dailybanks.map { |h| h[:expenses_total] }.compact.sum %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= number_to_currency(@dailybanks.map { |h| h[:expenses_total] }.compact.sum, :locale => :en) %></b></td>
  </tr>
  
  <tr>
  <td><b>TRONC</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= dailybanks.map { |h| h[:gratuity_total] }.compact.sum %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= number_to_currency(@dailybanks.map { |h| h[:gratuity_total] }.compact.sum, :locale => :en) %></b></td>
  </tr>
  
  <tr class="success">
  <td><b>Takings</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= dailybanks.map { |h| h[:actual_cash_total] }.compact.sum %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= number_to_currency(@dailybanks.map { |h| h[:actual_cash_total] }.compact.sum, :locale => :en) %></b></td>
  </tr>
  
  <tr>
  <td><b>Total Sales</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= dailybanks.map { |h| h[:till_takings] }.compact.sum %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= number_to_currency(@dailybanks.map { |h| h[:till_takings] }.compact.sum, :locale => :en) %></b></td>
  </tr>
  
  <tr>
  <td><b>Vouchers Sold</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= dailybanks.map { |h| h[:vouchers_sold] }.compact.sum %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= number_to_currency(@dailybanks.map { |h| h[:vouchers_sold] }.compact.sum, :locale => :en) %></b></td>
  </tr>
  
  <tr>
  <td><b>Vouchers Used</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= dailybanks.map { |h| h[:vouchers_used] }.compact.sum %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= number_to_currency(@dailybanks.map { |h| h[:vouchers_used] }.compact.sum, :locale => :en) %></b></td>
  </tr>
  
  <tr>
  <td><b>Deposits Sold</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= dailybanks.map { |h| h[:deposit_sold] }.compact.sum %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= number_to_currency(@dailybanks.map { |h| h[:deposit_sold] }.compact.sum, :locale => :en) %></b></td>
  </tr>
  
  <tr>
  <td><b>Deposits Used</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= dailybanks.map { |h| h[:deposit_used] }.compact.sum %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= number_to_currency(@dailybanks.map { |h| h[:deposit_used] }.compact.sum, :locale => :en) %></b></td>
  </tr>
  
  <tr>
  <td><b>Coupons Used</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= dailybanks.map { |h| h[:coupons_used] }.compact.sum %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= number_to_currency(@dailybanks.map { |h| h[:coupons_used] }.compact.sum, :locale => :en) %></b></td>
  </tr>
  
  <tr class="success">
  <td><b>Expected Takings</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= dailybanks.map { |h| h[:actual_till_takings] }.compact.sum %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= number_to_currency(@dailybanks.map { |h| h[:actual_till_takings] }.compact.sum, :locale => :en) %></b></td>
  </tr>
  
  <tr>
  <td><b>Variance</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= dailybanks.map { |h| h[:calculated_variance] }.compact.sum %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= number_to_currency(@dailybanks.map { |h| h[:calculated_variance] }.compact.sum, :locale => :en) %></b></td>
  </tr>
  
  </table>
  
  <% end %>
  
