
<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-10">
<h3>End of Day Banking History</h3><br>

<ul class="nav nav-tabs">
<li role="presentation"><%= link_to "Latest", latest_path %></li>
<li role="presentation"><%= link_to "By Day", history_path %></li>
<li role="presentation"><%= link_to "By Week", history_week_path %></li>
<li role="presentation" class="active"><%= link_to "By Month", history_month_path %></li>
</ul>
<br>
<%= form_tag history_month_path, method: :get, :class => "form-inline" do %>

    <h6><small>Search by:
    
     <input class="datepicker" data-provide='datepicker' id="search" name=[month] type="text" data-date-week-start=[1]  data-date-autoclose=[true] data-date-format=dd-mm-yyyy data-date-today-highlight=true class="form-control input-sm" placeholder="Select any day in month" >
   
  <button type="submit" class="btn btn-primary btn-sm">Search</button>
<% end %>
<br><br>

<% if @dailybanks == 0 %>
  
  <% elsif @dailybanks == 1 %>
  <p>No records found matching date criteria.</p>
 
  <% else %>
  
  <table class="table">
  
 <tr class="active">
  <td style="text-align:right"><h4><%= @dailybanks.first[:effective_date].strftime('%B') %></h4></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
  <td  style="text-align:right">Week: <%= week %><br>
  <%= dailybanks.first.effective_date.strftime('%d') %> - 
  <%= dailybanks.last.effective_date.strftime('%d') %></td>
   <% end %>
   <td style="text-align:right"><b>Total</b></td>
  </tr>
 
  <tr>
  <td><b>Banking</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= get_sum_from_array_field(dailybanks, "banking") %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= get_sum_from_array_field(@dailybanks, "banking") %></b></td>
  </tr>
  
  <tr>
  <td><b>Total Card</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= get_sum_from_array_field(dailybanks, "card_payments") %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= get_sum_from_array_field(@dailybanks, "card_payments") %></b></td>
  </tr>
  
  <tr>
  <td><b>Expenses</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= get_sum_from_array_field(dailybanks, "expenses") %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= get_sum_from_array_field(@dailybanks, "expenses") %></b></td>
  </tr>
  
  <tr class="success">
  <td><b>Takings</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= get_sum_from_array_field(dailybanks, "actual_cash_total") %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= get_sum_from_array_field(@dailybanks, "actual_cash_total") %></b></td>
  </tr>
  
  <tr>
  <td><b>Total Sales</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= get_sum_from_array_field(dailybanks, "till_takings") %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= get_sum_from_array_field(@dailybanks, "till_takings") %></b></td>
  </tr>
  
  <tr>
  <td><b>Vouchers Sold</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= get_sum_from_array_field(dailybanks, "vouchers_sold") %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= get_sum_from_array_field(@dailybanks, "vouchers_sold") %></b></td>
  </tr>
  
  <tr>
  <td><b>Vouchers Used</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= get_sum_from_array_field(dailybanks, "vouchers_used") %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= get_sum_from_array_field(@dailybanks, "vouchers_used") %></b></td>
  </tr>
  
  <tr>
  <td><b>Deposits Sold</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= get_sum_from_array_field(dailybanks, "deposit_sold") %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= get_sum_from_array_field(@dailybanks, "deposit_sold") %></b></td>
  </tr>
  
  <tr>
  <td><b>Deposits Used</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= get_sum_from_array_field(dailybanks, "deposit_used") %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= get_sum_from_array_field(@dailybanks, "deposit_used") %></b></td>
  </tr>
  
  <tr class="success">
  <td><b>Expected Takings</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= get_sum_from_array_field(dailybanks, "actual_till_takings") %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= get_sum_from_array_field(@dailybanks, "actual_till_takings") %></b></td>
  </tr>
  
  <tr>
  <td><b>Variance</b></td>
   <% @dailybanks_by_week.each do |week, dailybanks| %>
   <td  style="text-align:right"><%= get_sum_from_array_field(dailybanks, "calculated_variance") %></td></td>
   <% end %>
   <td style="text-align:right"><b> <%= get_sum_from_array_field(@dailybanks, "calculated_variance") %></b></td>
  </tr>
  
  </table>
  
  <% end %>
  
