
<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-10">
<h4>End of Night Daily History</h4><br>

<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to "Latest", latest_path %></li>
  <li role="presentation" class="active"><%= link_to "By Days", history_path %></li>
  <li role="presentation"><%= link_to "By Week", history_week_path %></li>
  <li role="presentation"><%= link_to "By Month", history_month_path %></li>
</ul>
<br>
<p>This view is designed to show a few days within a single week, i.e. less than a week.</p>

<%= form_tag history_path, method: :get, :class => "form-inline" do %>

    <h6><small>Search by:
    
     <input class="datepicker" data-provide='datepicker' id="search" name=[from] type="text" data-date-days-of-week-disabled=[1,2] data-date-week-start=[1]  data-date-autoclose=[true] data-date-format=dd-mm-yyyy data-date-today-highlight=true class="form-control input-sm" placeholder="Search From" >
     <input class="datepicker" data-provide='datepicker' id="search" name=[to] type="text" data-date-days-of-week-disabled=[1,2] data-date-week-start=[1]  data-date-autoclose=[true] data-date-format=dd-mm-yyyy data-date-today-highlight=true class="form-control input-sm" placeholder="Search To" >
    
  <button type="submit" class="btn btn-primary btn-sm">Search</button>
<% end %>
<br><br>



<% if @dailybanks == 0 %>
  
  <% elsif @dailybanks == 1 %>
  <p>No records found matching date criteria.</p>
 
  <% else %>
  <table class="table">
 
  <tr>
  <td class="active"><b>Date</b></td>
  <% @dailybanks.each do |dailybank| %>
  <td style="text-align:right" class="active"><b><%= dailybank.effective_date.strftime('%A') %><br><%= dailybank.effective_date.strftime('%d %B') %></b></td>
  <% end %>
  <td style="text-align:right" class="active"><b>Total<b></td>
  </tr>
 
  <tr>
  <td><b>Status</b></td>
  <% @dailybanks.each do |dailybank| %>
  <td style="text-align:right"><%= dailybank.status %></td>
  <% end %>
  <td></td>
  </tr>
  
  <tr>
  <td><b>Banking</b></td>
  <% @dailybanks.each do |dailybank| %>
  <td style="text-align:right"><%= dailybank.banking %></td>
  <% end %>
  <td style="text-align:right"><b><%= get_sum_from_array_field(@dailybanks, "banking") %><b></td>
  </tr>
  
  <tr>
  <td><b>Total Card</b></td>
  <% @dailybanks.each do |dailybank| %>
  <td style="text-align:right"><%= dailybank.card_payments %></td>
  <% end %>
   <td style="text-align:right"><b><%= get_sum_from_array_field(@dailybanks, "card_payments") %><b></td>
  </tr>
  
  <tr>
  <td><b>Expenses</b></td>
  <% @dailybanks.each do |dailybank| %>
  <td style="text-align:right"><%= dailybank.expenses_total %></td>
  <% end %>
  <td style="text-align:right"><b><%= get_sum_from_array_field(@dailybanks, "expenses_total") %><b></td>
  </tr> 
  
  <tr class="success">
  <td><b>Takings</b></td>
  <% @dailybanks.each do |dailybank| %>
  <td style="text-align:right"><%= dailybank.actual_cash_total %></td>
  <% end %>
  <td style="text-align:right"><b><%= get_sum_from_array_field(@dailybanks, "actual_cash_total") %><b></td>
  </tr>
  
  <tr>
  <td><b>Total Sales</b></td>
  <% @dailybanks.each do |dailybank| %>
  <td style="text-align:right"><%= dailybank.till_takings %></td>
  <% end %>
  <td style="text-align:right"><b><%= get_sum_from_array_field(@dailybanks, "till_takings") %><b></td>
  </tr>
  
  <tr>
  <td><b>Vouchers Sold</b></td>
  <% @dailybanks.each do |dailybank| %>
  <td style="text-align:right"><%= dailybank.vouchers_sold %></td>
  <% end %>
  <td style="text-align:right"><b><%= get_sum_from_array_field(@dailybanks, "vouchers_sold") %><b></td>
  </tr>
  
  <tr>
  <td><b>Vouchers Used</b></td>
  <% @dailybanks.each do |dailybank| %>
  <td style="text-align:right"><%= dailybank.vouchers_used %></td>
  <% end %>
  <td style="text-align:right"><b><%= get_sum_from_array_field(@dailybanks, "vouchers_used") %><b></td>
  </tr>
  
  <tr>
  <td><b>Deposits Sold</b></td>
  <% @dailybanks.each do |dailybank| %>
  <td style="text-align:right"><%= dailybank.deposit_sold %></td>
  <% end %>
  <td style="text-align:right"><b><%= get_sum_from_array_field(@dailybanks, "deposit_sold") %><b></td>
  </tr>
  
  <tr>
  <td><b>Deposits Used</b></td>
  <% @dailybanks.each do |dailybank| %>
  <td style="text-align:right"><%= dailybank.deposit_used %></td>
  <% end %>
  <td style="text-align:right"><b><%= get_sum_from_array_field(@dailybanks, "deposit_used") %><b></td>
  </tr>
   
  <tr class="success">
  <td><b>Expected Takings</b></td>
  <% @dailybanks.each do |dailybank| %>
  <td style="text-align:right"><%= dailybank.actual_till_takings %></td>
  <% end %>
  <td style="text-align:right"><b><%= get_sum_from_array_field(@dailybanks, "actual_till_takings") %><b></td>
  </tr>
  
  <tr>
  <td><b>Variance</b></td>
  <% @dailybanks.each do |dailybank| %>
  <td style="text-align:right"><%= dailybank.calculated_variance %></td>
  <% end %>
  <td style="text-align:right"><b><%= get_sum_from_array_field(@dailybanks, "calculated_variance") %><b></td>
  </tr>
  
  <tr>
  <td></td>
  <% @dailybanks.each do |dailybank| %>
  <td style="text-align:right"><%= link_to 'Details', dailybank %></td>
  <% end %>
   <td></td>
   </tr>
  
  </table>
  
  
  <% end %>
  

