
<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-10">
<h2>End of Day - Draft Records</h2><br>
 <% if current_user.admin?  || current_user.super_user? %>
<h6><%= link_to 'Search End of Day Records', history_path, :class => "link", :style => "color:orange" %></h6>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>User</th>
      <th>Date</th>
      <th style="text-align:right">Takings</th>
      <th style="text-align:right">Expected Takings</th>
      <th style="text-align:right">Variance</th>
      <th style="text-align:right" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @dailybanks.each do |dailybank| %>
      <tr>
        <td><%= dailybank.status %></td>
        <td><%= User.where(id: dailybank.user_id).first.name %></td>
        <td><%= dailybank.effective_date.strftime('%a, %d %b %Y') %></td>
        <td style="text-align:right"><%= dailybank.actual_cash_total %></td>
        <td style="text-align:right"><%= dailybank.actual_till_takings %></td>
        <td style="text-align:right"><%= dailybank.calculated_variance %></td>
        
        <% if dailybank.status == "Draft" %>
        <td style="text-align:right"><%= link_to 'Details', edit_dailybank_path(dailybank) %></td>
        <% else %>
        <td style="text-align:right"><%= link_to 'Details', dailybank %></td>
        <% end %>
         <% if current_user.admin?  || current_user.super_user? %>
        <td style="text-align:right"><%= link_to 'Destroy', dailybank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Enter End of Day', new_dailybank_path, class:"btn btn-success btn-sm" %> | 

