
<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-8">
<h4>End of Night Latest History</h4><br>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to "Latest", latest_path %></li>
  <li role="presentation"><%= link_to "By Day", history_path %></li>
  <li role="presentation"><%= link_to "By Week", history_week_path %></li>
  <li role="presentation"><%= link_to "By Month", history_month_path %></li>
  <li role="presentation"><%= link_to "Tax Quarter", tax_quarter_path %></li>
  <li role="presentation"><%= link_to "All Records", index_full_path %></li>
</ul>
</div>
<br>
<br>


<div class="row">
<div class="col-md-4">
<% if @dailybank.present? %>
  <table class="table table-condensed">
  <tr>
  <td class="active"><b>Date</b></td>
  <td style="text-align:right" class="active"><b><%= @dailybank.effective_date.strftime('%A') %><br><%= @dailybank.effective_date.strftime('%d %B') %></b></td>
  </tr>
 
  <tr>
  <td><b>Status</b></td>
  <td style="text-align:right"><%= @dailybank.status %></td>
  </tr>
  
  <tr>
  <td><b>Banking</b></td>
  <td style="text-align:right"><%= @dailybank.banking %></td>
  </tr>
  
  <tr>
  <td><b>Total Card</b></td>
  <td style="text-align:right"><%= @dailybank.card_payments %></td>
  </tr>
  
  <tr>
  <td><b>Expenses</b></td>
  <td style="text-align:right"><%= @dailybank.expenses_total %></td>
  </tr> 
  
  <tr class="success">
  <td><b>Takings</b></td>
  <td style="text-align:right"><%= @dailybank.actual_cash_total %></td>
  </tr>
  
  <tr>
  <td><b>Total Sales</b></td>
  <td style="text-align:right"><%= @dailybank.till_takings %></td>
  </tr>
  
  <tr>
  <td><b>Vouchers Sold</b></td>
  <td style="text-align:right"><%= @dailybank.vouchers_sold %></td>
  </tr>
  
  <tr>
  <td><b>Vouchers Used</b></td>
  <td style="text-align:right"><%= @dailybank.vouchers_used %></td>
  </tr>
  
  <tr>
  <td><b>Deposits Sold</b></td>
  <td style="text-align:right"><%= @dailybank.deposit_sold %></td>
  </tr>
  
  <tr>
  <td><b>Deposits Used</b></td>
  <td style="text-align:right"><%= @dailybank.deposit_used %></td>
  </tr>
   
  <tr class="success">
  <td><b>Expected Takings</b></td>
  <td style="text-align:right"><%= @dailybank.actual_till_takings %></td>
  </tr>
  
  <tr>
  <td><b>Variance</b></td>
  <td style="text-align:right"><%= @dailybank.calculated_variance %></td>
  </tr>
  
  <tr>
  <td></td>
  <td style="text-align:right"><%= link_to 'Details', @dailybank %></td>
   </tr>  
  </table>
  
  <% else %>
  <br>
  <p>No records to display</p>
    <% end %>
  </div>
