
<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-8">
  <% if @dailybank.status== "Created" %>
<h2>End of Day - Review</h2><br>
  <% elsif @dailybank.status== "Draft" %>
<h2>End of Day - Draft</h2><br>
  <% elsif @dailybank.status== "Locked" %>
<h2>End of Day - Completed</h2><br>
<% end %> 
<p>
  <table class= "table" style="text-align:right">
 <tr>
 <td><b>Date: </b><%= @dailybank.effective_date.strftime('%a, %d %b %Y') %>
</td>
 <td>
   <b>Status: </b><%= @dailybank.status %> 
  </td>
 <td>
 <b>User: </b><%= User.where(id: @dailybank.user_id).first.name %>
  </td>
  <td>
  <b>Created </b><%= @dailybank.created_at.strftime('%H:%M')  %>
   </td>
 </tr>
  <tr>
  <td><b>Banking</b><br>
   <%= @dailybank.banking %>
   </td>
  <td><b>Total Card</b><br>
   <%= @dailybank.card_payments %>
   </td>
  <td><b>Expenses</b><br>
   <%= @dailybank.expenses %>
   </td>
  <td><font color=#FFA500><b>Takings</b><br>
   <%= @dailybank.actual_cash_total %></td>
   </tr>
    <tr>
   <td><b>Total Sales</b><br>
   <%= @dailybank.till_takings %>
    </td>
   <td> <b>Vouchers Sold</b><br>
   <%= @dailybank.vouchers_sold %>
   <br>
   <b>Vouchers Used</b><br>
   <%= @dailybank.vouchers_used %>
   </td>
   <td><b>Deposits Sold</b><br>
   <%= @dailybank.deposit_sold %>
   <br>
   <b>Deposits Used</b><br>
   <%= @dailybank.deposit_used %>
   </td>
   <td><font color=#FFA500><b>Expected Takings</b><br>
    <%= @dailybank.actual_till_takings %>
    </td> 
    </tr>
    
    <tr>
   <td><b>User Variance</b><br>
   <%= @dailybank.user_variance %>
    </td>
   <td><font color=#FFA500><b>System Variance</b><br>
   <%= @dailybank.calculated_variance %>
   </td>
   <td>
   </td>
   <td>
    </td> 
    </tr>
    </table>
 
  
    <% if @dailybank.status== "Created" %>
  
   <% if @dailybank.variance_gap== 0%>
 
 <h6><b><font color=#13E84A>You have a variance of £<%= @dailybank.variance_gap %></b><br><br>
 <%= form_for(@dailybank) do |f| %>
   <%= f.hidden_field :status, :value => "Locked" %>
   <%= f.submit "Lock & Complete", class: "btn btn-primary" %>
 <% end %>
 <h6>
 
  <% else %>
  <h6><b><font color=#FF3F33>You have a variance of £<%= @dailybank.variance_gap %></b><h6>
   <%= link_to 'Edit Numbers', edit_dailybank_path(@dailybank), class: "btn btn-success btn-sm" %> to correct any errors
   <h5> or </h5>
   <h6>Enter variance reason and Save as Draft.
  </font><h6>
  
    <%= form_for(@dailybank) do |f| %>
     <font=black> <%= f.text_area :variance_comment, rows: "2", placeholder: "Enter variance reason", :style => "text-align: Left", class:"form-control input-sm" %>
     </font>
      <%= f.hidden_field :status, :value => "Draft" %>
      <%= f.submit "Save as Draft", class: "btn btn-primary btn-sm" %>
    <% end %>
  <% end %>
  
    <% elsif   @dailybank.status== "Draft" %>
    <h6>Draft has been saved for management review.</h6>
    
     <% elsif   @dailybank.status== "Locked" %>
     
      <% else %>
       <h6>Error - Unknown status on record - please report to IT dept.</h6>
    
  <% end %>
