<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-8">
 <h6><small><b><%= @dailybank.effective_date.strftime('%A, %d %b %Y') %></b></small></h6> 
 <h3><%= @dailybank.status %></h3>

<% if  @dailybank.status== "Balance Morning Float" %>
  <%= render 'dailybanks/cashfloat_show'%>

<% else %>
<h4><%= link_to "Print this End of Night report", download_end_of_night_pdf_path(:value => @dailybank.id, :format => 'pdf'), :style => "color:orange" %></h4>

  <table class= "table" style="text-align:right">
 <tr>
   <td style="width: 18%"></td>
   <td style="width: 14%"></td>
   <td style="width: 18%"></td>
   <td style="width: 14%"></td>
   <td style="width: 18%"></td>
   <td style="width: 14%"></td>
 </tr>
 
  <tr>
    <td><b><font color=#D3D3D3>Till Float </b></font>
    <% float = @dailybank.cashfloats.where(:period => "Morning") %>
   <% if float.any? %>
      <% if float[0].float_actual == float[0].float_target %><font color=#00ff00> <i class='glyphicon glyphicon-ok aria-hidden="true"'></font></i>
        <% else %> <font color=#ff0000> <i class='glyphicon glyphicon-remove'></i><% end %><% end %>
  
    <br>
    <b><font color=#D3D3D3>Till Cash </b></font></td>
    <td><%= number_to_currency( @morning_float.float_target, :locale => :en) %><br>
    <%= number_to_currency(@dailybank.till_cash, :locale => :en) %></td>
  
    <td><b><font color=#D3D3D3>Card 1</b></font><br>
    <b><font color=#D3D3D3>Card 2</b></font></td>
    <td><%= number_to_currency(@dailybank.card_1, :locale => :en) %><br>
    <%= number_to_currency(@dailybank.card_2, :locale => :en) %></td>
   
    <td><b><font color=#D3D3D3>Expenses </b></font>
    <% if @dailybank.expenses.any? %>
    <br>(<%= @dailybank.expenses.count %>)</td>
    <td>
    <br><%= number_to_currency(@dailybank.expenses.sum(:price), :locale => :en) %>
     <% end %></td>
  </tr>
  
<tr>
    <td><b><font color=#FFA500>Banking </b></font></td>
    <td><b><%= number_to_currency(@dailybank.banking, :locale => :en) %></b></td>
    
    <td><b><font color=#FFA500>Total Card </b></font></td>
    <td><b><%= number_to_currency(@dailybank.card_payments, :locale => :en) %></b></td>
    
    <td><b><font color=#FFA500>Total<br>Takings </b></font></td>
    <td><h5><%= number_to_currency(@dailybank.actual_cash_total, :locale => :en) %></h5></td>
  </tr>
  
   <tr>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
    </tr>
  
  <tr>
    <td>
    <b><font color=#D3D3D3>Wet Sales </b></font><br>
    <b><font color=#D3D3D3>Dry Sales </b></font><br>
    <b><font color=#D3D3D3>Misc Sales </b></font></td>
    
    <td>
    <%= number_to_currency(@dailybank.wet_takings, :locale => :en) %><br>
    <%= number_to_currency(@dailybank.dry_takings, :locale => :en) %><br>
    <%= number_to_currency(@dailybank.merch_takings, :locale => :en) %></td>
  
    <td>
    <b><font color=#D3D3D3>Vouchers Sold</b></font><br>
    <b><font color=#D3D3D3>Vouchers Used</b></font><br>
    <b><font color=#D3D3D3>Deposits Sold</b></font><br>
    <b><font color=#D3D3D3>Deposits Used</b></font></td>
    
    <td>
    <%= number_to_currency(@dailybank.vouchers_sold, :locale => :en) %><br>
    <%= number_to_currency(@dailybank.vouchers_used, :locale => :en) %><br>
    <%= number_to_currency(@dailybank.deposit_sold, :locale => :en) %><br>
    <%= number_to_currency(@dailybank.deposit_used, :locale => :en) %></td>
   
    <td></td>
     <td></td>
  </tr>
  <tr>
    <td><b><font color=#FFA500>Total Sales </b></font></td>
    <td><b><%= number_to_currency(@dailybank.till_takings, :locale => :en) %></b></td>
    <td><b><font color=#FFA500>D/V Adjustments </b></font></td>
    <td><b><%= number_to_currency(((@dailybank.vouchers_sold+@dailybank.deposit_sold)-(@dailybank.vouchers_used+@dailybank.deposit_used)), :locale => :en) %></b></td>
    
    <td><b><font color=#FFA500>Expected Takings </b></font></td>
    <td><h5><%= number_to_currency(@dailybank.actual_till_takings, :locale => :en) %></h5></td>
  </tr>
  
  <tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
   </tr>
 
  <tr>
    <td><b><font color=#D3D3D3>Reason</b></font></td>
    <td colspan="3" style="text-align:left"> <%= @dailybank.variance_comment %></td>   
    <td><b><font color=#FFA500>Variance </b></font></td>
    <td><b><%= number_to_currency(@dailybank.calculated_variance, :locale => :en) %></b></td>
  </tr>  
    </table>
 
    <% if @dailybank.status == "Validate and Lock"%>
   <% if @dailybank.variance_gap== 0%>
 
   <h6><b><font color=#13E84A>You have a variance of 
   <%= number_to_currency(@dailybank.variance_gap, :locale => :en)  %>, please now lock this record.</b><br><br>
 
   <%= form_for @dailybank, :url => { :action => "mgmt_lock", params: {id: @dailybank.id} }, :html => { :method => "post" } do |f| %>
     <%= f.hidden_field :status, :value => "Locked" %>
     <%= f.submit "Lock & Complete", class: "btn-sm btn-success" %>
   <% end %>
   <h6>
 
  <% else %>
    <h6><b><font color=#FF3F33>You have a variance of 
     <%= number_to_currency(@dailybank.calculated_variance, :locale => :en) %></b><h6>
     <%= link_to 'Edit Numbers', edit_dailybank_path(@dailybank), class: "btn btn-success btn-sm" %> to correct any errors or enter variance reason.
     
  <% end %>
 
  
    <% elsif @dailybank.status== "Mgmt Review" %>
     <% if current_user.admin?  || current_user.super_user? %>
     <div class="col-md-1 ">
     <button type="button" class="btn btn-warning btn-sm"><%= link_to 'Edit Details',  mgmt_review_dailybanks_path(:id => @dailybank.id) %></button>
     </div>
     <div class="col-md-8 col-md-offset-1" >
     <%= form_for @dailybank, :url => { :action => "mgmt_lock", params: {id: @dailybank.id} }, :html => { :method => "post" } do |f| %>
         <%= f.hidden_field :status, :value => "Locked" %>
         <%= f.submit "Lock & Complete", class: "btn-sm btn-success" %>
       <% end %>
       <% else %>
        <h6>Draft has been saved for management review.</h6>
      <% end %>
      
   </div>
     <% elsif   @dailybank.status== "Locked" %>
     
      <h6>This record is locked and cannot be edited.</h6>
     
      <% else %>
       <h6>Error - Unknown status on record - please report to IT dept.</h6>
   
  <% end %>
   <% end %>
