
<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-10">
<h4>End of Night - Tax Quarter</h4><br>

<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to "Latest", latest_path %></li>
  <li role="presentation"><%= link_to "By Days", history_path %></li>
  <li role="presentation"><%= link_to "By Week", history_week_path %></li>
  <li role="presentation"><%= link_to "By Month", history_month_path %></li>
  <li role="presentation" class="active"><%= link_to "Tax Quarter", tax_quarter_path %></li>
  <li role="presentation"><%= link_to "All Records", index_full_path %></li>
    <li role="presentation"><%= link_to "All On-going", index_ongoing_path %></li>
</ul>
<br>
<p>This view is designed to show a tax quarter summary report.</p>

<%= form_tag tax_quarter_path, method: :get, :class => "form-inline" do %>

    <h6><small>Search by:
    
     <input class="datepicker" data-provide='datepicker' id="search" name=[from] type="text" data-date-week-start=[1]  data-date-autoclose=[true] data-date-format=yyyy-mm-dd data-date-today-highlight=true class="form-control input-sm" placeholder="Start of Tax Quarter" >
     <input class="datepicker" data-provide='datepicker' id="search" name=[to] type="text" data-date-week-start=[1]  data-date-autoclose=[true] data-date-format=yyyy-mm-dd data-date-today-highlight=true class="form-control input-sm" placeholder="End of Tax Quarter" >
    
  <button type="submit" class="btn btn-primary btn-sm">Search</button>
<% end %>
<br><br><br>

<% if @dailybanks == 0 %>
  
<% elsif @dailybanks == 1 %>
  <p>No records found matching date criteria.</p>
 
<% else %>
<h5>Sales Figures</h5>
 <table class="table table-condensed">
 <thead>
  <tr>  
   <th style="text-align:left"></th>
   <th style="text-align:center">Work Days</th>
   <th style="text-align:right">Food</th>
   <th style="text-align:right">Drink</th>
   <th style="text-align:right">Merchandise</th>
   <th style="text-align:right">Deposits/Vouchers</th>
   <th style="text-align:right">Total</th>
  </tr>
  </thead> 
  <tbody>
  
    <% @dailybanks_by_month.each do |month, dailybanks|%>
       <tr>  
         <td class="active"><b><%= month %></b></td>
         <td class="active" style="text-align:center"><b>(<%= dailybanks.count %>)</b></td>
         <td style="text-align:right"><%= number_to_currency(dailybanks.map { |h| h[:dry_takings] }.compact.sum, :locale => :en) %></td>
         <td style="text-align:right"><%= number_to_currency(dailybanks.map { |h| h[:wet_takings] }.compact.sum, :locale => :en)  %></td>
         <td style="text-align:right"><%= number_to_currency(dailybanks.map { |h| h[:merch_takings] }.compact.sum, :locale => :en) %></td>
         <td style="text-align:right"><%= number_to_currency(dailybanks.map { |h| h[:v_d_adjustments] }.compact.sum, :locale => :en) %></td>
         <td class="active" style="text-align:right"><%= number_to_currency(((dailybanks.map { |h| h[:till_takings] }.compact.sum)+(dailybanks.map { |h| h[:v_d_adjustments] }.compact.sum)), :locale => :en) %></td>
       
       </tr> 
   <% end %>  
   <tr  class="active">
    <td colspan="2"><b>TOTALS</b></td>
    <td style="text-align:right"><%= number_to_currency(@dailybanks.map { |h| h[:dry_takings] }.compact.sum, :locale => :en) %></td>
    <td style="text-align:right"><%= number_to_currency(@dailybanks.map { |h| h[:wet_takings] }.compact.sum, :locale => :en) %></td>
    <td style="text-align:right"><%= number_to_currency(@dailybanks.map { |h| h[:merch_takings] }.compact.sum, :locale => :en) %></td>
    <td style="text-align:right"><%= number_to_currency(@dailybanks.map { |h| h[:v_d_adjustments] }.compact.sum, :locale => :en) %></td>
    <td class="active" style="text-align:right"><%= number_to_currency(((@dailybanks.map { |h| h[:till_takings] }.compact.sum)+(@dailybanks.map { |h| h[:v_d_adjustments] }.compact.sum)), :locale => :en) %></td>
  
   </tr>  
  </table>
 

  <h4><%= link_to "Print Accounting Report", download_dailybank_tax_accounting_pdf_path(:value => @dailybanks.first.effective_date.to_date, :format => 'pdf'), :style => "color:orange" %>
  
  
 <h5>Summary By Week</h5>
  <table class="table table-condensed">
  <thead>
   <tr>  
    <th style="text-align:right"></th>
    <th style="text-align:left">Date</th>
    <th style="text-align:right">Takings</th>
    <th style="text-align:right">Cash</b></th>
    <th style="text-align:right">Card</b></th>
    <th style="text-align:right">Expense</b></th>
    <th style="text-align:right">Var</b></th>
    <th style="text-align:right">Food</b></th>
    <th style="text-align:right">Drink</b></th>
    <th style="text-align:right">Merch</b></th>
    <th style="text-align:right">Ds&Vs</b></th>
   </tr>
   </thead> 
   <tbody>
  
   <% @dailybanks_by_week.each do |week, dailybanks|%>
     <tr>
     <td colspan="11" class="active" style="text-align:left"><b>Week: <%= week %></b></td>
     </tr>
     
     <% dailybanks.each do |dailybank| %>
      <tr>  
       <td ><small><%= dailybank.effective_date.strftime('%A') %></small></td>
       <td ><small><%= dailybank.effective_date.strftime('%d/%m/%y') %></small></td>
       <td style="text-align:right"><%= (dailybank.banking+dailybank.card_payments+dailybank.expenses.sum(:price)-dailybank.calculated_variance) %></td>
       <td style="text-align:right"><%= dailybank.banking %></td>
       <td style="text-align:right"><%= dailybank.card_payments %></td>
       <td style="text-align:right"><%= dailybank.expenses.sum(:price) %></td>
       <td style="text-align:right"><%= dailybank.calculated_variance %></td>
       <td style="text-align:right"><%= dailybank.dry_takings %></td>
       <td style="text-align:right"><%= dailybank.wet_takings %></td>
       <td style="text-align:right"><%= dailybank.merch_takings %></td>
       <td style="text-align:right"><%= dailybank.v_d_adjustments %></td>
      </tr> 
        <% end %>
  
  <tr class="active"> 
       <td ></td>
       <td ></td>
       <td style="text-align:right"><%= number_to_currency(((dailybanks.map { |h| h[:banking] }.compact.sum)+(dailybanks.map { |h| h[:card_payments] }.compact.sum)+(dailybanks.map { |h| h[:expenses_total] }.compact.sum)-(dailybanks.map { |h| h[:calculated_variance] }.compact.sum)), :locale => :en) %></td>
       <td style="text-align:right"><%= number_to_currency(dailybanks.map { |h| h[:banking] }.compact.sum, :locale => :en) %></td>
       <td style="text-align:right"><%= number_to_currency(dailybanks.map { |h| h[:card_payments] }.compact.sum, :locale => :en) %></td>
       <td style="text-align:right"><%= number_to_currency(dailybanks.map { |h| h[:expenses_total] }.compact.sum, :locale => :en) %></td>
       <td style="text-align:right"><%= number_to_currency(dailybanks.map { |h| h[:calculated_variance] }.compact.sum, :locale => :en) %></td>
       <td style="text-align:right"><%= number_to_currency(dailybanks.map { |h| h[:dry_takings] }.compact.sum, :locale => :en) %></td>
       <td style="text-align:right"><%= number_to_currency(dailybanks.map { |h| h[:wet_takings] }.compact.sum, :locale => :en) %></td>
       <td style="text-align:right"><%= number_to_currency(dailybanks.map { |h| h[:merch_takings] }.compact.sum, :locale => :en) %></td>
       <td style="text-align:right"><%= number_to_currency(dailybanks.map { |h| h[:v_d_adjustments] }.compact.sum,  :locale => :en) %></td></tr> 
 <tr class="active"> 
    <td colspan="11"></td>
    </tr>
     <% end %> 
</table>

<br>
<h5>Summary By Month</h5>
  <table class="table table-condensed">
  <thead>
   <tr>  
    <th colspan="2" style="text-align:center">Date</th>
    <th style="text-align:right">Takings</th>
    <th style="text-align:right">Cash</th>
    <th style="text-align:right">Card</th>
    <th style="text-align:right">Expense</th>
    <th style="text-align:right">Var</th>
    <th style="text-align:right">Food</th>
    <th style="text-align:right">Drink</th>
    <th style="text-align:right">Merch</th>
    <th style="text-align:right">Ds&Vs</th>
   </tr>
   </thead> 
   <tbody>
  
   <% @dailybanks_by_month.each do |month, dailybanks|%>
     <tr>
         </tr>
    <tr class="active"> 
       <td colspan="2" class="active" style="text-align:center"><b><%= month %></b></td>
       <td style="text-align:right"><%= number_to_currency(((dailybanks.map { |h| h[:banking] }.compact.sum)+(dailybanks.map { |h| h[:card_payments] }.compact.sum)+(dailybanks.map { |h| h[:expenses_total] }.compact.sum)-(dailybanks.map { |h| h[:calculated_variance] }.compact.sum)), :locale => :en) %></td>
       <td style="text-align:right"><%= number_to_currency(dailybanks.map { |h| h[:banking] }.compact.sum, :locale => :en) %></td>
       <td style="text-align:right"><%= number_to_currency(dailybanks.map { |h| h[:card_payments] }.compact.sum, :locale => :en) %></td>
       <td style="text-align:right"><%= number_to_currency(dailybanks.map { |h| h[:expenses_total] }.compact.sum, :locale => :en) %></td>
       <td style="text-align:right"><%= number_to_currency(dailybanks.map { |h| h[:calculated_variance] }.compact.sum, :locale => :en) %></td>
       <td style="text-align:right"><%= number_to_currency(dailybanks.map { |h| h[:dry_takings] }.compact.sum, :locale => :en) %></td>
       <td style="text-align:right"><%= number_to_currency(dailybanks.map { |h| h[:wet_takings] }.compact.sum, :locale => :en) %></td>
       <td style="text-align:right"><%= number_to_currency(dailybanks.map { |h| h[:merch_takings] }.compact.sum, :locale => :en) %></td>
       <td style="text-align:right"><%= number_to_currency(dailybanks.map { |h| h[:v_d_adjustments] }.compact.sum,  :locale => :en) %></td></tr> 
    </tr> 

 <tr> 
    <td colspan="11"></td>
    </tr>
     <% end %> 
</table>

<% end %>
</div>
  

