<%= bootstrap_form_for(@exemption, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-5") do |f| %>

  <% if @exemption.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exemption.errors.count, "error") %> prohibited this exemption from being saved:</h2>

      <ul>
      <% @exemption.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   
    <%= f.date_select :exempt_day %>
    <%= f.text_field :exempt_message %>
  
    <div class="col-sm-offset-2 col-sm-10">
     <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
     </div></div>
    
<% end %>
