<p id="notice"><%= notice %></p>

<h1>Listing Exemptions</h1>

<table>
  <thead>
    <tr>
      <th>Exempt day</th>
      <th>Exempt message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exemptions.each do |exemption| %>
      <tr>
        <td><%= exemption.exempt_day %></td>
        <td><%= exemption.exempt_message %></td>
        <td><%= link_to 'Show', exemption %></td>
        <td><%= link_to 'Edit', edit_exemption_path(exemption) %></td>
        <td><%= link_to 'Destroy', exemption, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exemption', new_exemption_path %>
