<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-6">

<h4>Booking Exemption Day</h4>
<br>
<div class="well" style="background-color: grey;">

<p>
  <strong>Exempt day:</strong>
  <%= @exemption.exempt_day.strftime('%a, %d %b %Y')  %>
</p>
<p>
  <strong>Exempt applied to:</strong>
  <%= @exemption.lunch==true ? "Lunch":"" %>
   <%= @exemption.dinner==true ? "Dinner" :""%>
</p>
<p>
  <strong>Exempt message:</strong>
  <%= @exemption.exempt_message %>
</p>
</div>

<br>
<%= link_to 'Back to All Booking Exemptions', exemptions_path, style: 'color:#FFFFFF;'  %> <br>
<%= link_to 'Create a new booking exemption day', new_exemption_path, style: 'color:#FFFFFF;' %>

