<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-10">

<h3>Exemption Day</h3>
<br>
<p>
  <strong>Exempt day:</strong>
  <%= @exemption.exempt_day %>
</p>

<p>
  <strong>Exempt message:</strong>
  <%= @exemption.exempt_message %>
</p>
<br><br>
<%= link_to 'Edit', edit_exemption_path(@exemption), style: 'color:#FFFFFF;'  %> |
<%= link_to 'Back to All Exemptions', exemptions_path, style: 'color:#FFFFFF;'  %>
