<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-6">
<h2>Accruel Rates</h2><br>

<table class="table">
  <thead>
    <tr>
      <th>Effective date</th>
      <th>Accruel rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accruel_rates.each do |accruel_rate| %>
      <tr>
        <td><%= accruel_rate.effective_date.strftime('%A, %d %B %Y')  %></td>
        <td><%= accruel_rate.rate %></td>
        <td><%= link_to 'Show', accruel_rate %></td>
        <td><%= link_to 'Edit', edit_accruel_rate_path(accruel_rate) %></td>
        <td><%= link_to 'Destroy', accruel_rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accruel rate', new_accruel_rate_path, style: 'color:#d3d3d3' %>
</div></div>
