<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-5">
<h2>Accruel Rate</h2><br>

<p>
  <strong>Effective date:</strong>
  <%= @accruel_rate.effective_date.strftime('%A, %d %B %Y')  %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @accruel_rate.rate %>
</p>

<%= link_to 'Edit', edit_accruel_rate_path(@accruel_rate), style: 'color:#d3d3d3' %> |
<%= link_to 'Back', accruel_rates_path, style: 'color:#d3d3d3' %>
</div></div>
