<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
    <%= f.text_field :name, :style => "width: 250px;", :placeholder => "name"  %>
   </div>
  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
    <%= f.text_field :phone, :style => "width: 250px;", :placeholder => "phone number"  %>
   </div>
   <div class="input-group margin-bottom-sm">
     <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
     <%= f.text_field :email, :style => "width: 250px;", :placeholder => "email address"  %>
    </div>
    <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><i class="fa fa-quote-right fa-fw"></i></span>
      <%= f.text_area :desc, :style => "width: 250px;", :placeholder => "message"  %>
     </div><br>
  
 
  <div class="actions">
   <%= f.submit "Send Message", class: "btn btn-primary" %>
  </div>
<% end %>
