<%= form_for(@customer, url: customers_subscribe_url) do |f| %>
  <% if @customer.errors.any? %>
   
      <h6><b><% @customer.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %></b></h6>
      
  <% end %>
  
  
  <table class="table">
  <tr><td>
  
  <table class="table-condensed" style="border: 0; text-align:left; background-color: transparent">
  <tr><td style="width: 5%"></td><td style="width: 20%"></td><td style="width: 70%"></td><td style="width: 5%"></td></tr>
 <tr><td></td><td>Email</td><td><%= f.text_field :email, :style => "width: 280px;", class:"form-control input-sm" %></td><td></td></tr>
  
 <tr><td></td><td></td><td>
  <%= f.hidden_field :subscribed, :value => TRUE %>
     <div class="actions">
      <%= f.submit "Subscribe!", class: "btn btn-success btn-sm" %>
     </div>
  <% end %>
  </td><td></td></tr>
  </table>

  </td>
  </tr>
  </table>
  

