<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-10">
<h2>Customers</h2><br>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Desc</th>
      <th>Accessible</th>
      <th>Child friendly</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.email %></td>
        <td><%= customer.desc %></td>
        <td><%= customer.accessible %></td>
        <td><%= customer.child_friendly %></td>
        <td> <%= link_to edit_customer_path(customer), class: 'btn btn-success btn-xs' do %>
             <span class="fa fa-pencil-square-o""></span>
             <% end %> 
             |
            <%= link_to customer, method: :delete, data: { confirm: 'Are you sure you want to delete this record?' }, class: 'btn btn-warning btn-xs' do %>
              <span class="fa fa-trash""></span>
             <% end %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
