<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-10">
<h2>Customers</h2><br>


<%= form_tag customers_path, method: :get, :class => "form-inline" do %>

    <h6>Search by:
    <%= text_field(:customer, :name, :placeholder => "Name") %>
    or
    <%= text_field(:customer, :phone, :placeholder => "Phone") %>
    or
    <%= text_field(:customer, :email, :placeholder => "Email") %>
  
  <button type="submit" class="btn btn-default">Search</button>
<% end %>
<br>

<% if @customers == 0 %>
    <br>
  <h5>Search for customer</h5>

  <% else %>
<table class="table">
  <thead>
    <tr>
      <th style="width: 25%">Name</th>
      <th style="width: 20%">Phone</th>
      <th style="width: 25%">Email</th>
      <th style="width: 20%;text-align:center">Subscribed?</th>
      <th style="width: 10%"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.email%>
              
        </td>
        <td style="text-align:center"><% if customer.subscribed == TRUE  %>
        <span class="fa fa-check""></span>
      <% else %>
        <span class="fa fa-close""></span>
      <% end %>
        </td>
        <td> <%= link_to edit_customer_path(customer), class: 'btn btn-success btn-xs' do %>
             <span class="fa fa-pencil-square-o""></span>
             <% end %> 
             |
            <%= link_to customer, method: :delete, data: { confirm: 'Are you sure you want to delete this record?' }, class: 'btn btn-warning btn-xs' do %>
              <span class="fa fa-trash""></span>
             <% end %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
    <% end %>
<br>

<%= link_to 'New Customer', new_customer_path %>
