<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-10">
<h2>Error Messages</h2><br>


<table class="table">
  <thead>
    <tr>
      <th style="width: 10%">Reference</th>
      <th style="width: 40%">Error Message</th>
      <th style="width: 40%">Description</th>
      <th style="width: 10%" colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @errors.each do |error| %>
      <tr>
        <td><%= error.ref %></td>
        <td><%= error.msg %></td>
        <td><%= error.desc %></td>
        
         <% if current_user.admin?  %>
        
           <td><%= link_to edit_error_path(error), class: 'btn btn-success btn-xs' do %>
                <span class="fa fa-pencil-square-o""></span>
                <% end %> 
                |
               <%= link_to error, method: :delete, data: { confirm: 'Are you sure you want to delete this record?' }, class: 'btn btn-warning btn-xs' do %>
                 <span class="fa fa-trash""></span>
                <% end %> </td> 
                <% else %>
                <td></td>  
                <% end %>
       </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Error', new_error_path %>
