<%= bootstrap_form_for(@table, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-5") do |f| %>
  <% if @table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
      <% @table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
    <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name %>
  
    <%= f.text_field :reference %>
  
    <%= f.text_area :desc %>
  
    <%= f.number_field :min_seats %>
 
    <%= f.number_field :max_seats %>
  
    <div class="col-sm-offset-2 col-sm-10">
     <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
     </div></div>

<% end %>
