<%= render 'layouts/header' %>
<div style="padding-top:10px;"> 
<h2>Tables</h2>

<% @tables_by_restaurant.each do |restaurant, tables| %>

  
<table class="table">
  <thead>
    <tr>
      <th style="width: 5%">Ref</th>
      <th style="width: 25%">Desc</th>
      <th style="width: 6%">Min seats</th>
      <th style="width: 6%">Max seats</th>
      <th style="width: 8%">Accessible</th>
      <th style="width: 8%">Child friendly</th>
      <th colspan="3" style="width: 13%"></th>
    </tr>
  </thead>

  <tbody>
  <tr colspan="3">
  <h4><%= Restaurant.where(:id => restaurant).first.name %></h4>
  </tr>
    <% tables.each do |table| %>
      <tr>
        <td><%= table.reference %></td>
        <td><%= table.desc %></td>
        <td><%= table.min_seats %></td>
        <td><%= table.max_seats %></td>
        <td><%= table.accessible %></td>
        <td><%= table.child_friendly %></td>
        <td><%= link_to 'Show', table %></td>
        <td><%= link_to 'Edit', edit_table_path(table) %></td>
        <td><%= link_to 'Destroy', table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
      <% end %>
</table>


<br>

<%= link_to 'New Table', new_table_path %><br>
<%= link_to 'New Booking', new_booking_path %>
