<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-10">

<h2>Restaurants</h2><br>

<% @restaurants_by_account.each do |account, restaurants| %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Website</th>
      <th>Primary contact</th>
      <th></th>
    </tr>
  </thead>
  <tr colspan="3">
  <h4><%= Account.where(:id => account).first.company_name %></h4>
  </tr>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= link_to restaurant.name, rdetail_path(restaurant.id) %></td>
        <td><%= restaurant.location %></td>
        <td><%= restaurant.website %></td>
        <td><%= restaurant.primary_contact %><br>
        Email: <%= restaurant.email %><br>
        Phone:<%= restaurant.phone %></td>
        <td> <%= link_to edit_restaurant_path(restaurant), class: 'btn btn-success btn-xs' do %>
             <span class="fa fa-pencil-square-o""></span>
             <% end %> 
             |
            <%= link_to restaurant, method: :delete, data: { confirm: 'Are you sure you want to delete this record?' }, class: 'btn btn-warning btn-xs' do %>
              <span class="fa fa-trash""></span>
             <% end %> </td>
      </tr>
     
    <% end %> 
      <% end %>
  </tbody>  
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %><br>
<%= link_to 'New Table', new_table_path %>
