<%= bootstrap_form_for(@tronc) do |f| %>
  <% if @tronc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tronc.errors.count, "error") %> prohibited this tronc from being saved:</h2>

      <ul>
      <% @tronc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="col-md-4">
    <%= f.select(:status, Tronc::TRONC_STATUS_TYPES, :label => "Status?") %>
    <%= f.date_select :start_date %>
    <hr>
    <%= f.text_field :card_split, label: "Card Processing %" %>
        <hr>
    <%= f.text_field :foh_split, label: "Front of House %" %>
    <%= f.select(:foh_method, Tronc::TRONC_METHOD_TYPES, :label => "FOH Split Method?") %>
</div>
 <div class="col-md-4">
   <%= f.text_field :total, :disabled => true %>
   <%= f.date_select :end_date %>
       <hr>
    <%= f.text_field :mgr_split, label: "Managers %"  %>
        <hr>
    <%= f.text_field :kitchen_split, label: "Kitchen %"  %>
    <%= f.select(:kit_method, Tronc::TRONC_METHOD_TYPES, :label => "Kitchen Split Method?") %>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

