<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-8">

<h2>TRONC Periods</h2>
<br>

<table class="table">
  <thead>
    <tr>
       <th>Status</th>
       <th>Start date</th>
       <th>End date</th>
       <th style="text-align:right">Card %</th>
       <th style="text-align:right">Mgrs %</th>
       <th style="text-align:right">FOH %</th>
       <th style="text-align:right">Kitchen %</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @troncs.each do |tronc| %>
      <tr>
        <td><%= tronc.status %></td>
        <td><%= tronc.start_date.strftime('%d %B %Y') %></td>
        <td><%= tronc.end_date.strftime('%d %B %Y') %></td>
        <td style="text-align:right"><%= number_with_precision(tronc.card_split, :precision => 2)  %> </td>
        <td style="text-align:right"><%= number_with_precision(tronc.mgr_split, :precision => 2)  %> </td>
        <td style="text-align:right"><%= number_with_precision(tronc.foh_split, :precision => 2)  %><br><%= tronc.foh_method %></td>
        <td style="text-align:right"><%= number_with_precision(tronc.kitchen_split, :precision => 2)  %><br><%= tronc.kit_method %> </td>
        <td><%= link_to 'Show', tronc %></td>
        <td><%= link_to 'Edit', edit_tronc_path(tronc) %></td>
        <td><%= link_to 'Destroy', tronc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Tronc Period', new_tronc_path, style: 'color:#d3d3d3'  %>
