<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-4">
<h3>TRONC Period</h3><br>
<br>


<p>
  <strong>Status:</strong>
  <%= @tronc.status %>
</p>

<p>
  <strong>Period:</strong>
  <%= @tronc.start_date.strftime('%d %B %Y')  %> -  <%= @tronc.end_date.strftime('%d %B %Y')  %>
</p>

<br>
<h6>Splits</h6>
<p>
  <strong>Card Processing:</strong>
  <%= @tronc.card_split %>%
</p>
<p>
  <strong>Managers</strong>
  <%= @tronc.mgr_split %>%
</p>
<p>
  <strong>Front of House:</strong>
  <%= @tronc.foh_split %>%,  <i><%= @tronc.foh_method %></i>
</p>
<p>
  <strong>Kitchen:</strong>
  <%= @tronc.kitchen_split %>%, <i> <%= @tronc.kit_method %></i>
</p>
<br>
<h6>TRONC Total: </h6>
<p>
  <%= @tronc.total %>
</p>

<%= link_to 'Edit', edit_tronc_path(@tronc) %> |
<%= link_to 'Show ALl', troncs_path %>
