<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-8">

<h3>Edit Banking Record</h3>
<h4><b><%= @cashfloat.float_type %> </b> for <b><%= Date.today.strftime("%A") %></b> <%= @cashfloat.period %>, <%= Date.today.strftime("%B %d") %></h4>


<%= form_for(@cashfloat) do |f| %>

  <% if @cashfloat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cashfloat.errors.count, "error") %> prohibited this cashfloat from being saved:</h2>

      <ul>
      <% @cashfloat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>f


    <div class="row">
    <div class="col-md-1">
      <font color=#D3D3D3>Notes</font>
     </div>
     
     <div class="col-md-1">
       <font color=#D3D3D3><%= f.label :fifties, "£50" %></font><br>
       <font color=#D3D3D3><%= f.label :twenties, "£20" %></font><br>
       <font color=#D3D3D3><%= f.label :tens, "£10" %></font><br>
       <font color=#D3D3D3><%= f.label :fives, " £5 " %></font><br>
    </div> 
     
    <div class="col-md-3">
    <%= f.text_field :fifties, :style => "width:74px; text-align:right" %><br>
    <%= f.text_field :twenties, :style => "width:74px; text-align:right" %><br>
    <%= f.text_field :tens, :style => "width:74px; text-align:right" %><br>
    <%= f.text_field :fives, :style => "width:74px; text-align:right" %><br>
    </div>
    
    <div class="col-md-3">
     <h6><small> Target: <b><%= number_to_currency(Rdetail.get_value(1, "till_float_main"), :locale => :en) %></small></h6></b>
   </div>
   </div> 
     
  <br>   
    <div class="row"> 
    <div class="col-md-1">
      <font color=#D3D3D3>Coins</font>
     </div>
     
      <div class="col-md-1">
        <font color=#D3D3D3><%= f.label :two_pound_single, " £2 " %></font><br>
        <font color=#D3D3D3><%= f.label :pound_single, " £1 " %></font><br>
        <font color=#D3D3D3><%= f.label :fifty_single, " 50p" %></font><br>
        <font color=#D3D3D3><%= f.label :twenty_single, " 20p" %></font><br> 
        <font color=#D3D3D3><%= f.label :ten_single, " 10p" %></font><br>
        <font color=#D3D3D3><%= f.label :five_single, " 5p " %></font><br>
        <font color=#D3D3D3><%= f.label :two_single, " 2p " %></font><br> 
        <font color=#D3D3D3><%= f.label :one_single, " 1p " %></font>
       </div>
       
       <div class="col-md-2">
       <%= f.text_field :two_pound_single, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.two_pound_single, :precision => 2)) %><br>
       <%= f.text_field :pound_single, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.pound_single, :precision => 2)) %><br>
       <%= f.text_field :fifty_single, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.fifty_single, :precision => 2)) %><br>
       <%= f.text_field :twenty_single, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.twenty_single, :precision => 2)) %><br>
       <%= f.text_field :ten_single, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.ten_single, :precision => 2)) %><br>
       <%= f.text_field :five_single, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.five_single, :precision => 2)) %><br>
       <%= f.text_field :two_single, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.two_single, :precision => 2)) %><br>
       <%= f.text_field :one_single, :style => "width:74px; text-align:right", :value => (number_with_precision(f.object.one_single, :precision => 2)) %>
       </div>
       
        <div class="col-md-3">
         <h6><small> <br><br><br><br>
         <font color=#D3D3D3>Float Override</font>
         <%= f.check_box :override, :style => "width:74px; text-align:right" %><br><br>
          <font color=#D3D3D3>Override Reason</font>
          <font color=#000000>
          <%= f.text_area :float_comment, :cols => 26, :rows => 4 %></font>
         </div>
    </div>
    <br>
       
</fieldset>
     <div class="row"> 
     <div class="col-md-3 col-md-offset-2">

<%= f.submit "Save Changes", class: "btn btn-primary" %>
 <% end %>
    </div>    </div>



