<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-7">

<h2>Daily Checks</h2>

<%= bootstrap_form_for(@cashfloat, layout: :inline, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>

  <% if @cashfloat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cashfloat.errors.count, "error") %> prohibited this cashfloat from being saved:</h2>

      <ul>
      <% @cashfloat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h4><%= f.object.float_type %> float check for <%= Date.today.strftime("%A") %> <%= f.object.period %>, <%= Date.today.strftime("%b %d") %>
</h4> <h5>Float Target : <%= f.object.float_target %><h5>

    <%= f.hidden_field :float_type %>
    <%= f.hidden_field :period %>
     <%= f.hidden_field :float_target %>
    <%= f.select(:completed_by, User.uniq.pluck(:name), include_blank: "Select user", class:"form-control input-sm", label: "Completed By: " ) %>  
    <%= f.password_field :user_code, class:"form-control input-sm", label: "User Code: "  %>
    <br><br>
 
    
     
   <table class="table table-condensed">
   <tr><td  rowspan="4" style="width: 15%" class="text-center"> <h5>Notes</h5></td> 
   <td style="width: 15%" class="text-center">£50</td>   <td style="width: 85%"><%= f.number_field :fifties, skip_label: true, class:"form-control input-sm", :style => "width: 80px" %></td><td><%= f.object.fifties %></td></tr>
   <tr><td class="text-center">£20</td>   <td><%= f.number_field :twenties,  skip_label: true, class:"form-control input-sm", :style => "width: 80px" %></td><td><%= f.object.twenties %></td></tr>
   <tr><td class="text-center">£10</td>   <td><%= f.number_field :tens, skip_label: true, class:"form-control input-sm", :style => "width: 80px" %></td><td><%= f.object.tens %></td></tr>
   <tr><td class="text-center">£5</td>   <td><%= f.number_field :fives,  skip_label: true, class:"form-control input-sm", :style => "width: 80px" %></td><td><%= f.object.fives %></td></tr>
   </table>
 

    <table class="table table-condensed">
    <tr><td  rowspan="9" style="width: 15%" class="text-center"> <h5>Coins</h5></td> 
    <td style="width: 15%" class="text-center">£2 bags</td>   <td style="width: 20%"><%= f.number_field :two_pound_bag, label: "£2 bag", skip_label: true,class:"form-control input-sm", :style => "width: 80px" %></td>
    <td style="width: 15%" class="text-center">£2 singles</td> <td style="width: 20%"><%= f.number_field :two_pound_single, label: "£2", skip_label: true, class:"form-control input-sm", :style => "width: 80px" %></td><td class="text-right">0</td></tr>
    <td style="width: 15%" class="text-center">£1 bags</td>   <td style="width: 20%"><%= f.number_field :pound_bag, label: "£1 bag", skip_label: true,class:"form-control input-sm", :style => "width: 80px" %></td>
    <td style="width: 15%" class="text-center">£1 singles</td> <td style="width: 20%"><%= f.number_field :pound_single, label: "£1", skip_label: true, class:"form-control input-sm", :style => "width: 80px" %></td><td class="text-right">0</td></tr>
    <tr><td style="width: 15%" class="text-center">50p bags</td>   <td style="width: 20%"><%= f.number_field :fifty_bag, label: "£1 bag", skip_label: true,class:"form-control input-sm", :style => "width: 80px" %></td>
    <td style="width: 15%" class="text-center">50p singles</td> <td><%= f.number_field :fifty_single, label: "£1", skip_label: true, class:"form-control input-sm", :style => "width: 80px" %></td><td class="text-right">0</td></tr>
    <tr><td style="width: 15%" class="text-center">20p bags</td>   <td style="width: 20%"><%= f.number_field :twenty_bag, label: "£1 bag", skip_label: true,class:"form-control input-sm", :style => "width: 80px" %></td>
    <td style="width: 15%" class="text-center">20p singles</td> <td><%= f.number_field :twenty_single, label: "£1", skip_label: true, class:"form-control input-sm", :style => "width: 80px" %></td><td class="text-right">0</td></tr>
    <tr><td style="width: 15%" class="text-center">10p bags</td>   <td style="width: 20%"><%= f.number_field :ten_bag, label: "£1 bag", skip_label: true,class:"form-control input-sm", :style => "width: 80px" %></td>
    <td style="width: 15%" class="text-center">10p singles</td> <td><%= f.number_field :ten_single, label: "£1", skip_label: true, class:"form-control input-sm", :style => "width: 80px" %></td><td class="text-right">0</td></tr>
    <tr><td style="width: 15%" class="text-center">5p bags</td>   <td style="width: 20%"><%= f.number_field :five_bag, label: "£1 bag", skip_label: true,class:"form-control input-sm", :style => "width: 80px" %></td>
    <td style="width: 15%" class="text-center">5p singles</td> <td><%= f.number_field :five_single, label: "£1", skip_label: true, class:"form-control input-sm", :style => "width: 80px" %></td><td class="text-right">0</td></tr>
    <tr><td style="width: 15%" class="text-center">2p bags</td>   <td style="width: 20%"><%= f.number_field :two_bag, label: "£1 bag", skip_label: true,class:"form-control input-sm", :style => "width: 80px" %></td>
    <td style="width: 15%" class="text-center">2p singles</td> <td><%= f.number_field :two_single, label: "£1", skip_label: true, class:"form-control input-sm", :style => "width: 80px" %></td><td class="text-right">0</td></tr>
    <tr><td style="width: 15%" class="text-center">1p bags</td>   <td style="width: 20%"><%= f.number_field :one_bag, label: "£1 bag", skip_label: true,class:"form-control input-sm", :style => "width: 80px" %></td>
    <td style="width: 15%" class="text-center">1p singles</td> <td><%= f.number_field :one_single, label: "£1", skip_label: true, class:"form-control input-sm", :style => "width: 80px"   %></td><td class="text-right">0</td></tr>
    <tr><td colspan=2><div class="actions">
      <%= f.submit "Count Cash", class: "btn btn-primary" %>
   </div></td><td></td><td></td><td></td></tr>
     </table>


<% end %>
</div>
    </div>

