<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-10">

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @category.reference %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
