
<%= form_for([@dailybank, @dailybank.expenses.build]) do |f| %>
 
  <table>
    <thead>
      <tr>
        <th style="text-align:center">What</th>
        <th style="text-align:center">Where</th>
        <th style="text-align:center">Price</th>
        <th style="text-align:center"></th>
        </tr>
    </thead>
     <tbody>
    <tr> 
        <%= f.hidden_field :ref, :style => "width:74px" %>
        <%= f.hidden_field :dailybank_id, :value => @dailybank.id %>
        <td> <%= f.text_field :what, :style => "width:200px", :placeholder => "items bought" %></td>
        <td> <%= f.text_field :where, :style => "width:140px", :placeholder => "store name"  %></td>
        <td> <%= f.text_field :price, :style => "width:74px; text-align:right", :placeholder => "£0.00"  %></td>
        <td> <%= f.submit "Add Expense", class: "btn btn-warning btn-xs"  %> </td> 
     </tr> 
     </tbody>
  </table>
  </div>
<% end %>

 