<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-8">
<h3>Expenses</h3>

<%= form_tag expenses_path, method: :get, :class => "form-inline" do %>

    <h6><small>Search by:
    
     <input class="datepicker" data-provide='datepicker' id="search" name=[from] type="text" data-date-week-start=[1]  data-date-autoclose=[true] data-date-format=yyyy-mm-dd data-date-today-highlight=true class="form-control input-sm" placeholder="Search From" >
     <input class="datepicker" data-provide='datepicker' id="search" name=[to] type="text"data-date-week-start=[1]  data-date-autoclose=[true] data-date-format=yyyy-mm-dd data-date-today-highlight=true class="form-control input-sm" placeholder="Search To" >
    
  <button type="submit" class="btn btn-primary btn-sm">Search</button>
<% end %>
<br><br>

<% if @expenses_by_dailybank == 0 %>
  
  <% elsif @expenses_by_dailybank == 1 %>
  <p>No records found matching date criteria.</p>
 
  <% else %>
  
  
  <% @expenses_by_dailybank.each do |dailybank, expenses| %>
 
    <h4><%= link_to "Print Expenses Report", download_expenses_report_pdf_path(:value => @expenses_by_dailybank, :format => 'pdf'), :style => "color:orange" %>
    </h4>
 
    
<table class= "table table-condensed">
  <thead>
    <tr>
      <th style="width: 10%">Ref</th>
      <th style="width: 30%">What</th>
      <th style="width: 20%">Where</th>
      <th style="width: 10%">Price</th>
      <th style="width: 30%" colspan="2"></th>
    </tr>
  </thead>
 <%= Dailybank.where(:id => dailybank).first.effective_date.strftime('%a, %d %b %Y')  %> - <b><%= a= Dailybank.where(:id => dailybank).first.status %></b> - <%= link_to 'See End of Night Record', dailybank_path(dailybank), :style => "color:orange" %>
  <tbody>
    <% expenses.each do |expense| %>
      <tr>
        <td><%= expense.ref %></td>
        <td><%= expense.what %></td>
        <td><%= expense.where %></td>
        <td><%= number_to_currency(expense.price, :locale => :en) %></td>
        
        <% if a == "Locked" %>
          <td colspan="2">Record cannot be edited.</td>
          <% else %>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<% end %>
