<title>Hang Fire Southern Kitchen</title>

<!-- Instructions: This is the background image. -->  
 
<style> body {
     background-image: url("/assets/HF-072.jpg");
      background-color: #000000;
     background-repeat: no-repeat;
     background-position: left top;
     background-size: 100% auto;
     margin-right: 0px;
 }
 </style>

 <!-- Instructions: This is the header routing links. -->  
 <br>
 <div class="row" style="padding-top:10px;"> 
 </div>
<div class="row" style="background-color: #000000; "> 
<br>
    <div class="col-md-1"><center><a href="/hfsk_home"><i class="fa fa-home" style='color: #FFFFFF;'></i></a></center></div>
    <div class="col-md-2"><center><%= link_to "WHERE TO FIND US", static_pages_hfsk_location_path, class: 'ex_head_link' %></center></div>
    <div class="col-md-2"><center><%= link_to "BOOK A TABLE", static_pages_booking_enquiry_path, class: 'ex_head_link' %></center></div>
    <div class="col-md-2"><center><%= link_to "ABOUT HANG FIRE", static_pages_hfsk_about_path, class: 'ex_head_link' %></center></div>
    <div class="col-md-2"><center><%= link_to "GET IN TOUCH", static_pages_hfsk_get_in_touch_path, class: 'ex_head_link' %></center></div>
    <div class="col-md-2"><center><%= link_to "NEWS ON OUR BLOG", static_pages_hfsk_blog_path, class: 'ex_head_link' %></center></div>
    <div class="col-md-1"><center><a href="/home"><i class="fa fa-stop-circle-o" style='color: #FFFFFF;'></i></a></center></div> 
    <br><br>
 </div>  
  
 <!-- Instructions: This is the social media section. -->  
  <div class="row"> 
  <div class="col-md-4 col-md-offset-8" style="padding-top:10px;">
  <ul class="list-inline"> 
     <li><a href="https://www.facebook.com/pages/Hang-Fire-Smokehouse/203591489778567"><i class="fa fa-facebook fa-fw fa-3x" style='color: #FFFFFF;'></i></a>
     </li> 
     <li><a href="https://twitter.com/hangfirebbq"><i class="fa fa-twitter fa-fw fa-3x" style='color: #FFFFFF;'></i></a>
     </li>  
     <li><a href="http://instagram.com/hangfirebbq"><i class="fa fa-instagram fa-fw fa-3x" style='color: #FFFFFF;'></i></a>
     </li>  
     <li><a href="https://www.youtube.com/channel/UCM6UYsYUvLAzFZp7M4hCWWg"><i class="fa fa-youtube fa-fw fa-3x" style='color: #FFFFFF;'></i></a>
     </li>
 </ul>
 </div>
 </div>