<br><br><br>

<h6><small> <% if logged_in? %> 
              Hi <%= current_user.name %>
              <br><br>
              <%= link_to "Log out", logout_path, method: "delete", style: 'color:#d3d3d3;' %><br>
              <br>
              <b>Company Pages</b><br>
               <% if current_user.admin?  %>
              <a href="/accounts/">Accounts</a><br>
                
              <a href="/restaurants/">Restaurants</a><br>
                
              <a href="/rdetails/">Restaurant Details</a><br>
            
              <a href="/errors/">Error Messages</a><br>
              <% end %>
             <%= link_to "Daily Bookings", bookings_url, style: 'color:#d3d3d3;'%>
              <br>
              <%= link_to "Deposit Report", deposit_report_path, style: 'color:#d3d3d3;'%>
              <br>
              <%= link_to "Confirmation Report", confirmation_report_path, style: 'color:#d3d3d3;'%>
              <br>
             <%= link_to "Booking Activity", basic_report_path, style: 'color:#d3d3d3;'%>
              <br>
              <%= link_to "Booking Calendar", calendar_path, style: 'color:#d3d3d3;'%>
              <br>
              <%= link_to "Booking Search", search_bookings_path, style: 'color:#d3d3d3;'%>
              <br>
              <%= link_to "Book a Table", new_booking_path, style: 'color:#d3d3d3;'%>
              <br>
              <%= link_to "Book a Function", new_function_path, style: 'color:#d3d3d3;'%>
              <br>
              <%= link_to "View Functions", functions_path, style: 'color:#d3d3d3;'%>
              <br>
              <%= link_to "Booking Exemptions", exemptions_path, style: 'color:#d3d3d3;'%>
              <br>
                <%= link_to "System Users", users_url, style: 'color:#d3d3d3;'%>
              <br>
              <%= link_to "Expenses Search", expenses_path, style: 'color:#d3d3d3;'%>
              <br>
              <%= link_to "End of Night", dailybanks_path, style: 'color:#d3d3d3;'%>
              <br><br>
              <b>External Pages </b> <br>
              <%= link_to "Booking Enquiry", new_booking_enquiry_url, style: 'color:#ffffe0;'%>
                <br>
                 <%= link_to "HFSK Home", hfsk_home_url, style: 'color:#ffffe0;'%>
             
             <% else %>
             <%= link_to "Log In", login_url, style: 'color:#FFFFFF;'%><br><br><br>
             <%= link_to "Booking Enquiry", new_booking_enquiry_url, style: 'color:#ffffe0;'%>
               <br>
                <%= link_to "Main Site", hfsk_home_url, style: 'color:#ffffe0;'%>
            
              
             
               <% end %><br><br>

</h6>