<br><br><br>

<h6> <% if logged_in? %> 
              Hi <%= current_user.name %>
              <br><br>
              <%= link_to "Log out", logout_path, method: "delete", style: 'color:#d3d3d3;' %><br>
              <br>
              <b>Company Pages</b>
               <% if current_user.admin?  %>
              <a href="/accounts/">Accounts</a><br>
                
              <a href="/restaurants/">Restaurants</a><br>
                
              <a href="/rdetails/">Restaurant Details</a><br>
            
              <a href="/errors/">Error Messages</a><br>
              <% end %>
             <%= link_to "Daily Bookings", bookings_url, style: 'color:#d3d3d3;'%>
              <br>
             <%= link_to "Booking Activity", basic_report_path, style: 'color:#d3d3d3;'%>
              <br>
              <%= link_to "Booking Calendar", calendar_path, style: 'color:#d3d3d3;'%>
              <br>
              <%= link_to "Booking Search", search_bookings_path, style: 'color:#d3d3d3;'%>
              <br>
              <%= link_to "All Bookings", all_bookings_path, style: 'color:#d3d3d3;'%>
              <br>
              <%= link_to "Make a Booking", new_booking_path, style: 'color:#d3d3d3;'%>
                <br>
              <%= link_to "Subscription List", customers_url, style: 'color:#d3d3d3;'%>
              <br>
              <%= link_to "Staff", users_url, style: 'color:#d3d3d3;'%>
              <br>
               <%= link_to "Function Room", functions_url, style: 'color:#d3d3d3;'%>
               <br>
                <%= link_to "Daily Checks", daily_checks_today_path, style: 'color:#9ACD32;'%>
              <br><br>
              <b>External Pages </b> 
              <%= link_to "Booking Enquiry", booking_enquiry_url, style: 'color:#ffffe0;'%>
                <br>
                 <%= link_to "Hang Fire Southern Kitchen", hfsk_home_url, style: 'color:#ffffe0;'%>
             
             <% else %>
             <%= link_to "Log In", login_url, style: 'color:#FFFFFF;'%>
              
             
               <% end %><br><br>

</h6>