<%= bootstrap_form_for(@account, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-5") do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :company_name %>
    <%= f.text_field :primary_contact %>
    <%= f.text_field :email %>
    <%= f.text_field :phone %>
  
    <div class="col-sm-offset-2 col-sm-10">
     <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
     </div></div>
 
<% end %>
