<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-10">
<h2>
  <%= @account.company_name %>
</h2>

<p>
  <strong>Primary contact:</strong>
  <%= @account.primary_contact %>
</p>

<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @account.phone %>
</p>
<br>
<p>
  <strong>Restaurants</strong>
  <% if @account.restaurants.any? %>
  <% @account.restaurants.each do |restaurant| %>
    <ul>
    <li><p><%= restaurant.name %>, <%= restaurant.location %></p> </li>
    </ul>
    <% end %>
        <% end %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
